Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

add: comment ix (un)freeze inputs.owner, fix: capacity (un)freeze
  programs/compressed-token/src/freeze.rs
Owners: @ananas-block, @vadorovsky

feat: Add macros for compressed PDAs
  .cargo/config.toml
  Cargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/escrow.rs
  macros/light/src/accounts.rs
  macros/light/src/lib.rs
  macros/light/src/program.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/program_merkle_context.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: reenable register programs siger check
  cli/scripts/copyLocalProgramBinaries.sh
  programs/account-compression/Cargo.toml
  programs/account-compression/src/instructions/register_program.rs
  programs/account-compression/src/lib.rs
  programs/compressed-token/Cargo.toml
  programs/compressed-token/src/lib.rs
  programs/registry/Cargo.toml
  programs/registry/src/account_compression_cpi/register_program.rs
  programs/registry/src/lib.rs
  programs/system/Cargo.toml
  programs/system/src/lib.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/src/test_env.rs
Owners: @vadorovsky, @ananas-block

rename feature test -> test-program-ids
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_registry.ts
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
Owners: @ananas-block, @vadorovsky

chore: guard register program with registry_program_registered_program_pda
  programs/account-compression/src/instructions/register_program.rs
Owners: @ananas-block, @vadorovsky

chore: guard protocol config update active phase
  programs/registry/src/lib.rs
Owners: @ananas-block, @vadorovsky

add tlv to comment
  programs/compressed-token/src/process_transfer.rs
Owners: @ananas-block, @vadorovsky

rename GetLatestActiveEpochFailed -> GetCurrentActiveEpochFailed
  programs/registry/src/errors.rs
  programs/registry/src/protocol_config/state.rs
Owners: @ananas-block, @vadorovsky

fix spelling GetLatestedRegisterEpochFailed -> GetLatestRegisterEpochFailed
  programs/registry/src/errors.rs
  programs/registry/src/protocol_config/state.rs
Owners: @ananas-block, @vadorovsky

adapted error msg from: Active phase length must be greater than slot length.
  programs/registry/src/protocol_config/update.rs
Owners: @ananas-block, @vadorovsky

lld
  .cargo/config.toml
Owners: none

feat: Add macros for compressed PDAs (#1123)
  Cargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/escrow.rs
  macros/light/src/accounts.rs
  macros/light/src/lib.rs
  macros/light/src/program.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/program_merkle_context.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: comment ix (un)freeze inputs.owner, fix: capacity (un)freeze
  programs/compressed-token/src/freeze.rs
Owners: @ananas-block, @vadorovsky

Apply suggestions from code review
  programs/registry/src/lib.rs
Owners: @ananas-block, @vadorovsky

chore: fix informational findings (#1154)
  programs/compressed-token/src/process_transfer.rs
  programs/registry/src/errors.rs
  programs/registry/src/protocol_config/state.rs
  programs/registry/src/protocol_config/update.rs
Owners: @ananas-block, @vadorovsky

Refine development environment setup
  js/stateless.js/src/idls/account_compression.ts
  pnpm-lock.yaml
  scripts/devenv.sh
Owners: @vadorovsky

Remove redundant clone call in process_queue
  forester/src/epoch_manager.rs
Owners: none

refactor: forester: use handles when spawning queues (#1148)
  forester/src/epoch_manager.rs
Owners: none

Refactor epoch processing to use task handles
  forester/src/epoch_manager.rs
Owners: none

Update dependencies in Cargo.lock
  Cargo.lock
Owners: none

Remove redundant clone call in process_queue
  forester/src/epoch_manager.rs
Owners: none

Refactor import statements
  forester/src/epoch_manager.rs
Owners: none

Add handling for processing current and previous epochs
  forester/src/epoch_manager.rs
  forester/src/errors.rs
Owners: none

Add acknowledgment section to README
  light-prover/README.md
Owners: none

Add acknowledgment section to README (#1158)
  light-prover/README.md
Owners: none

feat: forester: recover previous epoch (#1156)
  Cargo.lock
  forester/src/epoch_manager.rs
  forester/src/errors.rs
Owners: none

Convert ptau to ph1
  scripts/tsc-create-r1cs.sh
Owners: @vadorovsky

chore: guard protocol config update active phase (#1153)
  programs/registry/src/lib.rs
Owners: @ananas-block, @vadorovsky

feat(sdk): Specify input and output Merkle tree separately
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  macros/light/src/accounts.rs
  macros/light/src/program.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

wip
  .gitignore
  scripts/create-ph2-files.sh
Owners: @vadorovsky

switch to 1.80.1
  rust-toolchain.toml
Owners: none

chore: fix cargo metadata error on first use of build.sh (#1155)
  js/stateless.js/src/idls/account_compression.ts
  pnpm-lock.yaml
  scripts/devenv.sh
Owners: @vadorovsky

fix: light prover inclusion setup import
  light-prover/prover/inclusion_circuit.go
Owners: none

Remove debug logging from SlotTracker and Solana RPC
  forester-utils/src/rpc/solana_rpc.rs
  forester/src/slot_tracker.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

Remove debug logging from SlotTracker and Solana RPC (#1163)
  forester-utils/src/rpc/solana_rpc.rs
  forester/src/slot_tracker.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

fix: light prover inclusion setup import (#1162)
  light-prover/prover/inclusion_circuit.go
Owners: none

Enable optional metrics reporting via CLI flag
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/main.rs
  forester/src/settings.rs
  forester/tests/test_utils.rs
Owners: none

test-upgrade
  test-programs/test-batch-transactions/src/lib.rs
Owners: none

Enable optional metrics reporting via CLI flag (#1164)
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/main.rs
  forester/src/settings.rs
  forester/tests/test_utils.rs
Owners: none

Refactor epoch processing; add retry logic for registration.
  forester/src/epoch_manager.rs
Owners: none
