Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

cli 0.18.0
  cli/package.json
  cli/src/commands/init/index.ts
  cli/src/utils/process.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fmt
  cli/src/commands/init/index.ts
  cli/src/utils/process.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: cli 0.18.0 (#1268)
  cli/package.json
  cli/src/commands/init/index.ts
  cli/src/utils/process.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactor: `deriveAddressSeed` and `deriveAddress` utilities
  js/stateless.js/src/utils/address.ts
  js/stateless.js/src/utils/conversion.ts
  programs/system/src/invoke/append_state.rs
  programs/system/src/invoke/verify_state_proof.rs
  programs/system/src/sdk/address.rs
  programs/system/src/sdk/compressed_account.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  utils/src/lib.rs
Owners: @vadorovsky, @ananas-block

chore: bump cli version and add .npmignore
  cli/.npmignore
  cli/package.json
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin

chore: bump cli version and add .npmignore (#1270)
  cli/.npmignore
  cli/package.json
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin

chore: add seed length error
  js/stateless.js/src/utils/address.ts
Owners: @vadorovsky

fix: stateless js lint error
  js/stateless.js/src/utils/address.ts
Owners: @vadorovsky

added bloomfilter
  Cargo.lock
  circuit-lib/verifier/src/lib.rs
  merkle-tree/bloom-filter/Cargo.toml
  merkle-tree/bloom-filter/src/lib.rs
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/hash-set/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/account-compression/src/errors.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/state/mod.rs
  programs/account-compression/src/state/queue.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: add seed length error (#1211)
  js/stateless.js/src/utils/address.ts
Owners: @vadorovsky

feat(sdk): Allow to define instructions without compressed accounts
  .github/workflows/pr.yml
  Cargo.lock
  Cargo.toml
  examples/mixed-accounts/.gitignore
  examples/mixed-accounts/Anchor.toml
  examples/mixed-accounts/README.md
  examples/mixed-accounts/programs/mixed-accounts/Cargo.toml
  examples/mixed-accounts/programs/mixed-accounts/Xargo.toml
  examples/mixed-accounts/programs/mixed-accounts/src/lib.rs
  macros/light-sdk-macros/src/program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

refactor: `deriveAddressSeed` and `deriveAddress` utilities
  examples/name-service/programs/name-service/tests/test.rs
  js/stateless.js/src/actions/create-account.ts
  js/stateless.js/src/utils/address.ts
  js/stateless.js/src/utils/conversion.ts
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  macros/light-sdk-macros/src/accounts.rs
  sdk/src/address.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

refactor: `deriveAddressSeed` and `deriveAddress` utilities (#1265)
  examples/name-service/programs/name-service/tests/test.rs
  js/stateless.js/src/actions/create-account.ts
  js/stateless.js/src/utils/address.ts
  js/stateless.js/src/utils/conversion.ts
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  macros/light-sdk-macros/src/accounts.rs
  sdk/src/address.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

feat(sdk): Allow to define instructions without compressed accounts (#1273)
  .github/workflows/pr.yml
  Cargo.lock
  Cargo.toml
  examples/mixed-accounts/.gitignore
  examples/mixed-accounts/Anchor.toml
  examples/mixed-accounts/README.md
  examples/mixed-accounts/programs/mixed-accounts/Cargo.toml
  examples/mixed-accounts/programs/mixed-accounts/Xargo.toml
  examples/mixed-accounts/programs/mixed-accounts/src/lib.rs
  macros/light-sdk-macros/src/program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

bump sdk 0.11.0, sdk-macros 0.4.0
  Cargo.lock
  Cargo.toml
  macros/light-sdk-macros/Cargo.toml
  sdk/Cargo.toml
Owners: @vadorovsky

bump sdk 0.11.0, sdk-macros 0.4.0 (#1274)
  Cargo.lock
  Cargo.toml
  macros/light-sdk-macros/Cargo.toml
  sdk/Cargo.toml
Owners: @vadorovsky

chore(stateless.js): Update README.md (#1236)
  js/stateless.js/README.md
Owners: none

add test case batch append
  merkle-tree/concurrent/tests/test-case.rs
Owners: @ananas-block, @vadorovsky

refactor: forester: 1. disable timeout checks 2. add derivation pubkey
  forester-utils/src/forester_epoch.rs
  forester-utils/src/registry.rs
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/main.rs
  forester/src/rollover/operations.rs
  forester/src/send_transaction.rs
  forester/src/tree_data_sync.rs
  forester/src/tree_finder.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/sdk.rs
  programs/registry/src/utils.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/address_tree_rollover.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/test_env.rs
  test-utils/src/test_forester.rs
Owners: @ananas-block, @vadorovsky

refactor: forester: (#1271)
  forester-utils/src/forester_epoch.rs
  forester-utils/src/registry.rs
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/main.rs
  forester/src/rollover/operations.rs
  forester/src/send_transaction.rs
  forester/src/tree_data_sync.rs
  forester/src/tree_finder.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/sdk.rs
  programs/registry/src/utils.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/address_tree_rollover.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/test_env.rs
  test-utils/src/test_forester.rs
Owners: @ananas-block, @vadorovsky

feat: add xtask forester stats
  Cargo.lock
  js/stateless.js/README.md
  js/stateless.js/src/utils/address.ts
  xtask/Cargo.toml
  xtask/src/forester_stats.rs
  xtask/src/main.rs
Owners: @vadorovsky

moved copy to forester
  forester/src/cli.rs
  forester/src/forester_stats.rs
  forester/src/lib.rs
  forester/src/main.rs
Owners: none

chore: move command to forester status
  forester/src/cli.rs
  forester/src/forester_status.rs
  forester/src/lib.rs
  forester/src/main.rs
  xtask/src/forester_stats.rs
  xtask/src/main.rs
Owners: @vadorovsky

remove unused imports
  Cargo.lock
  forester/src/forester_status.rs
  xtask/Cargo.toml
Owners: @vadorovsky

fix: Construct the shell command for killing processes safely
  cli/package.json
  cli/src/utils/process.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: photon api: deserialization of CompressedProof for /getValidityProof endpoint
  photon-api/src/models/compressed_proof.rs
Owners: none

Cleanup
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/forester_status.rs
  forester/src/main.rs
Owners: none

fix: Construct the shell command for killing processes safely (#1277)
  cli/package.json
  cli/src/utils/process.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: extend forester status command (#1276)
  Cargo.lock
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/forester_status.rs
  forester/src/lib.rs
  forester/src/main.rs
  js/stateless.js/README.md
  js/stateless.js/src/utils/address.ts
  xtask/Cargo.toml
Owners: @vadorovsky

fix: photon api: deserialization of CompressedProof for /getValidityProof endpoint (#1278)
  photon-api/src/models/compressed_proof.rs
Owners: none

fix: switch to bash in build and devenv scripts
  scripts/build.sh
  scripts/devenv.sh
Owners: @vadorovsky

debugging
  programs/account-compression/src/state/batched_merkle_tree.rs
Owners: @ananas-block, @vadorovsky

batched Merkle tree e2e test works with output queue
  js/stateless.js/src/idls/account_compression.ts
  pnpm-lock.yaml
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

fix: switch to bash in build and devenv scripts (#1279)
  scripts/build.sh
  scripts/devenv.sh
Owners: @vadorovsky

fix: Download binaries into a custom directory
  cli/src/utils/initTestEnv.ts
Owners: @vadorovsky

script
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

fix: e2e test work with input and output queues
  merkle-tree/bounded-vec/src/lib.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

bump
  js/stateless.js/package.json
  js/stateless.js/src/utils/address.ts
Owners: @vadorovsky

bump template versions
  cli/src/utils/constants.ts
  pnpm-lock.yaml
Owners: @vadorovsky

Refactor tree depth to tree height
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/merkle-tree/gen_test_data_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/combined_circuit.go
  light-prover/prover/combined_proving_system.go
  light-prover/prover/combined_test.go
  light-prover/prover/extractor.go
  light-prover/prover/inclusion_circuit.go
  light-prover/prover/inclusion_proving_system.go
  light-prover/prover/inclusion_test.go
  light-prover/prover/marshal.go
  light-prover/prover/non_inclusion_circuit.go
  light-prover/prover/non_inclusion_proving_system.go
  light-prover/prover/non_inclusion_test.go
Owners: @ananas-block, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
