Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

refactor: improve process killing logic
  cli/src/utils/process.ts
Owners: @vadorovsky

refactor: improve process killing logic (#1306)
  cli/src/utils/process.ts
Owners: @vadorovsky

stash: batched updates work with simulate transactions test
  circuit-lib/light-prover-client/src/batch_append.rs
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/mock_indexer.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/circuit_utils.go
  merkle-tree/reference/src/lib.rs
  merkle-tree/reference/src/sparse_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

add forester, forester-test, rpc, full modes
  .github/workflows/rust.yml
  circuit-lib/light-prover-client/scripts/prover.sh
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/tests/test.rs
  cli/src/commands/start-prover/index.ts
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/process.ts
  cli/src/utils/processProverServer.ts
  client/src/rpc/solana_rpc.rs
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  js/compressed-token/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/marshal.go
  light-prover/prover/proving_keys_utils.go
  light-prover/prover/string_utils.go
  light-prover/scripts/download_keys.sh
  light-prover/server/server.go
  pnpm-lock.yaml
  test-programs/compressed-token-test/tests/test.rs
  test-programs/e2e-test/tests/test.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @vadorovsky, @ananas-block, @sergeytimoshin, @SwenSchaeferjohann

Refactor prover spawning logic and dependencies
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  client/src/indexer/test_indexer.rs
Owners: @ananas-block, @sergeytimoshin

Add 'devenv' feature to light-prover-client
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  test-programs/registry-test/Cargo.toml
Owners: @ananas-block, @sergeytimoshin

Add step to build CLI in GitHub workflow
  .github/workflows/light-system-programs-tests.yml
Owners: none

integration tests: add prover bench mode
  light-prover/integration_test.go
  light-prover/prover/circuit_utils.go
Owners: none

Refactor integration tests and add batch append tests
  light-prover/integration_test.go
Owners: none

disable height 1000 tests
  light-prover/integration_test.go
  light-prover/prover/circuit_utils.go
Owners: none

add 1000
  light-prover/integration_test.go
  light-prover/prover/circuit_utils.go
Owners: none

fix batch size
  light-prover/integration_test.go
Owners: none

feat: New instruction format
  Cargo.lock
  Cargo.toml
  examples/name-service-without-macros/.gitignore
  examples/name-service-without-macros/.prettierignore
  examples/name-service-without-macros/Anchor.toml
  examples/name-service-without-macros/README.md
  examples/name-service-without-macros/migrations/deploy.ts
  examples/name-service-without-macros/package.json
  examples/name-service-without-macros/programs/name-service/Cargo.toml
  examples/name-service-without-macros/programs/name-service/Xargo.toml
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  examples/name-service-without-macros/tsconfig.json
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/proof.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Refactor tree fullness check and add detailed status logging
  forester/src/forester_status.rs
  forester/src/rollover/mod.rs
  forester/src/rollover/operations.rs
Owners: none

Fix broken pnpm-lock.yaml
  pnpm-lock.yaml
Owners: none

Deserialize each input separately
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/error.rs
  sdk/src/inputs.rs
  sdk/src/lib.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: New instruction format
  .github/workflows/light-examples-tests.yml
  Cargo.lock
  Cargo.toml
  examples/name-service-without-macros/.gitignore
  examples/name-service-without-macros/.prettierignore
  examples/name-service-without-macros/Anchor.toml
  examples/name-service-without-macros/README.md
  examples/name-service-without-macros/migrations/deploy.ts
  examples/name-service-without-macros/package.json
  examples/name-service-without-macros/programs/name-service/Cargo.toml
  examples/name-service-without-macros/programs/name-service/Xargo.toml
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  examples/name-service-without-macros/tsconfig.json
  sdk/src/account_info.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/error.rs
  sdk/src/inputs.rs
  sdk/src/lib.rs
  sdk/src/proof.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann

Update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: none

Fix build errors
  .github/workflows/rust.yml
  examples/name-service-without-macros/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

add comment
  programs/account-compression/src/state/batched_merkle_tree.rs
Owners: @ananas-block, @vadorovsky

feat: forester: add tree fullness to status cmd (#1312)
  forester/src/forester_status.rs
  forester/src/rollover/mod.rs
  forester/src/rollover/operations.rs
  pnpm-lock.yaml
Owners: none

Refactor circuit_utils.go and proving_keys_utils.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/proving_keys_utils.go
Owners: none

refactor: add arg run-mode to prover & cli (#1305)
  .github/workflows/light-system-programs-tests.yml
  .github/workflows/rust.yml
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/light-prover-client/scripts/prover.sh
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/tests/test.rs
  cli/src/commands/start-prover/index.ts
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/process.ts
  cli/src/utils/processProverServer.ts
  client/src/indexer/test_indexer.rs
  client/src/rpc/solana_rpc.rs
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  js/compressed-token/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/marshal.go
  light-prover/prover/proving_keys_utils.go
  light-prover/prover/string_utils.go
  light-prover/scripts/download_keys.sh
  light-prover/server/server.go
  test-programs/compressed-token-test/tests/test.rs
  test-programs/e2e-test/tests/test.rs
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky, @SwenSchaeferjohann

Fix the naming mismatch (`deserialize`, `serialize`)
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  sdk/src/inputs.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann

Remove leftover comment and function
  sdk/src/context.rs
Owners: none

Rename `LightInputs` to `LightInstructionData`
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  sdk/src/account_info.rs
  sdk/src/context.rs
  sdk/src/inputs.rs
Owners: @ananas-block, @SwenSchaeferjohann

Fix clippy error
  scripts/lint.sh
  sdk/src/compressed_account.rs
Owners: @vadorovsky

stash before account *mut
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/instructions/mod.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/utils/constants.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @vadorovsky

onchain account init works
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

Add `LightAccountMeta`
  sdk/src/account_meta.rs
  sdk/src/lib.rs
Owners: none

test: account compression program batch updates work
  circuit-lib/light-prover-client/src/mock_indexer.rs
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/batch_append.rs
  programs/account-compression/src/instructions/batch_nullify_leaves.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/instructions/mod.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/utils/queue.rs
  programs/system/src/invoke/emit_event.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/verify_state_proof.rs
  programs/system/src/invoke_cpi/initialize.rs
  programs/system/src/invoke_cpi/verify_signer.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

hasher
  Cargo.lock
  macros/light-sdk-macros/Cargo.toml
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/src/lib.rs
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

feat: add flexbile nullifier to circuit
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_update_json_formatter.rs
  circuit-lib/light-prover-client/src/mock_indexer.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: implement nullifier derivation from tx hash
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: add flexible nullifier to update circuit
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_update_json_formatter.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

test: batch
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/batch_append.rs
  programs/account-compression/src/instructions/batch_nullify_leaves.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

test: bounded vec
  merkle-tree/bounded-vec/Cargo.toml
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/concurrent/Cargo.toml
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @vadorovsky

cleanup
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/utils/constants.rs
Owners: @ananas-block, @vadorovsky

cleanup
  Cargo.lock
  merkle-tree/bloom-filter/src/lib.rs
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/reference/src/lib.rs
  programs/account-compression/src/instructions/batch_append.rs
  programs/account-compression/src/instructions/batch_nullify_leaves.rs
Owners: @ananas-block, @vadorovsky

regenerate update keys
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  light-prover/scripts/download_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
