Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

up pnpmlock
  pnpm-lock.yaml
Owners: none

fix: simplify file download logic in download_keys.sh
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

fix: simplify file download logic in download_keys.sh (#1386)
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

feat: JS add helper for priority_fee calc, fix JS builds, support jup-api-adapter, version bump (#1377)
  cli/package.json
  js/compressed-token/package.json
  js/compressed-token/rollup.config.js
  js/compressed-token/tsconfig.json
  js/stateless.js/package.json
  js/stateless.js/rollup.config.js
  js/stateless.js/src/instruction/pack-compressed-accounts.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/state/BN254.ts
  js/stateless.js/src/state/compressed-account.ts
  js/stateless.js/src/test-helpers/merkle-tree/indexed-array.ts
  js/stateless.js/src/utils/calculate-compute-unit-price.ts
  js/stateless.js/src/utils/index.ts
  js/stateless.js/tests/unit/instruction/pack-compressed-accounts.test.ts
  js/stateless.js/tests/unit/merkle-tree/merkle-tree.test.ts
  js/stateless.js/tests/unit/state/bn254.test.ts
  js/stateless.js/tests/unit/state/compressed-account.test.ts
  js/stateless.js/tests/unit/utils/conversion.test.ts
  js/stateless.js/tests/unit/utils/validation.test.ts
  js/stateless.js/tsconfig.json
  js/stateless.js/vitest.config.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

0.20.0
  cli/package.json
Owners: @ananas-block, @sergeytimoshin

add --geyser-config and --validator-args to CLI
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fmt tsconfig
  examples/browser/nextjs/tsconfig.json
Owners: @ananas-block, @SwenSchaeferjohann

feat: add --geyser-config and --validator-args CLI flags (#1388)
  cli/package.json
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
  examples/browser/nextjs/tsconfig.json
Owners: @ananas-block, @sergeytimoshin, @vadorovsky, @SwenSchaeferjohann

refactor: update run mode to ForesterTest in e2e tests and adjust key retrieval logic
  forester/tests/e2e_test.rs
  light-prover/prover/proving_keys_utils.go
  pnpm-lock.yaml
Owners: none

Update prover-test.yml
  .github/workflows/prover-test.yml
Owners: none

refactor: update prover run mode to ForesterTest in e2e tests and adjust key retrieval logic (#1389)
  .github/workflows/prover-test.yml
  forester/tests/e2e_test.rs
  light-prover/prover/proving_keys_utils.go
  pnpm-lock.yaml
Owners: none

fix: batch append public input computation (#1330)
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  light-prover/prover/batch_update_circuit.go
  merkle-tree/concurrent/tests/tests.rs
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: rollover state trees (#1371)
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/instructions/mod.rs
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/rollover_batch_state_merkle_tree.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/state/rollover.rs
  programs/account-compression/src/utils/mod.rs
  programs/registry/src/account_compression_cpi/initialize_batched_state_tree.rs
  programs/registry/src/account_compression_cpi/initialize_tree_and_queue.rs
  programs/registry/src/account_compression_cpi/mod.rs
  programs/registry/src/account_compression_cpi/rollover_batch_state_tree.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/lib.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @vadorovsky

fix: rebase
  .github/workflows/light-examples-tests.yml
  circuit-lib/light-prover-client/tests/gnark.rs
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/registry/src/lib.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: adapted account-compression to address tree height 40, registry-test broken
  circuit-lib/light-prover-client/src/batch_address_append.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  forester-utils/src/indexer/mod.rs
  forester/src/photon_indexer.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
  light-program-test/src/constants.rs
  light-program-test/src/lib.rs
  light-program-test/src/test_batch_forester.rs
  merkle-tree/hasher/src/zero_bytes/keccak.rs
  merkle-tree/hasher/src/zero_bytes/mod.rs
  merkle-tree/hasher/src/zero_bytes/poseidon.rs
  merkle-tree/hasher/src/zero_bytes/sha256.rs
  programs/account-compression/src/instructions/intialize_batch_address_merkle_tree.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/utils/constants.rs
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/e2e-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/indexer/test_indexer.rs
  xtask/src/zero_bytes.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactor: update health check timeout in spawn_prover function, rewrite prove_batch_append test
  .github/actionlint.yaml
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-program-test/src/test_env.rs
  merkle-tree/reference/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: rebase cleanup
  Cargo.lock
  light-program-test/Cargo.toml
  light-program-test/src/lib.rs
  light-program-test/src/test_batch_forester.rs
  light-program-test/src/test_env.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/create_address_test_program_sdk.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/lib.rs
  test-utils/src/spl.rs
  test-utils/src/test_forester.rs
Owners: none

feat: add installation of photon from GitHub for batched trees support
  scripts/install.sh
Owners: @vadorovsky

feat: enable downloading of gnark keys in installation script
  scripts/install.sh
Owners: @vadorovsky

chore: restrict workflow triggers to the main branch
  .github/workflows/forester-tests.yml
  .github/workflows/js.yml
  .github/workflows/light-examples-tests.yml
  .github/workflows/light-system-programs-tests.yml
  .github/workflows/lint.yml
  .github/workflows/prover-test.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
Owners: none

chore: add untested code
  js/compressed-token/src/actions/approve-and-mint-to.ts
  js/compressed-token/src/actions/compress-spl-token-account.ts
  js/compressed-token/src/actions/compress.ts
  js/compressed-token/src/actions/create-mint.ts
  js/compressed-token/src/actions/create-token-pool.ts
  js/compressed-token/src/actions/decompress.ts
  js/compressed-token/src/actions/merge-token-accounts.ts
  js/compressed-token/src/actions/mint-to.ts
  js/compressed-token/src/program.ts
  pnpm-lock.yaml
Owners: none

fix: tests
  js/compressed-token/src/actions/approve-and-mint-to.ts
  js/compressed-token/src/actions/compress-spl-token-account.ts
  js/compressed-token/src/actions/compress.ts
  js/compressed-token/src/actions/create-mint.ts
  js/compressed-token/src/actions/create-token-pool.ts
  js/compressed-token/src/actions/decompress.ts
  js/compressed-token/src/actions/mint-to.ts
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/approve-and-mint-to.test.ts
  js/compressed-token/tests/e2e/compress-spl-token-account.test.ts
  js/compressed-token/tests/e2e/compress.test.ts
  js/compressed-token/tests/e2e/transfer.test.ts
Owners: none

fix: lint
  js/compressed-token/tests/e2e/approve-and-mint-to.test.ts
  js/compressed-token/tests/e2e/transfer.test.ts
Owners: none

fix: cli
  cli/src/commands/compress-spl/index.ts
  cli/src/commands/decompress-spl/index.ts
Owners: @ananas-block, @sergeytimoshin

feat: add support for `--sbf-program` flag in test-validator
  cli/src/commands/test-validator/index.ts
Owners: @ananas-block, @sergeytimoshin

batch update 32, append-with-proofs 32
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_1.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_10.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_100.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_250.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_500.rs
  circuit-lib/verifier/src/verifying_keys/update_32_1.rs
  circuit-lib/verifier/src/verifying_keys/update_32_10.rs
  circuit-lib/verifier/src/verifying_keys/update_32_100.rs
  circuit-lib/verifier/src/verifying_keys/update_32_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_32_250.rs
  circuit-lib/verifier/src/verifying_keys/update_32_500.rs
  light-prover/integration_test.go
  light-prover/prover/proving_keys_utils.go
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: correct key appending logic in GetKeys function
  light-prover/prover/proving_keys_utils.go
Owners: none

feat: ts-sdk token 2022 support (#1392)
  cli/src/commands/compress-spl/index.ts
  cli/src/commands/decompress-spl/index.ts
  js/compressed-token/src/actions/approve-and-mint-to.ts
  js/compressed-token/src/actions/compress-spl-token-account.ts
  js/compressed-token/src/actions/compress.ts
  js/compressed-token/src/actions/create-mint.ts
  js/compressed-token/src/actions/create-token-pool.ts
  js/compressed-token/src/actions/decompress.ts
  js/compressed-token/src/actions/merge-token-accounts.ts
  js/compressed-token/src/actions/mint-to.ts
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/approve-and-mint-to.test.ts
  js/compressed-token/tests/e2e/compress-spl-token-account.test.ts
  js/compressed-token/tests/e2e/compress.test.ts
  js/compressed-token/tests/e2e/transfer.test.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin

test fixes
  circuit-lib/light-prover-client/tests/gnark.rs
  light-program-test/src/test_indexer.rs
  light-prover/integration_test.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/marshal_batch_address_append.go
  light-prover/test-data/combined.csv
  light-prover/test-data/inclusion.csv
  light-prover/test-data/non_inclusion.csv
  programs/system/src/invoke/processor.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/create-address-test-program/Cargo.toml
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: enhance test-validator with program validation and system program checks + add tests
  cli/package.json
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/processPhotonIndexer.ts
  cli/test/commands/test-validator/index.test.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

allow mintSize in createMint ix
  js/compressed-token/src/actions/create-mint.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/compressed-token/src/program.ts
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: none

0.17.0
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: none

* added usage example about how to use --sbf-program flag programs in test-validator command * added test check to validate the program deployment and ensure the account is executable
  cli/src/commands/test-validator/index.ts
  cli/test/commands/test-validator/index.test.ts
Owners: @ananas-block, @sergeytimoshin

feat: add support for `--sbf-program` flag in test-validator (#1393)
  cli/package.json
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/processPhotonIndexer.ts
  cli/test/commands/test-validator/index.test.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Enable `unexpected_cfgs` lint and clean up unused dependencies.
  Cargo.lock
  examples/token-escrow/programs/token-escrow/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  scripts/lint.sh
  test-programs/system-cpi-test/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann, @sergeytimoshin, @vadorovsky

Add Rust nightly installation to lint workflow
  .github/workflows/lint.yml
Owners: none

Add Rust target and components for nightly toolchain
  .github/workflows/lint.yml
Owners: none

add docstring to createMintIx
  js/compressed-token/src/program.ts
Owners: none

cli test-validator test: adjust wait time
  cli/test/commands/test-validator/index.test.ts
Owners: @ananas-block, @sergeytimoshin

feat: add state batch ops to forester
  Cargo.lock
  client/src/rpc/rpc_connection.rs
  client/src/rpc/solana_rpc.rs
  forester-utils/src/indexer/mod.rs
  forester/Cargo.toml
  forester/package.json
  forester/src/batched_ops.rs
  forester/src/epoch_manager.rs
  forester/src/forester_status.rs
  forester/src/lib.rs
  forester/src/photon_indexer.rs
  forester/src/tree_data_sync.rs
  forester/tests/batch_test.rs
  light-program-test/src/test_rpc.rs
  pnpm-lock.yaml
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/system_program.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann
