Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

refactor: Add more common types to `light-sdk`
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  sdk/Cargo.toml
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/constants.rs
  sdk/src/context.rs
  sdk/src/event.rs
  sdk/src/legacy.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Add @lightprotocol/zk-compression-cli to forester's devDependencies
  forester/package.json
  pnpm-lock.yaml
Owners: none

chore: remove unused configuration and script files (#1227)
  cli/src/commands/test-validator/index.ts
  forester/alert_rules.yml
  forester/alertmanager.yml
  forester/docker-compose.yml
  forester/forester.toml
  forester/package.json
  forester/prometheus.yml
  forester/scripts/generate.ts
  forester/scripts/spawn.sh
  forester/scripts/wait_for_db.sh
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Remove settings.rs and refactor configuration handling
  forester/Cargo.toml
  forester/Dockerfile
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/main.rs
  forester/src/metrics.rs
  forester/src/pubsub_client.rs
  forester/src/settings.rs
Owners: none

Simplify Dockerfile entrypoint
  forester/Dockerfile
Owners: none

Make `payer` and `rpc_url` optional in CLI args
  forester/src/cli.rs
  forester/src/config.rs
Owners: none

Rename `length` to `processing_length` in queue handlers.
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/queue_helpers.rs
Owners: none

Add GitHub Actions workflow for Docker build and push.
  .github/workflows/forester-build-and-push-to-docr.yml
Owners: none

Refactor config and CLI for better readability
  forester/src/cli.rs
  forester/src/config.rs
Owners: none

Update forester CI workflow configuration
  .github/workflows/forester-build-and-push-to-docr.yml
Owners: none

Update pushgateway URL in test utils configuration
  forester/tests/test_utils.rs
Owners: none

Standardize CLI argument environment variable names
  forester/src/cli.rs
Owners: none

Fix tests
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
Owners: none

Enhance logging for start script in Dockerfile
  forester/Dockerfile
Owners: none

Refactor Dockerfile to add custom startup script
  forester/Dockerfile
Owners: none

refactor: Remove hard dependency on `light-system-program` in SDK
  Cargo.lock
  Cargo.toml
  client/Cargo.toml
  client/src/indexer/mod.rs
  client/src/indexer/test_indexer.rs
  client/src/lib.rs
  client/src/rpc/merkle_tree.rs
  client/src/rpc/mod.rs
  client/src/rpc/test_rpc.rs
  client/src/rpc_pool.rs
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/Cargo.toml
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  forester-utils/Cargo.toml
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/lib.rs
  macros/light-sdk-macros/src/program.rs
  macros/light-sdk-macros/src/traits.rs
  sdk/Cargo.toml
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/constants.rs
  sdk/src/context.rs
  sdk/src/event.rs
  sdk/src/legacy.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/state.rs
  sdk/src/token.rs
  sdk/src/traits.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
  test-utils/src/test_env.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann, @ananas-block, @vadorovsky

Update SECURITY.md
  SECURITY.md
Owners: none

Remove commented code
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @SwenSchaeferjohann

Add a check for light-system-program ID
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/error.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann

Update SECURITY.md
  SECURITY.md
Owners: none

Update SECURITY.md
  SECURITY.md
Owners: none

refactor: refactor cli args (#1222)
  .github/workflows/forester-build-and-push-to-docr.yml
  forester/Cargo.toml
  forester/Dockerfile
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/main.rs
  forester/src/metrics.rs
  forester/src/pubsub_client.rs
  forester/src/queue_helpers.rs
  forester/src/settings.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
Owners: none

refactor: Remove hard dependency on `light-system-program` in SDK (#1230)
  Cargo.lock
  Cargo.toml
  client/Cargo.toml
  client/src/indexer/mod.rs
  client/src/indexer/test_indexer.rs
  client/src/lib.rs
  client/src/rpc/merkle_tree.rs
  client/src/rpc/mod.rs
  client/src/rpc/test_rpc.rs
  client/src/rpc_pool.rs
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/Cargo.toml
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  forester-utils/Cargo.toml
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/lib.rs
  macros/light-sdk-macros/src/program.rs
  macros/light-sdk-macros/src/traits.rs
  sdk/Cargo.toml
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/constants.rs
  sdk/src/context.rs
  sdk/src/error.rs
  sdk/src/event.rs
  sdk/src/legacy.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/state.rs
  sdk/src/token.rs
  sdk/src/traits.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
  test-utils/src/test_env.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann, @ananas-block, @vadorovsky

Update SECURITY.md
  SECURITY.md
Owners: none

Update#2 SECURITY.md
  SECURITY.md
Owners: none

chore: Update SECURITY.md (#1231)
  SECURITY.md
Owners: none

fix: IDL generation in programs using light-sdk
  examples/name-service/programs/name-service/src/lib.rs
  macros/light-sdk-macros/src/program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix: IDL generation in programs using light-sdk (#1233)
  examples/name-service/programs/name-service/src/lib.rs
  macros/light-sdk-macros/src/program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: build & deploy forester docker image when pushing to release branch
  .github/workflows/forester-build-and-push-to-docr.yml
  pnpm-lock.yaml
Owners: none

refactor: Instruction data
  client/src/indexer/mod.rs
  client/src/indexer/test_indexer.rs
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/merkle_context.rs
  sdk/src/program_merkle_context.rs
  sdk/src/proof.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore(stateless.js): Update README.md
  js/stateless.js/README.md
Owners: none

fix process spawning in cli/utils
  cli/src/utils/process.ts
Owners: @vadorovsky

fix test-ledger path
  cli/src/utils/process.ts
Owners: @vadorovsky

chore: Update README.md
  README.md
Owners: none

chore: Update README.md
  README.md
Owners: none

less copies
  macros/light-sdk-macros/src/accounts.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
Owners: @vadorovsky

wip
  .gitignore
  cli/package.json
  cli/src/commands/create-token-pool/index.ts
  cli/src/commands/merge-token-accounts/index.ts
  cli/test/commands/approve-and-mint-to/index.test.ts
  cli/test/commands/create-token-pool/index.test.ts
  cli/test/commands/merge-token-accounts/index.test.ts
  examples/browser/nextjs/package.json
  examples/node/esm/package.json
  js/compressed-token/package.json
  js/compressed-token/src/actions/create-token-pool.ts
  js/compressed-token/src/actions/index.ts
  js/compressed-token/src/actions/merge-token-accounts.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/create-token-pool.test.ts
  js/compressed-token/tests/e2e/merge-token-accounts.test.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann

chore: Update README.md (#1238)
  README.md
Owners: none

fix: process spawning in cli/utils (#1237)
  cli/src/utils/process.ts
Owners: @vadorovsky

stash
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  cli/src/utils/processProverServer.ts
  client/src/indexer/test_indexer.rs
  examples/name-service/programs/name-service/Cargo.toml
  sdk/src/compressed_account.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky, @SwenSchaeferjohann
