Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

chore: update shebang to use bash instead of sh in every script (#1296)
  scripts/clean.sh
  scripts/coverage.sh
  scripts/format.sh
  scripts/lint.sh
  scripts/push-compressed-token-idl.sh
  scripts/push-stateless-js-idls.sh
  scripts/release-all-rust-crates.sh
  scripts/test.sh
  scripts/tsc-create-r1cs.sh
Owners: @vadorovsky

Refactor integration tests and update circuit keys
  light-prover/integration_test.go
  light-prover/prover/circuit_utils.go
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

Refactor batch_update_circuit_test.go to remove unused variables
  light-prover/prover/batch_update_circuit_test.go
Owners: none

Refactor batch_update_circuit_test.go to remove unused variables and update circuit keys
  light-prover/prover/batch_update_circuit_test.go
Owners: none

chore: add Fedora installation instructions for clang and lld (#1297)
  README.md
Owners: none

reuse MerkleProofGadget & update keys
  circuit-lib/verifier/src/verifying_keys/append_10_1.rs
  circuit-lib/verifier/src/verifying_keys/append_10_10.rs
  circuit-lib/verifier/src/verifying_keys/append_10_100.rs
  circuit-lib/verifier/src/verifying_keys/append_10_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_10_500.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/append_4_1.rs
  circuit-lib/verifier/src/verifying_keys/append_4_10.rs
  circuit-lib/verifier/src/verifying_keys/append_4_100.rs
  circuit-lib/verifier/src/verifying_keys/update_10_1.rs
  circuit-lib/verifier/src/verifying_keys/update_10_10.rs
  circuit-lib/verifier/src/verifying_keys/update_10_100.rs
  circuit-lib/verifier/src/verifying_keys/update_10_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_10_500.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_update_circuit.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

remove unnecessary vkeys
  circuit-lib/verifier/src/verifying_keys/append_10_1.rs
  circuit-lib/verifier/src/verifying_keys/append_10_10.rs
  circuit-lib/verifier/src/verifying_keys/append_10_100.rs
  circuit-lib/verifier/src/verifying_keys/append_10_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_10_500.rs
  circuit-lib/verifier/src/verifying_keys/append_4_1.rs
  circuit-lib/verifier/src/verifying_keys/append_4_10.rs
  circuit-lib/verifier/src/verifying_keys/append_4_100.rs
  circuit-lib/verifier/src/verifying_keys/append_4_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_4_500.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  circuit-lib/verifier/src/verifying_keys/update_10_1.rs
  circuit-lib/verifier/src/verifying_keys/update_10_10.rs
  circuit-lib/verifier/src/verifying_keys/update_10_100.rs
  circuit-lib/verifier/src/verifying_keys/update_10_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_10_500.rs
  circuit-lib/verifier/src/verifying_keys/update_4_1.rs
  circuit-lib/verifier/src/verifying_keys/update_4_10.rs
  circuit-lib/verifier/src/verifying_keys/update_4_100.rs
  circuit-lib/verifier/src/verifying_keys/update_4_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_4_500.rs
Owners: @ananas-block, @sergeytimoshin

format
  circuit-lib/verifier/src/verifying_keys/mod.rs
Owners: @ananas-block, @sergeytimoshin

feat: batch update circuit (#1291)
  .github/workflows/prover-test.yml
  README.md
  circuit-lib/light-prover-client/scripts/prover.sh
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  circuit-lib/verifier/tests/test.rs
  cli/src/commands/start-prover/index.ts
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/processProverServer.ts
  js/compressed-token/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_circuit_helpers.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
  light-prover/server/server.go
  scripts/install.sh
Owners: @vadorovsky, @ananas-block, @sergeytimoshin

chore: add comments about how append method works
  light-prover/prover/batch_append_circuit.go
Owners: none

refactor: disable logging by default in TestRpc class
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
Owners: none

Update light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_append_circuit.go
Owners: none

chore: add comments about how append method works (#1300)
  light-prover/prover/batch_append_circuit.go
Owners: none

refactor: prover: support lightweight integration tests
  light-prover/prover/circuit_utils.go
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

refactor: partial batch zkp updates, flexible sized root history array with seq
  programs/account-compression/src/errors.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

refactor: unified public inputs into hashchain
  light-prover/merkle-tree/merkle_tree.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_append_circuit_test.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/marshal_append.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
Owners: @ananas-block, @vadorovsky

light-prover-client: add batch append and update formatters
  circuit-lib/light-prover-client/src/batch_append.rs
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_append_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/batch_update_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/mod.rs
  circuit-lib/light-prover-client/src/lib.rs
Owners: @ananas-block, @sergeytimoshin

Deserialize each input separately
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: add MerkleRootUpdateGadget gadget
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/circuit_utils.go
Owners: none

refactor: update marshaling logic for batch append and update parameters
  circuit-lib/verifier/src/verifying_keys/append_10_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/update_10_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/marshal_append.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
Owners: @ananas-block, @sergeytimoshin

refactor: update download keys script with new append and update buckets
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

refactor: update workflow to download keys based on pull request base branch
  .github/workflows/prover-test.yml
Owners: none

feat: merkle root update gadget (#1303)
  .github/workflows/prover-test.yml
  circuit-lib/light-prover-client/src/batch_append.rs
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_append_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/batch_update_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/mod.rs
  circuit-lib/light-prover-client/src/lib.rs
  circuit-lib/verifier/src/verifying_keys/append_10_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/update_10_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  light-prover/merkle-tree/merkle_tree.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_append_circuit_test.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/marshal_append.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/download_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactor: disable logging by default in TestRpc class (#1301)
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
Owners: none

fix: add light prover client batch update and append tests
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/light-prover-client/scripts/prover.sh
  circuit-lib/light-prover-client/src/batch_append.rs
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_append_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/marshal_append.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
  merkle-tree/reference/src/lib.rs
  merkle-tree/reference/src/sparse_merkle_tree.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactored input queue into mt account
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

fixed bounded vec imports
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

debugging
  programs/account-compression/src/state/batched_merkle_tree.rs
Owners: @ananas-block, @vadorovsky

test: rnd account init works
  programs/account-compression/src/errors.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

refactor: partial batch zkp updates, flexible sized root history array with seq
  programs/account-compression/src/errors.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

chore: moved offset to bounded vec, added bounded vec init and deserialize
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/bounded-vec/src/offset/copy.rs
  merkle-tree/bounded-vec/src/offset/mod.rs
  merkle-tree/bounded-vec/src/offset/zero_copy.rs
  merkle-tree/concurrent/src/copy.rs
  merkle-tree/concurrent/src/zero_copy.rs
  merkle-tree/indexed/src/copy.rs
  merkle-tree/indexed/src/zero_copy.rs
  utils/src/lib.rs
Owners: @ananas-block, @vadorovsky

added bloomfilter
  Cargo.lock
  circuit-lib/verifier/src/lib.rs
  merkle-tree/bloom-filter/Cargo.toml
  merkle-tree/bloom-filter/src/lib.rs
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/hash-set/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/account-compression/src/errors.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/state/mod.rs
  programs/account-compression/src/state/queue.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: replace is_inserted with state
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

batched Merkle tree e2e test works with output queue
  js/stateless.js/src/idls/account_compression.ts
  pnpm-lock.yaml
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

stash
  merkle-tree/bounded-vec/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

fix: e2e test work with input and output queues
  merkle-tree/bounded-vec/src/lib.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

chore: rename wipe bloomfilter -> wipe_batch
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

implemented batch prove and verification in rust tests untested
  Cargo.lock
  circuit-lib/light-prover-client/src/lib.rs
  circuit-lib/light-prover-client/src/mock_indexer.rs
  circuit-lib/verifier/src/lib.rs
  programs/account-compression/Cargo.toml
  programs/account-compression/src/state/batched_merkle_tree.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: light prover client concurrency
  circuit-lib/light-prover-client/tests/gnark.rs
Owners: @ananas-block, @sergeytimoshin

fix: add light prover client batch update and append tests (#1304)
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/light-prover-client/scripts/prover.sh
  circuit-lib/light-prover-client/src/batch_append.rs
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_append_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/marshal_append.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
  merkle-tree/reference/src/lib.rs
  merkle-tree/reference/src/sparse_merkle_tree.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
