Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

chore: update idls
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
Owners: none

chore: update idls (#1184)
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
Owners: none

chore: Bump version of all TypeScript projects
  cli/package.json
  examples/browser/nextjs/package.json
  examples/name-service/package.json
  examples/node/esm/package.json
  examples/token-escrow/package.json
  forester/package.json
  hasher.rs/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
  programs/package.json
  tsconfig/package.json
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

chore: Bump version of all Rust projects
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/verifier/Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  heap/Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light/Cargo.toml
  merkle-tree/bounded-vec/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/hasher/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  merkle-tree/reference/Cargo.toml
  photon-api/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

Refactor variable name for clarity
  forester/src/epoch_manager.rs
Owners: none

Add refactor rollover logic
  forester/src/epoch_manager.rs
  forester/src/slot_tracker.rs
Owners: none

Optimize epoch manager code alignment
  forester/src/epoch_manager.rs
Owners: none

chore: Bump version of all Rust projects
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/verifier/Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  heap/Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light/Cargo.toml
  merkle-tree/bounded-vec/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/hasher/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  merkle-tree/reference/Cargo.toml
  photon-api/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

refactor: async rollover (#1183)
  forester/src/epoch_manager.rs
  forester/src/slot_tracker.rs
Owners: none

Set compute unit limit to 1,000,000 in epoch manager.
  forester/src/epoch_manager.rs
Owners: none

Include IDL and other changes post build
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
Owners: none

Set compute unit limit to 1,000,000 in epoch manager. (#1188)
  forester/src/epoch_manager.rs
Owners: none

extract light-sdk-macros
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
  macros/light-sdk-macros/Cargo.lock
  macros/light-sdk-macros/Cargo.toml
  macros/light-sdk-macros/README.md
  macros/light-sdk-macros/src/account.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/discriminator.rs
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/src/lib.rs
  macros/light-sdk-macros/src/program.rs
  macros/light-sdk-macros/src/traits.rs
  macros/light-sdk-macros/tests/hasher.rs
  macros/light/src/lib.rs
  photon-api/Cargo.toml
  programs/registry/Cargo.toml
  sdk/Cargo.toml
  sdk/src/lib.rs
  test-utils/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

extract light-sdk-macros (#1189)
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  macros/light-sdk-macros/Cargo.lock
  macros/light-sdk-macros/Cargo.toml
  macros/light-sdk-macros/README.md
  macros/light-sdk-macros/src/account.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/discriminator.rs
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/src/lib.rs
  macros/light-sdk-macros/src/program.rs
  macros/light-sdk-macros/src/traits.rs
  macros/light-sdk-macros/tests/hasher.rs
  macros/light/src/lib.rs
  photon-api/Cargo.toml
  programs/registry/Cargo.toml
  sdk/Cargo.toml
  sdk/src/lib.rs
  test-utils/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix: lint
  macros/light-sdk-macros/README.md
  macros/light-sdk-macros/src/lib.rs
  macros/light/src/lib.rs
  sdk/Cargo.toml
  sdk/readme.md
Owners: @vadorovsky

fix: lint (#1190)
  macros/light-sdk-macros/README.md
  macros/light-sdk-macros/src/lib.rs
  macros/light/src/lib.rs
  sdk/Cargo.toml
  sdk/readme.md
Owners: @vadorovsky

Add retry configuration for transaction handling
  forester-utils/src/rpc/mod.rs
  forester-utils/src/rpc/solana_rpc.rs
  forester/forester.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/send_transaction.rs
  forester/src/settings.rs
  forester/tests/test_utils.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

update crates release script to allow sdks releases separately
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

metadata for forester-utils
  forester-utils/Cargo.toml
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

metadata for forester-utils
  forester-utils/Cargo.toml
Owners: none

Remove commented-out epoch parameter
  forester/src/epoch_manager.rs
Owners: none

refactor: send_batched_transactions optimisation (#1191)
  forester-utils/src/rpc/mod.rs
  forester-utils/src/rpc/solana_rpc.rs
  forester/forester.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/send_transaction.rs
  forester/src/settings.rs
  forester/tests/test_utils.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

refactor: Remove dependency on programs in SDK
  Cargo.lock
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/Cargo.toml
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/sdk.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/sdk.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/withdrawal.rs
  examples/token-escrow/programs/token-escrow/src/lib.rs
  forester-utils/Cargo.toml
  forester-utils/src/indexer/mod.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  macros/light-sdk-macros/src/traits.rs
  sdk/Cargo.toml
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/constants.rs
  sdk/src/context.rs
  sdk/src/event.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/traits.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
  test-utils/Cargo.toml
  test-utils/src/assert_compressed_tx.rs
  test-utils/src/assert_token_tx.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/spl.rs
  test-utils/src/system_program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: add audit reports
  README.md
  audits/neodyme_v1_audit.pdf
  audits/ottersec_v1_audit.pdf
  audits/reilabs_circuits_formal_verification_report.pdf
Owners: none

add neodyme_v1_audit.pdf
  audits/neodyme_v1_audit.pdf
Owners: none

Update README.md
  README.md
Owners: none

fix registry test
  README.md
Owners: none

chore: added readme verification commands don't work
  scripts/deploy-devnet.sh
  scripts/deploy.sh
Owners: @vadorovsky

chore: release rust-sdks and js-sdks (#1192)
  forester-utils/Cargo.toml
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

chore: add audit reports (#1169)
  README.md
  audits/neodyme_v1_audit.pdf
  audits/ottersec_v1_audit.pdf
  audits/reilabs_circuits_formal_verification_report.pdf
Owners: none

Refactor epoch manager timeout calculations
  forester/src/epoch_manager.rs
  forester/src/send_transaction.rs
Owners: none

fix: token-escrow tests
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/sdk.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/sdk.rs
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Fix URLs of audit reports
  README.md
Owners: none

chore: Fix URLs of audit reports (#1196)
  README.md
Owners: none

fix: system-program tests
  test-programs/system-test/tests/test.rs
Owners: none

chore: added readme verification commands don't work (#1194)
  scripts/deploy-devnet.sh
  scripts/deploy.sh
Owners: @vadorovsky

Refactor epoch manager timeout calculations (#1195)
  forester/src/epoch_manager.rs
  forester/src/send_transaction.rs
Owners: none

fix: compressed-token tests
  test-programs/compressed-token-test/tests/test.rs
Owners: none

chore: add verify build readme
  README.md
  scripts/deploy-devnet.sh
Owners: @vadorovsky

fix: system-cpi tests
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-cpi-test/src/sdk.rs
  test-programs/system-cpi-test/tests/test.rs
Owners: none

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
