Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

feat: New instruction format
  .github/workflows/light-examples-tests.yml
  .github/workflows/rust.yml
  Cargo.lock
  examples/name-service/programs/name-service-without-macros/Cargo.toml
  examples/name-service/programs/name-service-without-macros/Xargo.toml
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  scripts/lint.sh
  sdk/src/account.rs
  sdk/src/account_info.rs
  sdk/src/account_meta.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/error.rs
  sdk/src/instruction_data.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/transfer.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
  test-programs/sdk-test-program/programs/sdk-test/src/lib.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

test: `LightAccountInfo::transfer` (SOL transfer between cPDAs)
  sdk/src/transfer.rs
Owners: none

chore: cleanup
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/utils/queue.rs
  programs/system/src/invoke/emit_event.rs
  programs/system/src/invoke/nullify_state.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/sum_check.rs
  programs/system/src/invoke/verify_state_proof.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-programs/system-cpi-test/src/lib.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @ananas-block, @vadorovsky

feat: New instruction format (#1288)
  .github/workflows/light-examples-tests.yml
  .github/workflows/rust.yml
  Cargo.lock
  examples/name-service/programs/name-service-without-macros/Cargo.toml
  examples/name-service/programs/name-service-without-macros/Xargo.toml
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  scripts/lint.sh
  sdk/src/account.rs
  sdk/src/account_info.rs
  sdk/src/account_meta.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/error.rs
  sdk/src/instruction_data.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/transfer.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
  test-programs/sdk-test-program/programs/sdk-test/src/lib.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix tests
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/test-rpc.test.ts
  programs/system/src/invoke/append_state.rs
  programs/system/src/invoke/sum_check.rs
Owners: @ananas-block, @vadorovsky

enable ci
  .github/workflows/forester-build-and-push-to-docr.yml
  .github/workflows/forester-tests.yml
  .github/workflows/js.yml
  .github/workflows/light-examples-tests.yml
  .github/workflows/light-system-programs-tests.yml
  .github/workflows/lint.yml
  .github/workflows/prover-test.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
Owners: none

fix lint
  forester/src/main.rs
Owners: none

added photon client test
  Cargo.lock
  client/Cargo.toml
  client/tests/indexer_test.rs
Owners: none

lint
  client/tests/indexer_test.rs
Owners: none

clean
  forester/tests/test_utils.rs
Owners: none

lint
  forester/tests/test_utils.rs
Owners: none

batch address append
  Cargo.lock
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/merkle-tree/indexed_merkle_tree.go
  light-prover/merkle-tree/indexed_merkle_tree_test.go
  light-prover/merkle-tree/merkle_tree.go
  light-prover/merkle-tree/merkle_tree_test.go
  light-prover/merkle-tree/zero_bytes.go
  light-prover/prover/batch_address_append.go
  light-prover/prover/batch_address_append_test.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_circuit_helpers.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/marshal_address_append.go
  light-prover/prover/test_data_generator.go
  light-prover/prover/test_data_helpers.go
  light-prover/server/server.go
  merkle-tree/indexed/tests/tests.rs
  merkle-tree/reference/Cargo.toml
  merkle-tree/reference/src/lib.rs
  pnpm-lock.yaml
Owners: @ananas-block, @vadorovsky

batch address update
  Cargo.lock
  light-prover/merkle-tree/indexed_merkle_tree.go
  light-prover/merkle-tree/indexed_merkle_tree_test.go
  light-prover/merkle-tree/merkle_tree.go
  light-prover/merkle-tree/merkle_tree_test.go
  light-prover/merkle-tree/zero_bytes.go
  light-prover/prover/batch_address_update.go
  light-prover/prover/batch_address_update_test.go
  light-prover/prover/batch_append_with_subtrees_circuit.go
  light-prover/prover/batch_circuit_helpers.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/test_data_generator.go
  light-prover/prover/test_data_helpers.go
  merkle-tree/indexed/tests/tests.rs
  merkle-tree/reference/Cargo.toml
  merkle-tree/reference/src/lib.rs
Owners: @ananas-block, @vadorovsky

fix: path index appends
  light-prover/merkle-tree/merkle_tree.go
  light-prover/prover/batch_address_update.go
  light-prover/prover/batch_append_with_subtrees_circuit.go
Owners: @ananas-block, @vadorovsky

fixed circuit and added test data for batch size 1 and 2
  examples/name-service/programs/name-service/src/lib.rs
  light-prover/prover/batch_address_update.go
  light-prover/prover/batch_address_update_test.go
  light-prover/prover/marshal.go
  light-prover/prover/marshall_batch_address_update.go
  merkle-tree/indexed/src/reference.rs
  merkle-tree/indexed/tests/tests.rs
  merkle-tree/reference/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

remove redundant code
  light-prover/prover/batch_address_update.go
  light-prover/prover/batch_address_update_test.go
Owners: none

add new test for hardcoded address append case (batch size = 2, tree height = 4)
  light-prover/prover/batch_address_update_test.go
Owners: none

test: `light_sdk::merkle_context`
  sdk/src/merkle_context.rs
Owners: none

ci: Add codecov statistics for Rust
  .github/workflows/rust.yml
Owners: none

wip
  light-prover/prover/batch_address_update.go
  light-prover/prover/batch_address_update_test.go
  light-prover/prover/batch_append_with_proofs_circuit.go
  light-prover/prover/batch_append_with_subtrees_circuit.go
  light-prover/prover/batch_circuit_helpers.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/marshal.go
  merkle-tree/indexed/tests/tests.rs
Owners: @ananas-block, @vadorovsky

fix input data
  light-prover/prover/batch_address_update.go
  light-prover/prover/batch_address_update_test.go
  merkle-tree/indexed/tests/tests.rs
Owners: @ananas-block, @vadorovsky

wip
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_500.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/batch_address_append_circuit.go
  light-prover/prover/batch_address_append_circuit_test.go
  light-prover/prover/batch_address_update.go
  light-prover/prover/batch_address_update_test.go
  light-prover/prover/batch_append_with_proofs_circuit.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/inclusion_test.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_batch_address_append.go
  light-prover/prover/marshal_combined.go
  light-prover/prover/marshal_inclusion.go
  light-prover/prover/marshall_batch_address_update.go
  light-prover/prover/proving_keys_utils.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/generate_keys.sh
  light-prover/server/server.go
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

add photonrpc
  Cargo.lock
  client/Cargo.toml
  client/src/rpc/mod.rs
  client/src/rpc/photon_rpc.rs
  forester/src/photon_indexer.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

photon client
  client/src/rpc/mod.rs
  client/src/rpc/photon_client.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

export photonclient
  client/src/rpc/mod.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

add rust client wrapper
  Cargo.lock
  circuit-lib/light-prover-client/src/batch_address_append.rs
  circuit-lib/light-prover-client/src/gnark/batch_address_append_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/src/gnark/mod.rs
  circuit-lib/light-prover-client/src/helpers.rs
  circuit-lib/light-prover-client/src/lib.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-prover/prover/batch_address_append_circuit.go
  light-prover/prover/batch_address_append_circuit_test.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_batch_address_append.go
  merkle-tree/indexed/Cargo.toml
  merkle-tree/indexed/tests/tests.rs
  merkle-tree/reference/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

use hex conventions
  circuit-lib/light-prover-client/tests/gnark.rs
  light-prover/prover/batch_address_append_circuit.go
  light-prover/prover/batch_address_append_circuit_test.go
  light-prover/prover/marshal_batch_address_append.go
Owners: @ananas-block, @sergeytimoshin

remove redundant merkle tree tests
  merkle-tree/indexed/tests/tests.rs
Owners: @ananas-block, @vadorovsky

invalid witness size debugging
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_4_1.rs
  light-prover/integration_test.go
  light-prover/prover/proving_keys_utils.go
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fixed address append key gen
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_4_1.rs
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/batch_address_append_circuit.go
  light-prover/prover/circuit_builder.go
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

test are green
  circuit-lib/light-prover-client/src/batch_address_append.rs
  circuit-lib/light-prover-client/src/batch_append_with_proofs.rs
  circuit-lib/light-prover-client/src/batch_append_with_subtrees.rs
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/helpers.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  merkle-tree/reference/src/sparse_merkle_tree.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

cleanup
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_4_1.rs
  light-prover/integration_test.go
  light-prover/prover/proving_keys_utils.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactor: update FindLowElementIndex to return an error and simplify logic in IndexedArray
  light-prover/merkle-tree/indexed_merkle_tree.go
Owners: @ananas-block, @vadorovsky

refactor: update BuildTestAddressTree to handle error from FindLowElementIndex
  light-prover/prover/test_data_helpers.go
Owners: none

refactor: update BuildTestAddressTree to accept previous tree and adjust index handling
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_500.rs
  light-prover/integration_test.go
  light-prover/prover/batch_address_append_circuit.go
  light-prover/prover/proving_keys_utils.go
  light-prover/prover/test_data_helpers.go
Owners: @ananas-block, @sergeytimoshin

feat: add BatchAddressAppend support and related keys
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/address_append_4_1.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  light-prover/scripts/download_keys.sh
  light-prover/server/server.go
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: implement circuit generation for various batch sizes and account types
  light-prover/scripts/generate_keys.sh
Owners: @vadorovsky

refactor: clean up imports and improve code formatting across multiple files
  circuit-lib/light-prover-client/src/batch_address_append.rs
  circuit-lib/light-prover-client/src/batch_append_with_proofs.rs
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_address_append_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/src/gnark/mod.rs
  circuit-lib/light-prover-client/src/helpers.rs
  circuit-lib/light-prover-client/src/lib.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  cli/.npmignore
  cli/src/commands/start-prover/index.ts
  cli/src/utils/process.ts
  merkle-tree/indexed/tests/tests.rs
  merkle-tree/reference/src/sparse_merkle_tree.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Update APPEND_ADDRESS_BUCKET in download_keys.sh
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

Update BuildTestAddressTree call to include nil parameter
  light-prover/prover/batch_address_append_circuit_test.go
Owners: none
