Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @sergeytimoshin, @SwenSchaeferjohann, @ananas-block, @vadorovsky

CODEOWNERS:

account.rs/ @sergeytimoshin
assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
psp-examples/ @ananas-block @sergeytimoshin
psp-template/ @ananas-block @sergeytimoshin @vadorovsky
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

chore: check circular dependencies on `pnpm lint`
  account.rs/package.json
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
  package.json
  pnpm-lock.yaml
Owners: @sergeytimoshin, @ananas-block

remove unnecessary trailing comma after account.rs/package.json
  account.rs/package.json
Owners: @sergeytimoshin

enable e2e ts gnark tests
  circuit-lib/circuit-lib.js/package.json
Owners: @ananas-block, @sergeytimoshin

chore: move gnark keys to ipfs
  gnark-prover/circuits/inclusion_26_1.key
  gnark-prover/circuits/inclusion_26_1.vkey
  gnark-prover/circuits/inclusion_26_2.key
  gnark-prover/circuits/inclusion_26_2.vkey
  gnark-prover/circuits/inclusion_26_3.key
  gnark-prover/circuits/inclusion_26_3.vkey
  gnark-prover/circuits/inclusion_26_4.key
  gnark-prover/circuits/inclusion_26_4.vkey
  gnark-prover/circuits/inclusion_26_8.key
  gnark-prover/circuits/inclusion_26_8.vkey
  gnark-prover/scripts/download_keys.sh
  scripts/install.sh
Owners: @vadorovsky

Add prover keys download step to GitHub workflow
  .github/workflows/prover-test.yml
Owners: none

Implement download retries in download_keys.sh script
  gnark-prover/.gitignore
  gnark-prover/scripts/download_keys.sh
Owners: @vadorovsky
