Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

remove unused imports
  merkle-tree/indexed/tests/tests.rs
Owners: @ananas-block, @vadorovsky

Remove debug print statements
  circuit-lib/light-prover-client/src/batch_address_append.rs
  cli/.npmignore
  merkle-tree/indexed/tests/tests.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Correct typo in test attribute
  merkle-tree/indexed/tests/tests.rs
Owners: @ananas-block, @vadorovsky

photon client all endpoints
  client/src/lib.rs
  client/src/photon_rpc/error.rs
  client/src/photon_rpc/mod.rs
  client/src/photon_rpc/models.rs
  client/src/photon_rpc/photon_client.rs
  client/src/photon_rpc/types.rs
  client/src/rpc/mod.rs
  client/src/rpc/photon_client.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

add tests, debug sigkill
  Cargo.lock
  client/Cargo.toml
  client/src/photon_rpc/mod.rs
  client/src/photon_rpc/photon_client.rs
  client/tests/photon_client.rs
Owners: none

added tests for all endpoints light client photonclient
  Cargo.lock
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  client/Cargo.toml
  client/src/photon_rpc/mod.rs
  client/src/photon_rpc/models.rs
  client/src/photon_rpc/photon_client.rs
  client/tests/photon_client.rs
  client/tests/rpc_client.rs
Owners: @ananas-block, @sergeytimoshin

test: `LightAccountInfo::transfer` (SOL transfer between cPDAs) (#1341)
  sdk/src/transfer.rs
Owners: none

test: `light_sdk::merkle_context` (#1343)
  sdk/src/merkle_context.rs
Owners: none

Revert "test: `LightAccountInfo::transfer` (SOL transfer between cPDAs) (#1341)"
  sdk/src/transfer.rs
Owners: none

Revert "test: `LightAccountInfo::transfer` (SOL transfer between cPDAs) (#1341)" (#1350)
  sdk/src/transfer.rs
Owners: none

test: `LightAccountInfo::transfer` (SOL transfer between cPDAs)
  sdk/src/transfer.rs
Owners: none

refactor: update health check timeout in spawn_prover function, rewrite prove_batch_append test
  .github/actionlint.yaml
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  merkle-tree/reference/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: batch append public input computation (#1330)
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  light-prover/prover/batch_update_circuit.go
  merkle-tree/concurrent/tests/tests.rs
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: rebase
  .github/workflows/light-examples-tests.yml
  merkle-tree/indexed/tests/tests.rs
Owners: @ananas-block, @vadorovsky

clean up cli logs, fix ci validator init
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  cli/src/utils/initTestEnv.ts
  cli/src/utils/process.ts
  cli/src/utils/processProverServer.ts
  client/src/rpc/solana_rpc.rs
  client/tests/rpc_client.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky, @SwenSchaeferjohann

rm commented logs
  cli/src/utils/process.ts
  cli/src/utils/processProverServer.ts
Owners: @vadorovsky

better asserts
  client/tests/rpc_client.rs
Owners: none

try isolate client test
  .github/workflows/rust.yml
Owners: none

test: `LightAccountInfo::transfer` (SOL transfer between cPDAs)
  sdk/src/transfer.rs
Owners: none

chore: standalone photonclient (#1345)
  .github/workflows/rust.yml
  Cargo.lock
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  cli/src/utils/initTestEnv.ts
  cli/src/utils/process.ts
  cli/src/utils/processProverServer.ts
  client/Cargo.toml
  client/src/lib.rs
  client/src/photon_rpc/error.rs
  client/src/photon_rpc/mod.rs
  client/src/photon_rpc/models.rs
  client/src/photon_rpc/photon_client.rs
  client/src/photon_rpc/types.rs
  client/src/rpc/solana_rpc.rs
  client/tests/rpc_client.rs
  forester/src/photon_indexer.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky, @SwenSchaeferjohann

add lgiht-program-test crate
  Cargo.lock
  Cargo.toml
  client/src/indexer/mod.rs
  client/src/lib.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  examples/name-service/programs/name-service/tests/test.rs
  forester-utils/src/address_merkle_tree_config.rs
  forester-utils/src/indexer/mod.rs
  forester-utils/src/lib.rs
  forester-utils/src/registry.rs
  forester/Cargo.toml
  forester/src/rollover/operations.rs
  forester/tests/e2e_test.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  light-program-test/src/test_indexer.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-utils/src/assert_compressed_tx.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/lib.rs
  test-utils/src/test_batch_forester.rs
  test-utils/src/test_forester.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

bump to 0.50.0, add getCompressedTokenBalancesByOwnerV2, extend rem. endpoints with opt. cursors
  cli/src/utils/constants.ts
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  scripts/install.sh
Owners: @vadorovsky

upd name paginatedoptions
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
Owners: none

released js
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

feat: add light-program-test crate and integrate into existing modules
  Cargo.lock
  Cargo.toml
  client/src/indexer/mod.rs
  client/src/rpc/mod.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/tests/test.rs
  light-program-test/Cargo.toml
  light-program-test/src/lib.rs
  light-program-test/src/test_indexer.rs
  light-program-test/src/test_rpc.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-utils/Cargo.toml
  test-utils/src/test_env.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann, @ananas-block, @vadorovsky

refactor: remove AddressMerkleTree{Accounts,Bundle}, StateMerkleTree{Accounts, Bundle} from forester-utils
  Cargo.lock
  client/src/indexer/mod.rs
  forester-utils/src/address_merkle_tree_config.rs
  forester-utils/src/indexer/mod.rs
  forester-utils/src/registry.rs
  forester/src/rollover/operations.rs
  forester/tests/e2e_test.rs
  light-program-test/src/test_indexer.rs
  test-programs/account-compression-test/Cargo.toml
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-utils/src/assert_compressed_tx.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/lib.rs
  test-utils/src/test_batch_forester.rs
  test-utils/src/test_forester.rs
Owners: none

refactor: move ProofRpcResult and related structs to light-client
  client/src/indexer/mod.rs
  client/src/rpc/mod.rs
  forester-utils/src/indexer/mod.rs
  sdk/Cargo.toml
  sdk/src/instruction_data.rs
  sdk/src/proof.rs
  sdk/src/verify.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

add --no-reset flag to install.sh
  scripts/install.sh
Owners: @vadorovsky

clean readme
  cli/README.md
  js/stateless.js/README.md
Owners: @ananas-block, @sergeytimoshin

upd readme
  js/stateless.js/README.md
Owners: none

upd readme for ctoken
  js/compressed-token/README.md
Owners: none

capitalization
  js/compressed-token/README.md
Owners: none

bump js release, readme updates
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

refactor: rename ProofRpcResult to CompressedProofWithContext, remove duplications
  Cargo.lock
  client/Cargo.toml
  client/src/indexer/mod.rs
  client/src/rpc/mod.rs
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  forester-utils/Cargo.toml
  forester-utils/src/indexer/mod.rs
  js/stateless.js/src/idls/account_compression.ts
  light-program-test/Cargo.toml
  light-program-test/src/test_indexer.rs
  sdk/Cargo.toml
  sdk/src/instruction_data.rs
  sdk/src/proof.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
  test-utils/Cargo.toml
  test-utils/src/assert_token_tx.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/lib.rs
  test-utils/src/spl.rs
  test-utils/src/system_program.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann, @ananas-block

feat: bump to 0.50.0, add getCompressedTokenBalancesByOwnerV2 (#1353)
  cli/README.md
  cli/package.json
  cli/src/utils/constants.ts
  js/compressed-token/README.md
  js/compressed-token/package.json
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  js/stateless.js/README.md
  js/stateless.js/package.json
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: rebase
  .github/workflows/light-examples-tests.yml
  circuit-lib/light-prover-client/tests/gnark.rs
  light-prover/prover/batch_append_with_proofs_circuit.go
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/registry/src/lib.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

account_info.rs
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  sdk/readme.md
  sdk/src/account.rs
  sdk/src/account_info.rs
  test-programs/sdk-test-program/programs/sdk-test/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

wip
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  sdk/src/account.rs
  sdk/src/account_info.rs
  sdk/src/transfer.rs
  test-programs/sdk-test-program/programs/sdk-test/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

feat: compress spl token account
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_compress_spl_token_account.rs
  programs/compressed-token/src/process_transfer.rs
  test-programs/compressed-token-test/tests/test.rs
  test-utils/src/spl.rs
Owners: @ananas-block, @vadorovsky

fix: lint
  js/compressed-token/README.md
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  scripts/format.sh
  test-utils/src/spl.rs
Owners: @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
