Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

feat: batch address circuit: added proving keys {1, 10, 100, 250, 500, 1000} for mt height=40
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_10.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_100.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_1000.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_250.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_500.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_500.rs
  light-prover/prover/batch_append_with_proofs_circuit.go
  light-prover/prover/proving_keys_utils.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Update tests to use tree height 40 for address append
  light-prover/integration_test.go
Owners: none

feat: add light-program-test crate and integrate into existing modules (#1372)
  Cargo.lock
  Cargo.toml
  client/src/indexer/mod.rs
  client/src/rpc/mod.rs
  examples/name-service/programs/name-service-without-macros/Cargo.toml
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/tests/test.rs
  light-program-test/Cargo.toml
  light-program-test/src/lib.rs
  light-program-test/src/test_indexer.rs
  light-program-test/src/test_rpc.rs
  test-programs/sdk-test-program/programs/sdk-test/Cargo.toml
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-utils/Cargo.toml
  test-utils/src/test_env.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann, @ananas-block, @vadorovsky

feat: batch address circuit: added proving keys for mt height=40 (#1374)
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_10.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_100.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_1000.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_250.rs
  circuit-lib/verifier/src/verifying_keys/address_append_40_500.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_500.rs
  light-prover/integration_test.go
  light-prover/prover/batch_append_with_proofs_circuit.go
  light-prover/prover/proving_keys_utils.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

test: batch state tree rollover
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/instructions/rollover_batch_state_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/registry/src/account_compression_cpi/rollover_batch_state_tree.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/lib.rs
  scripts/format.sh
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @vadorovsky

cleanup
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/rollover_batch_state_merkle_tree.rs
Owners: @ananas-block, @vadorovsky

feat: rollover state trees (#1371)
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/instructions/mod.rs
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/rollover_batch_state_merkle_tree.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/state/rollover.rs
  programs/account-compression/src/utils/mod.rs
  programs/registry/src/account_compression_cpi/initialize_batched_state_tree.rs
  programs/registry/src/account_compression_cpi/initialize_tree_and_queue.rs
  programs/registry/src/account_compression_cpi/mod.rs
  programs/registry/src/account_compression_cpi/rollover_batch_state_tree.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/lib.rs
  scripts/format.sh
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @vadorovsky

fix: stop zeroing out commitments proven by inclusion
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

test: add tests and format
  Cargo.lock
  circuit-lib/light-prover-client/src/batch_address_append.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/instructions/rollover_batch_address_merkle_tree.rs
  programs/account-compression/src/instructions/rollover_batch_state_merkle_tree.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/system/src/invoke/address.rs
  programs/system/src/invoke/instruction.rs
  programs/system/src/invoke/verify_state_proof.rs
  programs/system/src/sdk/address.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/create-address-test-program/src/create_pda.rs
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/src/sdk.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/create_address_test_program_sdk.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

add readonly account tests
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/system/src/errors.rs
  programs/system/src/invoke/emit_event.rs
  programs/system/src/invoke/nullify_state.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/sum_check.rs
  programs/system/src/invoke/verify_signer.rs
  programs/system/src/invoke/verify_state_proof.rs
  programs/system/src/sdk/invoke.rs
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/src/sdk.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/system_program.rs
Owners: @ananas-block, @vadorovsky

start refactor read only accounts
  programs/system/src/invoke/instruction.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/verify_signer.rs
  programs/system/src/invoke/verify_state_proof.rs
  programs/system/src/invoke_cpi/instruction.rs
  programs/system/src/invoke_cpi/processor.rs
  programs/system/src/sdk/address.rs
  programs/system/src/sdk/compressed_account.rs
  test-programs/system-cpi-test/src/create_pda.rs
Owners: @ananas-block, @vadorovsky

fix: enable devenv feature for light-program-test in name-service's Cargo.toml
  examples/name-service/programs/name-service-without-macros/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann

refactor test_indexer
  Cargo.lock
  client/Cargo.toml
  client/src/indexer/mod.rs
  forester/src/rollover/operations.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  light-program-test/Cargo.toml
  light-program-test/src/test_indexer.rs
  sdk/src/proof.rs
  test-programs/account-compression-test/Cargo.toml
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/compressed-token-test/Cargo.toml
  test-programs/compressed-token-test/tests/test.rs
  test-programs/e2e-test/tests/test.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-programs/system-test/Cargo.toml
  test-programs/system-test/tests/test.rs
  test-utils/Cargo.toml
  test-utils/src/assert_compressed_tx.rs
  test-utils/src/assert_token_tx.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/lib.rs
  test-utils/src/spl.rs
  test-utils/src/system_program.rs
  test-utils/src/test_forester.rs
Owners: @ananas-block, @vadorovsky

refactor: migrate indexer module to light_client and remove unused references
  Cargo.lock
  client/Cargo.toml
  client/src/indexer/mod.rs
  forester-utils/Cargo.toml
  forester-utils/src/address_merkle_tree_config.rs
  forester-utils/src/indexer/mod.rs
  forester-utils/src/lib.rs
  forester-utils/src/registry.rs
  forester/src/epoch_manager.rs
  forester/src/errors.rs
  forester/src/lib.rs
  forester/src/photon_indexer.rs
  forester/src/rollover/operations.rs
  forester/src/send_transaction.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  light-program-test/Cargo.toml
  light-program-test/src/test_indexer.rs
  test-utils/src/indexer/mod.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/lib.rs
Owners: none

remove unused hashing functions in test_indexer.rs
  light-program-test/src/test_indexer.rs
Owners: none

diff
  cli/package.json
  js/compressed-token/package.json
  js/compressed-token/rollup.config.js
  js/compressed-token/tsconfig.json
  js/stateless.js/package.json
  js/stateless.js/rollup.config.js
  js/stateless.js/src/instruction/pack-compressed-accounts.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/state/BN254.ts
  js/stateless.js/src/state/compressed-account.ts
  js/stateless.js/src/test-helpers/merkle-tree/indexed-array.ts
  js/stateless.js/src/utils/calculate-compute-unit-price.ts
  js/stateless.js/src/utils/index.ts
  js/stateless.js/tests/unit/instruction/pack-compressed-accounts.test.ts
  js/stateless.js/tests/unit/merkle-tree/merkle-tree.test.ts
  js/stateless.js/tests/unit/state/bn254.test.ts
  js/stateless.js/tests/unit/state/compressed-account.test.ts
  js/stateless.js/tests/unit/utils/conversion.test.ts
  js/stateless.js/tests/unit/utils/validation.test.ts
  js/stateless.js/tsconfig.json
  js/stateless.js/vitest.config.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fmt and lint
  cli/package.json
  js/stateless.js/src/state/BN254.ts
  js/stateless.js/tests/unit/utils/validation.test.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: read only accounts
  circuit-lib/verifier/src/lib.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/system/src/errors.rs
  programs/system/src/invoke/instruction.rs
  programs/system/src/invoke/nullify_state.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/sum_check.rs
  programs/system/src/invoke/verify_state_proof.rs
  programs/system/src/invoke_cpi/instruction.rs
  programs/system/src/invoke_cpi/processor.rs
  programs/system/src/lib.rs
  programs/system/src/sdk/address.rs
  programs/system/src/sdk/compressed_account.rs
  programs/system/src/sdk/invoke.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/src/lib.rs
  test-programs/system-cpi-test/src/sdk.rs
  test-programs/system-cpi-test/tests/test.rs
  test-utils/src/e2e_test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

bump versions
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

feat: read only accounts
  circuit-lib/verifier/src/lib.rs
  forester/src/rollover/operations.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/system/src/errors.rs
  programs/system/src/invoke/instruction.rs
  programs/system/src/invoke/nullify_state.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/sum_check.rs
  programs/system/src/invoke/verify_state_proof.rs
  programs/system/src/invoke_cpi/instruction.rs
  programs/system/src/invoke_cpi/processor.rs
  programs/system/src/lib.rs
  programs/system/src/sdk/address.rs
  programs/system/src/sdk/compressed_account.rs
  programs/system/src/sdk/invoke.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/src/lib.rs
  test-programs/system-cpi-test/src/sdk.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/e2e_test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactor: rename batch append helper methods & add more integration tests
  .github/workflows/prover-test.yml
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/batch_append_with_proofs_circuit_test.go
  light-prover/prover/batch_append_with_subtrees_circuit.go
  light-prover/prover/batch_append_with_subtrees_circuit_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/marshal_batch_append_with_subtrees.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/download_keys.sh
  light-prover/server/server.go
Owners: @vadorovsky

feat: implement conversion from CompressedAccountWithMerkleContext (programs) to CompressedAccountWithMerkleContext (sdk)
  sdk/src/compressed_account.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
Owners: @ananas-block, @vadorovsky

fix: proof by index check in system program
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/system/src/invoke/emit_event.rs
  programs/system/src/invoke/nullify_state.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/sum_check.rs
  programs/system/src/invoke/verify_state_proof.rs
  programs/system/src/lib.rs
  programs/system/src/sdk/invoke.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/system_program.rs
Owners: @ananas-block, @vadorovsky

Add support for SDK conversions in test utilities
  Cargo.lock
  client/Cargo.toml
  client/src/indexer/mod.rs
  client/src/rpc/solana_rpc.rs
  examples/token-escrow/programs/token-escrow/Cargo.toml
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  forester/src/lib.rs
  forester/src/send_transaction.rs
  forester/tests/test_utils.rs
  light-program-test/src/test_indexer.rs
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/package.json
  sdk/Cargo.toml
  sdk/src/compressed_account.rs
  test-programs/compressed-token-test/Cargo.toml
  test-programs/compressed-token-test/tests/test.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/Cargo.toml
  test-utils/src/assert_token_tx.rs
  test-utils/src/conversions.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/lib.rs
  test-utils/src/spl.rs
  test-utils/src/system_program.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann, @ananas-block, @vadorovsky

Refactor system-cpi-test test
  Cargo.lock
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-cpi-test/tests/test.rs
Owners: none

Refactor conversion functions
  .github/workflows/light-system-programs-tests.yml
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/conversions.rs
Owners: @ananas-block, @vadorovsky

refactor: rename batch append helper methods & add more integration tests (#1375)
  .github/workflows/prover-test.yml
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/batch_append_with_proofs_circuit_test.go
  light-prover/prover/batch_append_with_subtrees_circuit.go
  light-prover/prover/batch_append_with_subtrees_circuit_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/marshal_batch_append_with_subtrees.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/download_keys.sh
  light-prover/server/server.go
Owners: @vadorovsky

refactor: tx hash
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/verify_state_proof.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @ananas-block, @vadorovsky

fix: add doc string to compress_spl_token_account, replace ArithmeticUnderflow error with InsufficientTokenAccountBalance, add failing test InsufficientTokenAccountBalance
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_compress_spl_token_account.rs
  test-programs/compressed-token-test/tests/test.rs
Owners: @ananas-block, @vadorovsky

refactor: update health check timeout in spawn_prover function, rewrite prove_batch_append test
  .github/actionlint.yaml
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-program-test/src/test_env.rs
  merkle-tree/reference/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: batch append public input computation (#1330)
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  light-prover/prover/batch_update_circuit.go
  merkle-tree/concurrent/tests/tests.rs
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: rebase
  .github/workflows/light-examples-tests.yml
  circuit-lib/light-prover-client/tests/gnark.rs
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/registry/src/lib.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: rollover state trees (#1371)
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/instructions/mod.rs
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/rollover_batch_state_merkle_tree.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/state/rollover.rs
  programs/account-compression/src/utils/mod.rs
  programs/registry/src/account_compression_cpi/initialize_batched_state_tree.rs
  programs/registry/src/account_compression_cpi/initialize_tree_and_queue.rs
  programs/registry/src/account_compression_cpi/mod.rs
  programs/registry/src/account_compression_cpi/rollover_batch_state_tree.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/lib.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @vadorovsky

chore: rebase cleanup
  Cargo.lock
  light-program-test/Cargo.toml
  light-program-test/src/lib.rs
  light-program-test/src/test_batch_forester.rs
  light-program-test/src/test_env.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/create_address_test_program_sdk.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/lib.rs
  test-utils/src/spl.rs
  test-utils/src/test_forester.rs
Owners: none

fix: add doc string to compress_spl_token_account, replace ArithmeticUnderflow error with InsufficientTokenAccountBalance, add failing test InsufficientTokenAccountBalance (#1383)
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_compress_spl_token_account.rs
  test-programs/compressed-token-test/tests/test.rs
Owners: @ananas-block, @vadorovsky

Bumps nx from 19.6.2 to 20.2.1.
  package.json
  pnpm-lock.yaml
Owners: none

chore: adapted account-compression to address tree height 40, registry-test broken
  circuit-lib/light-prover-client/src/batch_address_append.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/address_append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  forester-utils/src/indexer/mod.rs
  forester/src/photon_indexer.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
  light-program-test/src/constants.rs
  light-program-test/src/lib.rs
  light-program-test/src/test_batch_forester.rs
  merkle-tree/hasher/src/zero_bytes/keccak.rs
  merkle-tree/hasher/src/zero_bytes/mod.rs
  merkle-tree/hasher/src/zero_bytes/poseidon.rs
  merkle-tree/hasher/src/zero_bytes/sha256.rs
  programs/account-compression/src/instructions/intialize_batch_address_merkle_tree.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/utils/constants.rs
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/e2e-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/indexer/test_indexer.rs
  xtask/src/zero_bytes.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

recovered onchain support of height 26 address trees
  circuit-lib/light-prover-client/src/batch_append_with_subtrees.rs
  circuit-lib/verifier/src/lib.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_1.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_2.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_3.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_4.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_8.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  light-prover/main.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
  programs/system/src/errors.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/verify_state_proof.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Update method calls to use `get_compressed_accounts_by_owner`
  forester/tests/test_utils.rs
Owners: none

diff
  cli/package.json
  js/compressed-token/package.json
  js/compressed-token/rollup.config.js
  js/compressed-token/tsconfig.json
  js/stateless.js/package.json
  js/stateless.js/rollup.config.js
  js/stateless.js/src/instruction/pack-compressed-accounts.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/state/BN254.ts
  js/stateless.js/src/state/compressed-account.ts
  js/stateless.js/src/test-helpers/merkle-tree/indexed-array.ts
  js/stateless.js/src/utils/calculate-compute-unit-price.ts
  js/stateless.js/src/utils/index.ts
  js/stateless.js/tests/unit/instruction/pack-compressed-accounts.test.ts
  js/stateless.js/tests/unit/merkle-tree/merkle-tree.test.ts
  js/stateless.js/tests/unit/state/bn254.test.ts
  js/stateless.js/tests/unit/state/compressed-account.test.ts
  js/stateless.js/tests/unit/utils/conversion.test.ts
  js/stateless.js/tests/unit/utils/validation.test.ts
  js/stateless.js/tsconfig.json
  js/stateless.js/vitest.config.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
