Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

feat: Add `derive_address_seed` helper
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/address.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  utils/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix: Remove the "seed bump" mechanism
  sdk/src/address.rs
  utils/src/lib.rs
Owners: @vadorovsky

feat: Add `derive_address_seed` helper (#1109)
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/address.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  utils/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

no groth16 bump
  Cargo.toml
Owners: none

wip
  .cargo/config.toml
  cli/package.json
  js/compressed-token/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/compressed-token/tests/e2e/compress.test.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/get-parsed-events.ts
  pnpm-lock.yaml
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

first version refactor process queue
  Cargo.lock
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/send_transaction.rs
  test-programs/test-batch-transactions/Cargo.toml
  test-programs/test-batch-transactions/Xargo.toml
  test-programs/test-batch-transactions/perf.data
  test-programs/test-batch-transactions/scripts/start-test-validator.sh
  test-programs/test-batch-transactions/src/lib.rs
  test-programs/test-batch-transactions/tests/batch-test.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
  test-utils/src/rpc/test_rpc.rs
Owners: @vadorovsky, @sergeytimoshin, @SwenSchaeferjohann

debugged forester tests
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/queue_helpers.rs
  forester/src/send_transaction.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  test-utils/src/forester_epoch.rs
  test-utils/src/indexer/test_indexer.rs
Owners: none

removed test batch transactions program
  Cargo.lock
  test-programs/test-batch-transactions/Cargo.toml
  test-programs/test-batch-transactions/Xargo.toml
  test-programs/test-batch-transactions/perf.data
  test-programs/test-batch-transactions/scripts/start-test-validator.sh
  test-programs/test-batch-transactions/src/lib.rs
  test-programs/test-batch-transactions/tests/batch-test.rs
Owners: @vadorovsky

fix clippy
  forester/src/send_transaction.rs
  js/compressed-token/tests/e2e/mint-to.test.ts
  test-utils/src/rpc/test_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

fixed comments
  forester/src/epoch_manager.rs
  forester/src/send_transaction.rs
  forester/tests/e2e_test.rs
  js/compressed-token/tests/e2e/mint-to.test.ts
  test-utils/src/indexer/test_indexer.rs
Owners: none

fixed comments
  forester/src/epoch_manager.rs
  forester/src/send_transaction.rs
  forester/tests/e2e_test.rs
  test-utils/src/indexer/test_indexer.rs
Owners: none

chore: Update syn to 2.0
  Cargo.lock
  Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light/Cargo.toml
  macros/light/src/accounts.rs
  macros/light/src/hasher.rs
  macros/light/src/traits.rs
Owners: @vadorovsky

chore: forester batch transactions (#1110)
  Cargo.lock
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/queue_helpers.rs
  forester/src/send_transaction.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  js/compressed-token/tests/e2e/mint-to.test.ts
  test-utils/src/forester_epoch.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
  test-utils/src/rpc/test_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

bump photon
  .cargo/config.toml
  cli/src/utils/constants.ts
  scripts/bump-versions-and-publish-npm.sh
  scripts/install.sh
Owners: @vadorovsky

chore: Update syn to 2.0 (#1115)
  Cargo.lock
  Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light/Cargo.toml
  macros/light/src/accounts.rs
  macros/light/src/hasher.rs
  macros/light/src/traits.rs
Owners: @vadorovsky

bump 0.44.0 and cli
  cli/package.json
  cli/src/utils/constants.ts
  js/compressed-token/package.json
  js/stateless.js/package.json
  pnpm-lock.yaml
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

use lld
  .cargo/config.toml
Owners: none

chore: bump photon to 0.44.0 (#1117)
  cli/package.json
  cli/src/utils/constants.ts
  js/compressed-token/package.json
  js/stateless.js/package.json
  pnpm-lock.yaml
  scripts/bump-versions-and-publish-npm.sh
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: Bump version of all Rust projects
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/verifier/Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  heap/Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light/Cargo.toml
  merkle-tree/bounded-vec/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/hasher/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  merkle-tree/reference/Cargo.toml
  photon-api/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

rebase
  .cargo/config.toml
  Cargo.lock
Owners: none

use lld
  .cargo/config.toml
Owners: none

enable ci interop tests
  .github/workflows/js.yml
  js/compressed-token/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: none

fix actionlint ci
  .github/workflows/js.yml
Owners: none

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

wip
  Cargo.toml
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

wip
  examples/name-service/programs/name-service/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann

wip
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann

wip
  Cargo.lock
Owners: none

wip
  Cargo.toml
Owners: none

wip
  Cargo.toml
Owners: none

wip
  Cargo.lock
Owners: none

wip
  programs/account-compression/Cargo.toml
  scripts/release-all-rust-crates.sh
Owners: @ananas-block, @vadorovsky

wip
  Cargo.lock
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: Bump version of all Rust projects
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/verifier/Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  heap/Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light/Cargo.toml
  merkle-tree/bounded-vec/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/hasher/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  merkle-tree/reference/Cargo.toml
  photon-api/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

bump rust patch, jank agavve fork
  Cargo.lock
  Cargo.toml
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
Owners: none

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

chore: Bump version of all Rust projects
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/verifier/Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  heap/Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light/Cargo.toml
  merkle-tree/bounded-vec/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/hasher/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  merkle-tree/reference/Cargo.toml
  photon-api/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
