Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

fix: derive nullifier in circuit from leaf and tx hash
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_update_json_formatter.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
Owners: @ananas-block, @sergeytimoshin

feat: add flexible nullifier to update circuit
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_update_json_formatter.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/download_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: e2e test
  programs/account-compression/src/state/batched_merkle_tree.rs
Owners: @ananas-block, @vadorovsky

chore: add full asserts to simulate tx test
  circuit-lib/light-prover-client/src/mock_indexer.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

regenerate uodate keys
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  light-prover/scripts/download_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: add flexible nullifier to update circuit (#1315)
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_update_json_formatter.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

test: root overwrite test
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @vadorovsky

cleanup
  Cargo.lock
  programs/account-compression/Cargo.toml
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

fmt
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

ignore doctest
  macros/light-sdk-macros/src/program.rs
Owners: @vadorovsky

feat: New instruction format
  .github/workflows/light-examples-tests.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  examples/name-service-without-macros/.gitignore
  examples/name-service-without-macros/.prettierignore
  examples/name-service-without-macros/Anchor.toml
  examples/name-service-without-macros/README.md
  examples/name-service-without-macros/migrations/deploy.ts
  examples/name-service-without-macros/package.json
  examples/name-service-without-macros/programs/name-service/Cargo.toml
  examples/name-service-without-macros/programs/name-service/Xargo.toml
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  examples/name-service-without-macros/tsconfig.json
  pnpm-lock.yaml
  scripts/lint.sh
  sdk/src/account_info.rs
  sdk/src/account_meta.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/error.rs
  sdk/src/instruction_data.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

feat: Adapt macros to the new instruction input format
  examples/name-service/programs/name-service/src/lib.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

hash nested structs properly + add test cases for 12,13, nested, truncate cases
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/tests/hasher.rs
  merkle-tree/hasher/src/lib.rs
Owners: @vadorovsky, @ananas-block

cleanup
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

rm clone dep
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

wip
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

test: Add `mut` and `close` actions in `mixed-accounts` example
  examples/mixed-accounts/programs/mixed-accounts/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: New instruction format
  .github/workflows/light-examples-tests.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  examples/name-service-without-macros/.gitignore
  examples/name-service-without-macros/.prettierignore
  examples/name-service-without-macros/Anchor.toml
  examples/name-service-without-macros/README.md
  examples/name-service-without-macros/migrations/deploy.ts
  examples/name-service-without-macros/package.json
  examples/name-service-without-macros/programs/name-service/Cargo.toml
  examples/name-service-without-macros/programs/name-service/Xargo.toml
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  examples/name-service-without-macros/tsconfig.json
  pnpm-lock.yaml
  scripts/lint.sh
  sdk/src/account_info.rs
  sdk/src/account_meta.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/error.rs
  sdk/src/instruction_data.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix: Raise an error when input is specified, but data not
  sdk/src/compressed_account.rs
  sdk/src/error.rs
Owners: none

chore: Rename `LightAccount::new` to `from_light_account_info`
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  sdk/src/compressed_account.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Assignment of `seed` in `LightAccount::derive_address`
  sdk/src/compressed_account.rs
Owners: none

chore: Remove `AnchorDeserialize` from `LightAccountInfo`
  sdk/src/account_info.rs
Owners: none

fix: Copy lamports from compressed account
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  sdk/src/account_meta.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Make `output_merkle_tree` mandatory in `new_mut`
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  sdk/src/account_meta.rs
Owners: @ananas-block, @SwenSchaeferjohann

todo: check test_nested_option
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

chore: Keep both DNS examples in one Anchor workspace
  Cargo.toml
  examples/name-service-without-macros/.gitignore
  examples/name-service-without-macros/.prettierignore
  examples/name-service-without-macros/Anchor.toml
  examples/name-service-without-macros/README.md
  examples/name-service-without-macros/migrations/deploy.ts
  examples/name-service-without-macros/package.json
  examples/name-service-without-macros/tsconfig.json
  examples/name-service/programs/name-service-without-macros/Cargo.toml
  examples/name-service/programs/name-service-without-macros/Xargo.toml
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  pnpm-lock.yaml
Owners: @ananas-block, @SwenSchaeferjohann

chore: Store output data as `Rc<RefCell<Vec<u8>>>`
  sdk/src/account_info.rs
  sdk/src/compressed_account.rs
Owners: none

fix: Don't assign output lamports automatically
  sdk/src/account_info.rs
Owners: none

chore: Make the hash/serialize function naming and descriptions clear
  sdk/src/compressed_account.rs
Owners: none

feat: Add utilities for lamport transfer
  sdk/src/account_info.rs
  sdk/src/error.rs
  sdk/src/lib.rs
  sdk/src/transfer.rs
Owners: none

chore: Add `read_only` field
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  sdk/src/account_meta.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: Add subscription service example
  Cargo.lock
  Cargo.toml
  examples/subscription/Anchor.toml
  examples/subscription/README.md
  examples/subscription/programs/subscription/Cargo.toml
  examples/subscription/programs/subscription/Xargo.toml
  examples/subscription/programs/subscription/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: option + truncate, nested
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

fixed impl
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

added: test cov for option uniqueness, field order
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

added more asbytevec tests
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

hasher integration test name_service
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

move imports
  examples/name-service/programs/name-service/tests/test.rs
  macros/light-sdk-macros/src/hasher.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

rm unused import
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Move address derivation from `LightAccount` to `LightAccountInfo`
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  sdk/src/account_info.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/error.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
