Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

feat: bb8-based SolanaRpcPool (#1075)
  Cargo.lock
  forester/Cargo.toml
  forester/src/epoch_manager.rs
  forester/src/errors.rs
  forester/src/lib.rs
  forester/src/rollover/operations.rs
  forester/src/rpc_pool.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  pnpm-lock.yaml
  scripts/install.sh
  test-programs/system-test/tests/test.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
Owners: @vadorovsky, @sergeytimoshin, @SwenSchaeferjohann

Update js/stateless.js/package.json
  js/stateless.js/package.json
Owners: none

Update js/compressed-token/package.json
  js/compressed-token/package.json
Owners: none

chore: RPC patch (#1072)
  cli/src/commands/balance/index.ts
  js/compressed-token/package.json
  js/compressed-token/src/actions/decompress.ts
  js/compressed-token/src/actions/transfer.ts
  js/compressed-token/tests/e2e/approve-and-mint-to.test.ts
  js/compressed-token/tests/e2e/compress.test.ts
  js/compressed-token/tests/e2e/decompress.test.ts
  js/compressed-token/tests/e2e/mint-to.test.ts
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  js/compressed-token/tests/e2e/transfer.test.ts
  js/stateless.js/package.json
  js/stateless.js/src/actions/create-account.ts
  js/stateless.js/src/actions/decompress.ts
  js/stateless.js/src/actions/transfer.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/get-compressed-token-accounts.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  js/stateless.js/tests/e2e/test-rpc.test.ts
  js/stateless.js/tests/e2e/testnet.test.ts
  js/stateless.js/tests/e2e/transfer.test.ts
Owners: @ananas-block, @sergeytimoshin

* Introduced `setup_pubsub_client` for setting up a PubSub client and fetching queue item data.
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/pubsub_client.rs
  forester/src/queue_helpers.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
Owners: none

add lut
  js/compressed-token/src/actions/compress.ts
  js/compressed-token/src/actions/create-token-program-lookup-table.ts
  js/compressed-token/src/actions/index.ts
  js/compressed-token/src/actions/mint-to.ts
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/compress.test.ts
  js/compressed-token/tests/e2e/mint-to.test.ts
  js/stateless.js/src/utils/send-and-confirm.ts
Owners: @vadorovsky

cleanup
  cli/src/commands/balance/index.ts
  js/compressed-token/src/actions/compress.ts
  js/compressed-token/src/actions/create-token-program-lookup-table.ts
  js/compressed-token/tests/e2e/compress.test.ts
  js/compressed-token/tests/e2e/mint-to.test.ts
  js/stateless.js/src/rpc.ts
Owners: @ananas-block, @sergeytimoshin

cleanup
  js/compressed-token/tests/e2e/mint-to.test.ts
  js/stateless.js/src/utils/send-and-confirm.ts
Owners: @vadorovsky

feat: lookuptable support + batch compress (#1087)
  cli/src/commands/balance/index.ts
  js/compressed-token/src/actions/compress.ts
  js/compressed-token/src/actions/create-token-program-lookup-table.ts
  js/compressed-token/src/actions/index.ts
  js/compressed-token/src/actions/mint-to.ts
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/compress.test.ts
  js/compressed-token/tests/e2e/mint-to.test.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/utils/send-and-confirm.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fmt and add anchor build
  js/stateless.js/src/idls/index.ts
  js/stateless.js/src/programs/system.ts
  programs/package.json
  scripts/build.sh
Owners: @ananas-block, @vadorovsky

fix: update page.tsx to use `accounts.items` for selectMinCompressedSolAccountsForTransfer
  examples/browser/nextjs/src/app/page.tsx
Owners: @ananas-block, @SwenSchaeferjohann

fix: update page.tsx to use `accounts.items` for selectMinCompressedSolAccountsForTransfer (#1091)
  examples/browser/nextjs/src/app/page.tsx
Owners: @ananas-block, @SwenSchaeferjohann

chore: remove import paths and address constraint from instrucstion structs for anchor 0.30.1 compat
  macros/light/src/accounts.rs
  programs/compressed-token/src/instructions/burn.rs
  programs/compressed-token/src/instructions/freeze.rs
  programs/compressed-token/src/instructions/generic.rs
  programs/compressed-token/src/instructions/transfer.rs
  programs/compressed-token/src/process_mint.rs
  programs/registry/src/protocol_config/initialize.rs
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/src/invalidate_not_owned_account.rs
  test-programs/system-cpi-test/src/lib.rs
Owners: @vadorovsky, @ananas-block

update idl
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: none

fix format
  macros/light/src/accounts.rs
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/system/src/invoke_cpi/verify_signer.rs
  scripts/format.sh
  test-programs/system-cpi-test/src/lib.rs
  test-utils/src/forester_epoch.rs
  test-utils/src/test_forester.rs
Owners: @vadorovsky, @ananas-block

fix: create empty token accounts with invalid mints
  programs/compressed-token/src/delegation.rs
  programs/compressed-token/src/freeze.rs
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_mint.rs
  programs/compressed-token/src/process_transfer.rs
Owners: @ananas-block, @vadorovsky

chore: program anchor 0.30.1 compat (#1092)
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/compressed-token/src/instructions/burn.rs
  programs/compressed-token/src/instructions/freeze.rs
  programs/compressed-token/src/instructions/generic.rs
  programs/compressed-token/src/instructions/transfer.rs
  programs/compressed-token/src/process_mint.rs
  programs/registry/src/protocol_config/initialize.rs
  programs/system/src/invoke_cpi/verify_signer.rs
  scripts/format.sh
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/src/invalidate_not_owned_account.rs
  test-programs/system-cpi-test/src/lib.rs
  test-utils/src/forester_epoch.rs
  test-utils/src/test_forester.rs
Owners: @ananas-block, @vadorovsky

* Introduced `setup_pubsub_client` for setting up a PubSub client and fetching queue item data. (#1088)
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/pubsub_client.rs
  forester/src/queue_helpers.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
Owners: none

Introduced a new error variant `NotEligible` in `ForesterError`. Updated the eligibility check to return this error and handle it appropriately during the transaction processing loop.
  forester/src/epoch_manager.rs
  forester/src/errors.rs
Owners: none

feat: `#[derive(LightHasher)]` macro and `AsByteVec` trait
  Cargo.lock
  macros/light/Cargo.toml
  macros/light/src/hasher.rs
  macros/light/src/lib.rs
  macros/light/tests/hasher.rs
  merkle-tree/hasher/Cargo.toml
  merkle-tree/hasher/src/bytes.rs
  merkle-tree/hasher/src/lib.rs
Owners: @vadorovsky, @ananas-block

chore: Remove unwanted file
  examples/name-service/programs/name-service/expand.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Derive address from the domain name
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: DNS example
  .github/workflows/light-system-programs-tests.yml
  Cargo.lock
  Cargo.toml
  examples/name-service/.gitignore
  examples/name-service/.prettierignore
  examples/name-service/Anchor.toml
  examples/name-service/README.md
  examples/name-service/migrations/deploy.ts
  examples/name-service/package.json
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/Xargo.toml
  examples/name-service/programs/name-service/expand.rs
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/name-service/tsconfig.json
Owners: @ananas-block, @SwenSchaeferjohann

fix: Compute the hash of input accounts on-chain
  Cargo.lock
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Add `signer_check` utility
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

style: Rename to `compressed_output_account_with_address`
  examples/name-service/programs/name-service/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Remove commented code
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: Use `LightHasher` macro
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

perf(name-server): Reduce the instruction size
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/compressed_account.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Add name-service to pnpm-lock
  pnpm-lock.yaml
Owners: none

format
  forester/src/epoch_manager.rs
Owners: none

Refactor retry delay calculation to prevent overflows
  forester/src/epoch_manager.rs
Owners: none

format
  forester/src/epoch_manager.rs
Owners: none

chore: Remove commented code
  macros/light/src/lib.rs
Owners: @vadorovsky

chore: Remove commented code (#1094)
  macros/light/src/lib.rs
Owners: @vadorovsky

style: Use `cpi_inputs` wrappers
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: forester: do not retry on not eligible slots (#1089)
  forester/src/epoch_manager.rs
  forester/src/errors.rs
Owners: none

feat: `#[derive(LightHasher)]` macro and `AsByteVec` trait
  Cargo.lock
  macros/light/Cargo.toml
  macros/light/src/hasher.rs
  macros/light/src/lib.rs
  macros/light/tests/hasher.rs
  merkle-tree/hasher/Cargo.toml
  merkle-tree/hasher/src/bytes.rs
  merkle-tree/hasher/src/lib.rs
Owners: @vadorovsky, @ananas-block

test: Add more test cases for the `AsByteVec` trait
  merkle-tree/hasher/src/bytes.rs
Owners: @ananas-block, @vadorovsky

doc: Add documentation to `LightHasher` macro
  macros/light/src/lib.rs
Owners: @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
