Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

feat: batched updates with append2 circuit
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: add append circuit which can skip nullified values
  light-prover/prover/batch_append2_circuit.go
  light-prover/prover/batch_append_2_circuit_test.go
Owners: none

cleanup
  circuit-lib/light-prover-client/src/batch_append_2.rs
  circuit-lib/light-prover-client/src/gnark/batch_append_2_json_formatter.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  js/stateless.js/src/idls/account_compression.ts
  light-prover/prover/batch_append2_circuit.go
  light-prover/prover/batch_append_2_circuit_test.go
  light-prover/prover/marshal_append2.go
  light-prover/prover/proving_keys_utils.go
  programs/account-compression/src/state/batched_merkle_tree.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

add endpoint getCompressedMintTokenHolders
  cli/src/commands/test-validator/index.ts
  cli/src/utils/constants.ts
  cli/src/utils/initTestEnv.ts
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc-wip.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  pnpm-lock.yaml
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fmt
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
Owners: none

assert cursor
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
Owners: none

fix: batch append public input computation
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/circuit_builder.go
  merkle-tree/concurrent/tests/tests.rs
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

test
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
Owners: none

fix releases
  cli/.npmignore
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

release js
  cli/.npmignore
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

bump
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

wip
  cli/src/utils/constants.ts
  scripts/install.sh
Owners: @vadorovsky

fix: batch append public input computation (#1330)
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/circuit_builder.go
  merkle-tree/concurrent/tests/tests.rs
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

bump
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

chore: fix rust test badge in README
  README.md
Owners: none

chore: fix rust test badge in README (#1334)
  README.md
Owners: none

increase timeout
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
Owners: none

fix hookTimeout
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  js/compressed-token/vitest.config.ts
  js/stateless.js/vitest.config.ts
Owners: none

feat: getCompressedMintTokenholders endpoint + JS release bump (#1332)
  cli/.npmignore
  cli/package.json
  cli/src/commands/test-validator/index.ts
  cli/src/utils/constants.ts
  cli/src/utils/initTestEnv.ts
  js/compressed-token/package.json
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  js/compressed-token/vitest.config.ts
  js/stateless.js/package.json
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc-wip.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/vitest.config.ts
  pnpm-lock.yaml
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

e2e tests work
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  client/src/transaction_params.rs
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  forester/src/rollover/operations.rs
  merkle-tree/bounded-vec/src/lib.rs
  programs/account-compression/Cargo.toml
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/utils/constants.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/e2e-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

format
  circuit-lib/light-prover-client/src/batch_append_2.rs
  circuit-lib/light-prover-client/src/gnark/batch_append_2_json_formatter.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/verifying_keys/append2_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append2_26_10.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  client/src/indexer/test_indexer.rs
  forester-utils/src/indexer/mod.rs
  light-prover/prover/batch_append2_circuit.go
  light-prover/prover/batch_append_2_circuit_test.go
  light-prover/prover/marshal_append2.go
  light-prover/prover/proving_keys_utils.go
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/batch_nullify.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/registry/src/account_compression_cpi/batch_nullify.rs
  programs/registry/src/lib.rs
  programs/system/src/invoke/append_state.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/verify_state_proof.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/compressed-token-test/tests/test.rs
  test-utils/src/assert_address_merkle_tree.rs
  test-utils/src/assert_compressed_tx.rs
  test-utils/src/assert_queue.rs
  test-utils/src/assert_token_tx.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/state_tree_rollover.rs
  test-utils/src/system_program.rs
  test-utils/src/test_batch_forester.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

wip: full indexer trait in light-client
  Cargo.lock
  client/Cargo.toml
  client/src/indexer/mod.rs
  client/src/indexer/photon_indexer.rs
  client/src/indexer/test_indexer.rs
  client/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  forester-utils/src/indexer/mod.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/spl.rs
  test-utils/src/system_program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

account compression tests work
  programs/account-compression/src/state/batched_merkle_tree.rs
Owners: @ananas-block, @vadorovsky

fix: bounded vec tests
  merkle-tree/bounded-vec/src/lib.rs
Owners: @ananas-block, @vadorovsky

cleanup
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  merkle-tree/bounded-vec/src/lib.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/compressed-token/src/process_transfer.rs
  programs/system/src/invoke/emit_event.rs
  programs/system/src/invoke_cpi/initialize.rs
  programs/system/src/invoke_cpi/verify_signer.rs
  test-programs/system-test/tests/test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

wip
  client/src/indexer/mod.rs
  client/src/indexer/test_indexer.rs
Owners: none

compiles
  Cargo.lock
  client/Cargo.toml
  client/src/indexer/mod.rs
  client/src/indexer/photon_indexer.rs
  client/src/indexer/test_indexer.rs
Owners: none

feat: add failing tests
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/batch_append.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/e2e-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_batch_forester.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: forester
  forester/tests/e2e_test.rs
  test-programs/registry-test/tests/tests.rs
Owners: none

cleanup
  programs/account-compression/src/state/batched_merkle_tree.rs
Owners: @ananas-block, @vadorovsky

cleanup
  js/stateless.js/src/idls/account_compression.ts
  test-programs/registry-test/tests/tests.rs
Owners: none

chore: revert merkle context renaming
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/test-rpc.test.ts
  programs/compressed-token/src/burn.rs
  programs/compressed-token/src/delegation.rs
  programs/compressed-token/src/freeze.rs
  programs/compressed-token/src/process_transfer.rs
  programs/system/src/invoke/nullify_state.rs
  programs/system/src/invoke/sum_check.rs
  programs/system/src/invoke_cpi/process_cpi_context.rs
  programs/system/src/sdk/compressed_account.rs
  programs/system/src/sdk/invoke.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/assert_compressed_tx.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/spl.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix: registry test
  test-programs/compressed-token-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
Owners: none

fix: CI
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  forester/tests/e2e_test.rs
  programs/system/src/invoke/append_state.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

wip
  forester/tests/test_utils.rs
Owners: none

logs + reproducer
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/utils/send-and-confirm.ts
  js/stateless.js/src/utils/test-utils.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  js/stateless.js/vitest.config.ts
Owners: @vadorovsky

bump to 48
  cli/src/utils/constants.ts
  scripts/install.sh
Owners: @vadorovsky

chore: bump to photon 0.48.0 (#1340)
  cli/src/utils/constants.ts
  scripts/install.sh
Owners: @vadorovsky

fix: compressed token failing tests
  test-programs/compressed-token-test/tests/test.rs
Owners: none

doctest pass
  client/src/indexer/mod.rs
  client/src/indexer/photon_indexer.rs
  client/src/indexer/test_indexer.rs
  forester/src/main.rs
  forester/tests/test_utils.rs
Owners: none
