Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

remove bin files
  light-prover/formal-verification/.lake/lakefile.olean
  light-prover/formal-verification/.lake/lakefile.olean.trace
Owners: none

Update Rust toolchain to version 1.80
  rust-toolchain.toml
Owners: none

feat: forester: add PHOTON_API_KEY .env var support (#1031)
  forester/src/external_services_config.rs
  forester/src/indexer/photon_indexer.rs
  forester/src/main.rs
  forester/src/settings.rs
  forester/tests/interop_address_test.rs
  forester/tests/interop_nullify_test.rs
  forester/tests/test_utils.rs
  photon-api/src/apis/default_api.rs
Owners: none

Update environment variables to use PHOTON_API_KEY
  forester/.env.example
  forester/scripts/generate.ts
Owners: @vadorovsky

Update environment variables to use PHOTON_API_KEY (#1035)
  forester/.env.example
  forester/scripts/generate.ts
Owners: @vadorovsky

add nullable error to getLatestNonVotingSigs
  cli/src/utils/constants.ts
  forester/scripts/prefill_queues.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/rpc-interface.ts
  pnpm-lock.yaml
  scripts/install.sh
Owners: @vadorovsky

rm paginated
  js/stateless.js/src/rpc-interface.ts
Owners: none

bump js versions. support nullabel error field in getLatestNonVotingSignatures
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

chore: bump JS versions to photon 0.38.0 (#1037)
  cli/package.json
  cli/src/utils/constants.ts
  forester/scripts/prefill_queues.ts
  js/compressed-token/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/rpc-interface.ts
  pnpm-lock.yaml
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

try twice?
  .github/workflows/prover-test.yml
Owners: none

fix compilation order
  .github/workflows/prover-test.yml
  light-prover/formal-verification/.gitignore
  light-prover/formal-verification/FormalVerification/Lemmas.lean
  light-prover/formal-verification/FormalVerification/Merkle.lean
  light-prover/formal-verification/FormalVerification/Poseidon.lean
  light-prover/formal-verification/FormalVerification/RangeTree.lean
  light-prover/formal-verification/FormalVerification/Rangecheck.lean
  light-prover/formal-verification/Main.lean
  light-prover/formal-verification/lake-manifest.json
  light-prover/formal-verification/lakefile.lean
Owners: none

fix GH action cache
  .github/workflows/prover-test.yml
Owners: none

fix: (de)compression transfer ix token pool check (#1032)
  programs/compressed-token/src/instructions/transfer.rs
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/spl_compression.rs
  test-programs/compressed-token-test/tests/test.rs
Owners: @ananas-block, @vadorovsky

bump 1
  cli/package.json
  cli/src/utils/constants.ts
  js/compressed-token/package.json
  js/stateless.js/package.json
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  pnpm-lock.yaml
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

bump 0.7.0
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

fix: compressed token program revoke test coverage with sol
  Cargo.lock
  programs/compressed-token/src/delegation.rs
Owners: @ananas-block, @vadorovsky

fix instruction CHECK comments
  programs/compressed-token/src/instructions/burn.rs
  programs/compressed-token/src/instructions/freeze.rs
  programs/compressed-token/src/instructions/generic.rs
  programs/compressed-token/src/instructions/transfer.rs
Owners: @ananas-block, @vadorovsky

regenerated idl
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
  pnpm-lock.yaml
Owners: none

chore(registry): update instruction comments
  programs/registry/src/account_compression_cpi/nullify.rs
  programs/registry/src/account_compression_cpi/register_program.rs
  programs/registry/src/account_compression_cpi/rollover_state_tree.rs
  programs/registry/src/account_compression_cpi/update_address_tree.rs
Owners: @ananas-block, @vadorovsky

PR feedback fixes
  .github/workflows/prover-test.yml
  light-prover/README.md
  light-prover/formal-verification/FormalVerification/Circuit.lean
  light-prover/formal-verification/FormalVerification/Merkle.lean
  light-prover/formal-verification/Main.lean
  light-prover/prover/extractor.go
Owners: none

registry: added access control in accounts
  js/stateless.js/src/idls/light_registry.ts
  programs/registry/src/account_compression_cpi/access_control.rs
  programs/registry/src/account_compression_cpi/nullify.rs
  programs/registry/src/account_compression_cpi/register_program.rs
  programs/registry/src/account_compression_cpi/rollover_state_tree.rs
  programs/registry/src/account_compression_cpi/update_address_tree.rs
  programs/registry/src/constants.rs
  programs/registry/src/decentralization_and_contention.rs
  programs/registry/src/delegate/delegate_instruction.rs
  programs/registry/src/delegate/deposit.rs
  programs/registry/src/delegate/deposit_instruction.rs
  programs/registry/src/epoch/claim_forester_instruction.rs
  programs/registry/src/epoch/register_epoch.rs
  programs/registry/src/epoch/report_work.rs
  programs/registry/src/epoch/sync_delegate.rs
  programs/registry/src/epoch/sync_delegate_instruction.rs
  programs/registry/src/forester/state.rs
  programs/registry/src/lib.rs
  programs/registry/src/protocol_config/initialize.rs
  programs/registry/src/protocol_config/mint.rs
  programs/registry/src/protocol_config/state.rs
  programs/registry/src/protocol_config/update.rs
  programs/registry/src/sdk.rs
  programs/registry/src/utils.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/registry.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @vadorovsky

fix: Remove non-existent field from zero-copy wrapper, simplify `size_in_account`
  cli/accounts/address_merkle_tree_queue_HNjtNrjt6irUPYEgxhx2Vcs42koK9fxzm3aFLHVaaRWz.json
  cli/accounts/nullifier_queue_pubkey_44J4oDXpjPAbzHCSc24q7NEiPekss4sAbLd8ka4gd9CZ.json
  merkle-tree/hash-set/src/lib.rs
  merkle-tree/hash-set/src/zero_copy.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

e2e test works
  programs/compressed-token/src/token_data.rs
  programs/registry/src/delegate/delegate_account.rs
  programs/registry/src/delegate/delegate_instruction.rs
  programs/registry/src/delegate/mod.rs
  programs/registry/src/delegate/process_cpi.rs
  programs/registry/src/delegate/process_delegate.rs
  programs/registry/src/delegate/process_deposit.rs
  programs/registry/src/delegate/state.rs
  programs/registry/src/epoch/claim_forester.rs
  programs/registry/src/epoch/register_epoch.rs
  programs/registry/src/epoch/sync_delegate.rs
  programs/registry/src/epoch/sync_delegate_instruction.rs
  programs/registry/src/forester/state.rs
  programs/registry/src/lib.rs
  programs/registry/src/protocol_config/initialize.rs
  programs/registry/src/protocol_config/state.rs
  programs/registry/src/protocol_config/update.rs
  programs/registry/src/sdk.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/forester_epoch.rs
  test-utils/src/lib.rs
  test-utils/src/registry.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @vadorovsky

add count loc sh
  scripts/count_loc.sh
Owners: @vadorovsky

fix: compressed token program revoke test coverage with sol (#1044)
  Cargo.lock
  programs/compressed-token/src/delegation.rs
Owners: @ananas-block, @vadorovsky

fixed test_register_and_update_forester_pda
  programs/registry/src/delegate/delegate_account.rs
  programs/registry/src/delegate/deposit_instruction.rs
  programs/registry/src/delegate/process_cpi.rs
  programs/registry/src/delegate/process_delegate.rs
  programs/registry/src/delegate/process_deposit.rs
  programs/registry/src/epoch/claim_forester.rs
  programs/registry/src/epoch/claim_forester_instruction.rs
  programs/registry/src/lib.rs
  programs/registry/src/protocol_config/mint.rs
  programs/registry/src/sdk.rs
  test-programs/e2e-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/registry.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @vadorovsky

Switch to 1.18.17
  Cargo.lock
  Cargo.toml
  pnpm-lock.yaml
Owners: none

regenerated idls
  js/stateless.js/src/constants.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
Owners: none

cleanup
  forester/src/rollover/operations.rs
  programs/registry/src/epoch/register_epoch.rs
  programs/registry/src/lib.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @vadorovsky

remove warnings & rollover signer
  forester/tests/rollover_test.rs
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-utils/src/address_tree_rollover.rs
Owners: none

fix: system test ci
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/src/test_env.rs
Owners: none

chore: add forester pubkey and additional bytes to meta data
  cli/accounts/address_merkle_tree_C83cpRN6oaafjNgMQJvaYgAz592EP5wunKvbokeTKPLn.json
  cli/accounts/address_merkle_tree_queue_HNjtNrjt6irUPYEgxhx2Vcs42koK9fxzm3aFLHVaaRWz.json
  cli/accounts/merkle_tree_pubkey_5bdFnXU47QjzGpzHfXnxcEi5WXyxzEAZzd1vrE39bf1W.json
  cli/accounts/nullifier_queue_pubkey_44J4oDXpjPAbzHCSc24q7NEiPekss4sAbLd8ka4gd9CZ.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/initialize_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/initialize_state_merkle_tree_and_nullifier_queue.rs
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/rollover_state_merkle_tree_and_queue.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/processor/initialize_address_merkle_tree.rs
  programs/account-compression/src/processor/initialize_address_queue.rs
  programs/account-compression/src/processor/initialize_concurrent_merkle_tree.rs
  programs/account-compression/src/processor/initialize_nullifier_queue.rs
  programs/account-compression/src/sdk.rs
  programs/account-compression/src/state/access.rs
  programs/account-compression/src/state/rollover.rs
  programs/registry/src/account_compression_cpi/initialize_tree_and_queue.rs
  programs/registry/src/lib.rs
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-programs/system-cpi-test/src/lib.rs
  test-utils/src/assert_address_merkle_tree.rs
  test-utils/src/assert_queue.rs
  test-utils/src/assert_rollover.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

add comments
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
  programs/account-compression/src/state/access.rs
  programs/account-compression/src/state/rollover.rs
Owners: @ananas-block, @vadorovsky

Update js/compressed-token/src/idl/light_compressed_token.ts
  js/compressed-token/src/idl/light_compressed_token.ts
Owners: none

fix: allow delegated and owned transfers in the same tx
  programs/compressed-token/src/process_transfer.rs
  test-programs/compressed-token-test/tests/test.rs
  test-utils/src/assert_token_tx.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/spl.rs
Owners: @ananas-block, @vadorovsky

chore: add forester pubkey and additional bytes to meta data (#1051)
  cli/accounts/address_merkle_tree_C83cpRN6oaafjNgMQJvaYgAz592EP5wunKvbokeTKPLn.json
  cli/accounts/address_merkle_tree_queue_HNjtNrjt6irUPYEgxhx2Vcs42koK9fxzm3aFLHVaaRWz.json
  cli/accounts/merkle_tree_pubkey_5bdFnXU47QjzGpzHfXnxcEi5WXyxzEAZzd1vrE39bf1W.json
  cli/accounts/nullifier_queue_pubkey_44J4oDXpjPAbzHCSc24q7NEiPekss4sAbLd8ka4gd9CZ.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/initialize_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/initialize_state_merkle_tree_and_nullifier_queue.rs
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/rollover_state_merkle_tree_and_queue.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/processor/initialize_address_merkle_tree.rs
  programs/account-compression/src/processor/initialize_address_queue.rs
  programs/account-compression/src/processor/initialize_concurrent_merkle_tree.rs
  programs/account-compression/src/processor/initialize_nullifier_queue.rs
  programs/account-compression/src/sdk.rs
  programs/account-compression/src/state/access.rs
  programs/account-compression/src/state/rollover.rs
  programs/registry/src/account_compression_cpi/initialize_tree_and_queue.rs
  programs/registry/src/lib.rs
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-programs/system-cpi-test/src/lib.rs
  test-utils/src/assert_address_merkle_tree.rs
  test-utils/src/assert_queue.rs
  test-utils/src/assert_rollover.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

remove warnings & rollover signer
  forester/tests/rollover_test.rs
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-utils/src/address_tree_rollover.rs
Owners: none

fix: system test ci
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/src/test_env.rs
Owners: none

chore: add forester pubkey and additional bytes to meta data
  programs/account-compression/src/state/access.rs
Owners: @ananas-block, @vadorovsky

regenerated idls
  js/stateless.js/src/constants.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
Owners: none
