Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

Remove redundant logging in epoch_manager
  forester/src/epoch_manager.rs
Owners: none

improve epoch management logic
  Cargo.lock
  forester/Cargo.toml
  forester/src/epoch_manager.rs
  forester/tests/e2e_test.rs
Owners: none

wip
  forester/src/epoch_manager.rs
Owners: none

Refactor slot checking using sync_slot
  forester/src/epoch_manager.rs
Owners: none

refactor: forester: add retry logic for epoch registration (#1160)
  Cargo.lock
  forester/Cargo.toml
  forester/src/epoch_manager.rs
  forester/tests/e2e_test.rs
Owners: none

Add test for protocol config active phase continuity
  Cargo.lock
  test-programs/registry-test/Cargo.toml
  test-programs/registry-test/tests/tests.rs
Owners: none

Refactor epoch testing logic in registry-test
  test-programs/registry-test/tests/tests.rs
Owners: none

Refactor epoch variable in test function
  test-programs/registry-test/tests/tests.rs
Owners: none

Simplify epoch slot test calculation
  test-programs/registry-test/tests/tests.rs
Owners: none

fix epoch recovery
  forester/src/epoch_manager.rs
  test-programs/registry-test/tests/tests.rs
Owners: none

Add async support and retry logic to RPC methods
  Cargo.lock
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  forester-utils/Cargo.toml
  forester-utils/src/rpc/rpc_connection.rs
  forester-utils/src/rpc/solana_rpc.rs
  forester/src/rpc_pool.rs
  forester/src/tree_data_sync.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/Cargo.toml
  test-utils/src/e2e_test_env.rs
  test-utils/src/rpc/test_rpc.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @SwenSchaeferjohann, @sergeytimoshin

Increase worker_threads and simplify double registration test
  Cargo.lock
  forester/Cargo.toml
  forester/src/epoch_manager.rs
  forester/tests/e2e_test.rs
Owners: none

Switch to async_trait for TransactionBuilder methods
  forester/src/send_transaction.rs
Owners: none

Remove `log` dependency
  Cargo.lock
  forester/Cargo.toml
  forester/tests/e2e_test.rs
Owners: none

Reorganize imports in send_transaction.rs
  forester/src/send_transaction.rs
Owners: none

fix: forester: epoch recovery (#1165)
  Cargo.lock
  forester/src/epoch_manager.rs
  forester/tests/e2e_test.rs
  test-programs/registry-test/Cargo.toml
  test-programs/registry-test/tests/tests.rs
Owners: none

wip: programids. ts tests fialign
  Anchor.toml
  Cargo.lock
  Cargo.toml
  cli/package.json
  examples/name-service/package.json
  examples/name-service/programs/name-service/src/lib.rs
  examples/token-escrow/package.json
  hasher.rs/package.json
  js/compressed-token/src/idl/light_compressed_token.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.json
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.json
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.json
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.json
  js/stateless.js/src/idls/light_system_program.ts
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/nullify_leaves.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/sdk.rs
  programs/compressed-token/src/instructions/burn.rs
  programs/compressed-token/src/process_mint.rs
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

feat: add retry logic to RPC methods (#1166)
  Cargo.lock
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  forester-utils/Cargo.toml
  forester-utils/src/rpc/rpc_connection.rs
  forester-utils/src/rpc/solana_rpc.rs
  forester/src/rpc_pool.rs
  forester/src/send_transaction.rs
  forester/src/tree_data_sync.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/Cargo.toml
  test-utils/src/e2e_test_env.rs
  test-utils/src/rpc/test_rpc.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @SwenSchaeferjohann, @sergeytimoshin

chore: Bump version of all Rust projects
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/verifier/Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  heap/Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light/Cargo.toml
  merkle-tree/bounded-vec/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/hasher/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  merkle-tree/reference/Cargo.toml
  photon-api/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

* Do not check phases for wait_for_active_phase * Handle report_work transaction errors gracefully in Epoch Manager
  forester/src/epoch_manager.rs
Owners: none

Transfer: filter zero-balance accounts and update configurations
  js/stateless.js/src/actions/transfer.ts
  js/stateless.js/src/programs/system.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
Owners: @ananas-block, @vadorovsky

Refactor transfer logic to accumulate sufficient lamports.
  js/stateless.js/src/actions/transfer.ts
  js/stateless.js/src/programs/system.ts
Owners: @ananas-block, @vadorovsky

Prevent double work reporting
  forester/src/epoch_manager.rs
Owners: none

Remove unnecessary break condition in transfer logic
  js/stateless.js/src/actions/transfer.ts
Owners: none

refactor: forester: add trees in wait_for_active_phase for recovery + don't retry to send report tx if already sent (#1170)
  forester/src/epoch_manager.rs
Owners: none

Refactor cursor handling in rpc-interface and related methods.
  js/stateless.js/src/actions/transfer.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
Owners: none

fix js test-rpc usage in transfer action
  js/stateless.js/src/actions/transfer.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
Owners: none

chore: use proving keys from trusted setup
  circuit-lib/verifier/src/verifying_keys/combined_26_1_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_1_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_2_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_2_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_3_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_3_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_4_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_4_2.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_1.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_2.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_3.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_4.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_8.rs
  circuit-lib/verifier/src/verifying_keys/non_inclusion_26_1.rs
  circuit-lib/verifier/src/verifying_keys/non_inclusion_26_2.rs
  light-prover/main.go
  pnpm-lock.yaml
  scripts/tsc-create-r1cs.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: typescript sdk: use cursor when accumulating accounts for transfer (#1171)
  js/stateless.js/src/actions/transfer.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
Owners: none

update: bucket hash
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

Remove excessive logging in default_api.rs
  photon-api/src/apis/default_api.rs
Owners: none

Remove excessive logging in default_api.rs (#1173)
  photon-api/src/apis/default_api.rs
Owners: none

chore: use proving keys from trusted setup (#1172)
  circuit-lib/verifier/src/verifying_keys/combined_26_1_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_1_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_2_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_2_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_3_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_3_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_4_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_4_2.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_1.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_2.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_3.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_4.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_8.rs
  circuit-lib/verifier/src/verifying_keys/non_inclusion_26_1.rs
  circuit-lib/verifier/src/verifying_keys/non_inclusion_26_2.rs
  light-prover/main.go
  light-prover/scripts/download_keys.sh
  pnpm-lock.yaml
  scripts/tsc-create-r1cs.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: add verifiable build
  README.md
  scripts/build-verifiable.sh
Owners: @vadorovsky

chore: renenable program to be registered signer check and add workaround for tests without hardcoding program keypairs
  Cargo.lock
  programs/account-compression/src/instructions/register_program.rs
  test-programs/system-test/Cargo.toml
  test-programs/system-test/tests/test.rs
  test-utils/src/env_accounts.rs
  test-utils/src/lib.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @vadorovsky

fixed tests
  js/stateless.js/src/actions/transfer.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  programs/registry/src/account_compression_cpi/register_program.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @vadorovsky

fix registry test
  programs/registry/src/protocol_config/initialize.rs
  test-programs/registry-test/tests/tests.rs
Owners: @ananas-block, @vadorovsky

chore: add verifiable build, reenable programs to be registered signer check (#1182)
  Cargo.lock
  README.md
  js/stateless.js/src/actions/transfer.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  programs/account-compression/src/instructions/register_program.rs
  programs/registry/src/account_compression_cpi/register_program.rs
  programs/registry/src/protocol_config/initialize.rs
  scripts/build-verifiable.sh
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-programs/system-test/Cargo.toml
  test-programs/system-test/tests/test.rs
  test-utils/src/env_accounts.rs
  test-utils/src/lib.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
