Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

feat: compress spl token account (#1361)
  js/compressed-token/README.md
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_compress_spl_token_account.rs
  programs/compressed-token/src/process_transfer.rs
  scripts/format.sh
  test-programs/compressed-token-test/tests/test.rs
  test-utils/src/spl.rs
Owners: @ananas-block, @vadorovsky

feat: compress spl token account
  test-utils/src/spl.rs
Owners: none

fix: lint
  test-utils/src/spl.rs
Owners: none

add js sdk support + tests
  js/compressed-token/package.json
  js/compressed-token/src/actions/compress-spl-token-account.ts
  js/compressed-token/src/actions/index.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/compress-spl-token-account.test.ts
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: none

rm dupe
  test-utils/src/spl.rs
Owners: none

cleanup
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/compress-spl-token-account.test.ts
Owners: none

feat: add JS support for compress-spl-token-account instruction (#1362)
  js/compressed-token/package.json
  js/compressed-token/src/actions/compress-spl-token-account.ts
  js/compressed-token/src/actions/index.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/compress-spl-token-account.test.ts
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: none

fix: lint
  test-utils/src/spl.rs
Owners: none

feat: compress spl token account
  test-utils/src/spl.rs
Owners: none

bump cli and ctoken js sdks
  cli/package.json
  js/compressed-token/package.json
Owners: @ananas-block, @sergeytimoshin

rm dupe
  test-utils/src/spl.rs
Owners: none

add .setProgramId() for compressedtokenprogram
  js/compressed-token/package.json
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/custom-program-id.test.ts
Owners: none

add warning
  js/compressed-token/src/program.ts
Owners: none

bumped. published support for custom pid
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
  js/stateless.js/src/rpc.ts
Owners: @ananas-block, @sergeytimoshin

bump versions, export parseTokenlayoutWithIdl
  js/stateless.js/package.json
  js/stateless.js/src/test-helpers/test-rpc/get-compressed-token-accounts.ts
  js/stateless.js/src/test-helpers/test-rpc/index.ts
Owners: none

bump version
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

chore: bump js releases, add custom programId support (#1363)
  cli/package.json
  js/compressed-token/package.json
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/custom-program-id.test.ts
  js/stateless.js/package.json
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/get-compressed-token-accounts.ts
  js/stateless.js/src/test-helpers/test-rpc/index.ts
Owners: @ananas-block, @sergeytimoshin

wip
  sdk/src/instruction_accounts.rs
Owners: none

wip
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  sdk/src/account_meta.rs
  sdk/src/instruction_accounts.rs
Owners: @ananas-block, @SwenSchaeferjohann

wip
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Update README.md
  README.md
Owners: none

wip
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  sdk/src/account.rs
  sdk/src/account_info.rs
  sdk/src/account_meta.rs
  sdk/src/instruction_data.rs
  test-programs/sdk-anchor-test/programs/sdk-anchor-test/tests/test.rs
  test-programs/sdk-test/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

feat: token 2022 support
  Cargo.lock
  programs/compressed-token/src/burn.rs
  programs/compressed-token/src/freeze.rs
  programs/compressed-token/src/instructions/burn.rs
  programs/compressed-token/src/instructions/create_token_pool.rs
  programs/compressed-token/src/instructions/freeze.rs
  programs/compressed-token/src/instructions/mod.rs
  programs/compressed-token/src/instructions/transfer.rs
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_compress_spl_token_account.rs
  programs/compressed-token/src/process_mint.rs
  programs/compressed-token/src/process_transfer.rs
  programs/compressed-token/src/spl_compression.rs
  scripts/format.sh
  test-programs/compressed-token-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/Cargo.toml
  test-utils/src/e2e_test_env.rs
  test-utils/src/spl.rs
Owners: @ananas-block, @vadorovsky

feat: restrict allowed token 2022 extensions
  Cargo.lock
  Cargo.toml
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  programs/compressed-token/Cargo.toml
  programs/compressed-token/src/instructions/create_token_pool.rs
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_mint.rs
  test-programs/compressed-token-test/tests/test.rs
  test-utils/Cargo.toml
Owners: @ananas-block, @vadorovsky

feat: add PagerDuty alert integration for the case when epoch registration fails after maximum retries.
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/pagerduty.rs
  forester/tests/test_utils.rs
  pnpm-lock.yaml
Owners: none

feat: use anchor InterfaceAccounts instead of manual checks
  programs/compressed-token/src/burn.rs
  programs/compressed-token/src/freeze.rs
  programs/compressed-token/src/instructions/burn.rs
  programs/compressed-token/src/instructions/create_token_pool.rs
  programs/compressed-token/src/instructions/freeze.rs
  programs/compressed-token/src/instructions/transfer.rs
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_compress_spl_token_account.rs
  programs/compressed-token/src/process_mint.rs
  programs/compressed-token/src/spl_compression.rs
  test-programs/compressed-token-test/tests/test.rs
  test-utils/src/spl.rs
Owners: @ananas-block, @vadorovsky

chore: remove unused error code InvalidMintAccount
  programs/compressed-token/src/lib.rs
Owners: @ananas-block, @vadorovsky

chore: add TokenMetadata to whitelisted tokens
  programs/compressed-token/src/instructions/create_token_pool.rs
Owners: @ananas-block, @vadorovsky

Update create_token_pool.rs
  programs/compressed-token/src/instructions/create_token_pool.rs
Owners: @ananas-block, @vadorovsky

Update create_token_pool.rs
  programs/compressed-token/src/instructions/create_token_pool.rs
Owners: @ananas-block, @vadorovsky

feat: add PagerDuty alert integration for the case when epoch registration fails after maximum retries. (#1367)
  forester/src/cli.rs
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/pagerduty.rs
  forester/tests/test_utils.rs
  pnpm-lock.yaml
Owners: none

chore: Update README.md (#1366)
  README.md
Owners: none

feat: rollover batch state trees
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/instructions/mod.rs
  programs/account-compression/src/instructions/rollover_batch_state_merkle_tree.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/state/rollover.rs
  programs/account-compression/src/utils/mod.rs
  programs/registry/src/account_compression_cpi/initialize_batched_state_tree.rs
  programs/registry/src/account_compression_cpi/initialize_tree_and_queue.rs
  programs/registry/src/account_compression_cpi/mod.rs
  programs/registry/src/account_compression_cpi/rollover_batch_state_tree.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/lib.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @vadorovsky

feat: add token 22 support (#1344)
  Cargo.lock
  Cargo.toml
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  programs/compressed-token/Cargo.toml
  programs/compressed-token/src/burn.rs
  programs/compressed-token/src/instructions/burn.rs
  programs/compressed-token/src/instructions/create_token_pool.rs
  programs/compressed-token/src/instructions/freeze.rs
  programs/compressed-token/src/instructions/mod.rs
  programs/compressed-token/src/instructions/transfer.rs
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_compress_spl_token_account.rs
  programs/compressed-token/src/process_mint.rs
  programs/compressed-token/src/process_transfer.rs
  programs/compressed-token/src/spl_compression.rs
  scripts/format.sh
  test-programs/compressed-token-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/Cargo.toml
  test-utils/src/e2e_test_env.rs
  test-utils/src/spl.rs
Owners: @ananas-block, @vadorovsky

more logging
  test-programs/registry-test/tests/tests.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_batch_forester.rs
Owners: none

fix: flakyness test validator tests
  client/src/rpc/rpc_connection.rs
  client/src/rpc/solana_rpc.rs
  forester/src/batched_ops.rs
  forester/tests/batched_op_test.rs
  light-program-test/src/test_rpc.rs
  pnpm-lock.yaml
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/rpc/test_rpc.rs
  test-utils/src/system_program.rs
  test-utils/src/test_batch_forester.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

format
  Cargo.lock
  forester-utils/src/indexer/mod.rs
  forester/src/batched_ops.rs
  forester/tests/batched_op_test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/sdk-test-program/programs/sdk-test/Cargo.toml
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @vadorovsky

fix: flakyness test validator tests
  client/src/rpc/rpc_connection.rs
  client/src/rpc/solana_rpc.rs
  forester/src/batched_ops.rs
  forester/tests/batched_op_test.rs
  light-program-test/src/test_rpc.rs
  pnpm-lock.yaml
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/rpc/test_rpc.rs
  test-utils/src/system_program.rs
  test-utils/src/test_batch_forester.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

feat: add light-program-test crate and integrate into existing modules
  Cargo.lock
  Cargo.toml
  client/src/indexer/mod.rs
  client/src/rpc/mod.rs
  examples/name-service/programs/name-service-without-macros/Cargo.toml
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/tests/test.rs
  light-program-test/Cargo.toml
  light-program-test/src/lib.rs
  light-program-test/src/test_indexer.rs
  light-program-test/src/test_rpc.rs
  test-programs/sdk-test-program/programs/sdk-test/Cargo.toml
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-utils/Cargo.toml
  test-utils/src/test_env.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann, @ananas-block, @vadorovsky

Remove debug prints
  circuit-lib/light-prover-client/src/batch_append_with_proofs.rs
  client/src/rpc/rpc_connection.rs
  client/src/rpc/solana_rpc.rs
  forester/src/batched_ops.rs
  programs/registry/src/utils.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky
