Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

chore: Bump light-sdk-macros
  Cargo.lock
  Cargo.toml
  macros/light-sdk-macros/Cargo.toml
  sdk/Cargo.toml
Owners: @vadorovsky

chore: Keep photon-api at version 0.45.0
  Cargo.lock
  Cargo.toml
  photon-api/Cargo.toml
Owners: none

stash
  cli/src/utils/processProverServer.ts
Owners: @vadorovsky

cleanup and make program dir general
  cli/src/utils/processProverServer.ts
Owners: @vadorovsky

feat: cli init
  .github/workflows/light-examples-tests.yml
  cli/src/commands/init/index.ts
  cli/src/psp-utils/download.ts
  cli/src/utils/constants.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/process.ts
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: await cargo generate download
  cli/src/commands/init/index.ts
Owners: @ananas-block, @sergeytimoshin

chore: bump version constants
  cli/src/utils/constants.ts
Owners: @vadorovsky

bump release
  cli/src/utils/constants.ts
Owners: @vadorovsky

chore: add tag to cargo generate command
  cli/src/commands/init/index.ts
  cli/src/utils/constants.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: update versíons, comment tag
  cli/src/commands/init/index.ts
  cli/src/utils/constants.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: kill prover function
  cli/src/utils/processProverServer.ts
Owners: @vadorovsky

fix: client package
  Cargo.lock
  client/Cargo.toml
  client/src/indexer/test_indexer.rs
  examples/name-service/programs/name-service/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann

remove prints
  cli/src/psp-utils/download.ts
  cli/src/utils/process.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: lint
  Cargo.lock
  Cargo.toml
  cli/src/commands/init/index.ts
  cli/src/utils/constants.ts
  cli/src/utils/process.ts
  client/Cargo.toml
  test-utils/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: update client, test-utils versions
  cli/src/utils/constants.ts
Owners: @vadorovsky

fix lint
  cli/src/commands/init/index.ts
Owners: @ananas-block, @sergeytimoshin

updated tag
  cli/src/utils/constants.ts
Owners: @vadorovsky

bump ts package versions
  cli/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

feat: cli init (#1240)
  .github/workflows/light-examples-tests.yml
  Cargo.lock
  Cargo.toml
  cli/package.json
  cli/src/commands/init/index.ts
  cli/src/psp-utils/download.ts
  cli/src/utils/constants.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/processProverServer.ts
  client/Cargo.toml
  client/src/indexer/test_indexer.rs
  examples/name-service/programs/name-service/Cargo.toml
  js/compressed-token/package.json
  js/stateless.js/package.json
  test-utils/Cargo.toml
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky, @SwenSchaeferjohann

fix: Update devenv.sh to set CPATH on macOS
  scripts/devenv.sh
Owners: @vadorovsky

fix: Update devenv.sh to set CPATH on macOS (#1247)
  scripts/devenv.sh
Owners: @vadorovsky

fix: implement idl build, fixes #1255
  sdk/src/address.rs
  sdk/src/proof.rs
Owners: none

fix: Use `AnchorDeserialize`/`AnchorSerialize` instead of borsh directly
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/event.rs
  sdk/src/proof.rs
  sdk/src/state.rs
  sdk/src/token.rs
  sdk/src/verify.rs
Owners: none

ci: Trigger example tests on SDK changes
  .github/workflows/light-examples-tests.yml
Owners: none

macos linker fix
  cli/src/commands/init/index.ts
  cli/src/utils/process.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

lint
  cli/src/utils/process.ts
Owners: @vadorovsky

fix: Use `AnchorDeserialize`/`AnchorSerialize` instead of borsh directly (#1259)
  .github/workflows/light-examples-tests.yml
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/event.rs
  sdk/src/proof.rs
  sdk/src/state.rs
  sdk/src/token.rs
  sdk/src/verify.rs
Owners: none

fix: macos linker fix (#1261)
  cli/src/commands/init/index.ts
  cli/src/utils/process.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

base
  cli/package.json
Owners: @ananas-block, @sergeytimoshin

stash
  cli/package.json
Owners: @ananas-block, @sergeytimoshin

chore: Update Agave CLI and libraries to 1.18.23
  Cargo.lock
  Cargo.toml
  cli/src/utils/constants.ts
  scripts/install.sh
Owners: @vadorovsky

ci: Trigger program and examples tests on `Cargo.*` files changes
  .github/workflows/light-examples-tests.yml
  .github/workflows/light-system-programs-tests.yml
Owners: none

chore: Update Agave CLI and libraries to 1.18.23 (#1264)
  .github/workflows/light-examples-tests.yml
  .github/workflows/light-system-programs-tests.yml
  Cargo.lock
  Cargo.toml
  cli/src/utils/constants.ts
  scripts/install.sh
Owners: @vadorovsky

wip
  cli/package.json
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin

Revert "chore: Update Agave CLI and libraries to 1.18.23 (#1264)"
  .github/workflows/light-examples-tests.yml
  .github/workflows/light-system-programs-tests.yml
  Cargo.lock
  Cargo.toml
  cli/src/utils/constants.ts
  scripts/install.sh
Owners: @vadorovsky

fix: Don't add MT pubkey in `derive_address_seed`
  examples/name-service/programs/name-service/tests/test.rs
  macros/light-sdk-macros/src/accounts.rs
  sdk/src/address.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Revert "chore: Update Agave CLI and libraries to 1.18.23 (#1264)" (#1266)
  .github/workflows/light-examples-tests.yml
  .github/workflows/light-system-programs-tests.yml
  Cargo.lock
  Cargo.toml
  cli/src/utils/constants.ts
  scripts/install.sh
Owners: @vadorovsky

chore(cli): Update comrpessed-program-template
  cli/src/utils/constants.ts
Owners: @vadorovsky

chore(cli): Update comrpessed-program-template (#1267)
  cli/src/utils/constants.ts
Owners: @vadorovsky

wip
  cli/.mocharc.json
  cli/package.json
  cli/src/commands/config/config.ts
  cli/test/commands/approve-and-mint-to/index.test.ts
  cli/test/commands/balance/index.test.ts
  cli/test/commands/compress-sol/index.test.ts
  cli/test/commands/compress-spl/index.test.ts
  cli/test/commands/config/index.test.ts
  cli/test/commands/create-mint/index.test.ts
  cli/test/commands/create-token-pool/index.test.ts
  cli/test/commands/decompress-sol/index.test.ts
  cli/test/commands/decompress-spl/index.test.ts
  cli/test/commands/merge-token-accounts/index.test.ts
  cli/test/commands/mint-to/index.test.ts
  cli/test/commands/transfer/index.test.ts
  cli/test/helpers/setup.ts
  cli/vitest.config.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin
