Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

fix(macros): Provide full import paths in `light_accounts` macro
  macros/light/src/accounts.rs
Owners: @vadorovsky

style: Use all avaiable light macros in token-escrow
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/escrow.rs
Owners: @ananas-block, @SwenSchaeferjohann

use lightprotocol/agave*
  Cargo.lock
  Cargo.toml
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_system_program.ts
  pnpm-lock.yaml
Owners: none

style: Rename to `compressed_output_account_with_address`
  examples/name-service/programs/name-service/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Derive address from the domain name
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Compute the hash of input accounts on-chain
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

use lightprotocol/agave* (#1070)
  Cargo.lock
  Cargo.toml
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_system_program.ts
  pnpm-lock.yaml
Owners: none

wip
  Cargo.lock
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  pnpm-lock.yaml
Owners: none

forester: improve concurrency handling
  forester/forester.toml
  forester/scripts/generate.ts
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/errors.rs
  forester/src/lib.rs
  forester/src/settings.rs
  forester/src/tree_data_sync.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  pnpm-lock.yaml
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
Owners: @vadorovsky, @sergeytimoshin, @SwenSchaeferjohann

Update forester-tests.yml
  .github/workflows/forester-tests.yml
Owners: none

Fetch trees only when forester starts
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/main.rs
  forester/src/rpc_pool.rs
  forester/src/tree_data_sync.rs
  forester/tests/e2e_test.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/forester_epoch.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
  test-utils/src/rpc/test_rpc.rs
  test-utils/src/test_env.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

feat: optimize forester with concurrent proof fetching and tx processing (#1068)
  .github/workflows/forester-tests.yml
  forester/forester.toml
  forester/scripts/generate.ts
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/errors.rs
  forester/src/lib.rs
  forester/src/settings.rs
  forester/src/tree_data_sync.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  pnpm-lock.yaml
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
Owners: @vadorovsky, @sergeytimoshin, @SwenSchaeferjohann

Fetch trees only when forester starts
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/main.rs
  forester/src/rpc_pool.rs
  forester/src/tree_data_sync.rs
  forester/tests/e2e_test.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/forester_epoch.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
  test-utils/src/rpc/test_rpc.rs
  test-utils/src/test_env.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

Simplify error handling and remove redundant clones
  test-programs/account-compression-test/tests/group_authority_tests.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
Owners: none

Optimize RPC connection handling in epoch manager
  forester/src/epoch_manager.rs
Owners: none

add preTokenBalances, postTokenBalances to txinfo
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
Owners: none

upd package json resolve node import err in ctoken
  js/compressed-token/package.json
  pnpm-lock.yaml
Owners: none

lint
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/rpc.ts
Owners: none

version bump 0.7.0 and 0.8.0
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: none

add cursor to remaining rpc methods
  js/compressed-token/src/actions/decompress.ts
  js/compressed-token/src/actions/transfer.ts
  js/compressed-token/tests/e2e/approve-and-mint-to.test.ts
  js/compressed-token/tests/e2e/compress.test.ts
  js/compressed-token/tests/e2e/decompress.test.ts
  js/compressed-token/tests/e2e/mint-to.test.ts
  js/compressed-token/tests/e2e/rpc-token-interop.test.ts
  js/compressed-token/tests/e2e/transfer.test.ts
  js/stateless.js/src/actions/create-account.ts
  js/stateless.js/src/actions/decompress.ts
  js/stateless.js/src/actions/transfer.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/get-compressed-token-accounts.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  js/stateless.js/tests/e2e/test-rpc.test.ts
  js/stateless.js/tests/e2e/testnet.test.ts
  js/stateless.js/tests/e2e/transfer.test.ts
Owners: none

fix: Don't emit incorrect roots in Merkle tree batch append (#1045)
  cli/accounts/address_merkle_tree_C83cpRN6oaafjNgMQJvaYgAz592EP5wunKvbokeTKPLn.json
  cli/accounts/merkle_tree_pubkey_5bdFnXU47QjzGpzHfXnxcEi5WXyxzEAZzd1vrE39bf1W.json
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/concurrent/src/changelog.rs
  merkle-tree/concurrent/src/lib.rs
  merkle-tree/concurrent/tests/tests.rs
  merkle-tree/reference/src/lib.rs
  merkle-tree/reference/src/store.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-utils/src/test_forester.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactor: forester: fetch trees only when forester starts (#1071)
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/main.rs
  forester/src/rpc_pool.rs
  forester/src/tree_data_sync.rs
  forester/tests/e2e_test.rs
  test-programs/account-compression-test/tests/group_authority_tests.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-programs/compressed-token-test/tests/test.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/forester_epoch.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
  test-utils/src/rpc/test_rpc.rs
  test-utils/src/test_env.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

chore: update readme, add info about ubuntu deps
  README.md
Owners: none

Switch to bash and refactor `install.sh`. Introduce a checkpoint system for incremental installation.
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  scripts/install.sh
Owners: @vadorovsky

bump v to latest, fix cli lint
  cli/src/commands/balance/index.ts
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: @ananas-block, @sergeytimoshin

Remove RPC Clone implementations and add error handling
  forester/src/epoch_manager.rs
  forester/src/photon_indexer.rs
  test-utils/src/indexer/mod.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
  test-utils/src/rpc/test_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

Remove RPC Clone implementations and add error handling (#1076)
  forester/src/epoch_manager.rs
  forester/src/photon_indexer.rs
  test-utils/src/indexer/mod.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
  test-utils/src/rpc/test_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

Switch to bash and refactor `install.sh`. (#1074)
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  scripts/install.sh
Owners: @vadorovsky

chore: update readme, add info about ubuntu deps (#1073)
  README.md
Owners: none

fix: mint_to capacity check for reallocs with len, capacity and ptr
  programs/compressed-token/src/process_mint.rs
Owners: @ananas-block, @vadorovsky

fix: Reduce the size of instruction
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  programs/compressed-token/src/burn.rs
  programs/compressed-token/src/delegation.rs
  programs/compressed-token/src/freeze.rs
  programs/compressed-token/src/process_transfer.rs
  programs/system/src/invoke/address.rs
  programs/system/src/invoke/instruction.rs
  programs/system/src/invoke/sum_check.rs
  programs/system/src/invoke/verify_state_proof.rs
  programs/system/src/invoke_cpi/process_cpi_context.rs
  programs/system/src/sdk/address.rs
  programs/system/src/sdk/compressed_account.rs
  programs/system/src/sdk/invoke.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/spl.rs
  test-utils/src/system_program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix(macros): Provide full import paths in `light_accounts` macro
  macros/light/src/accounts.rs
Owners: @vadorovsky

fix(macros): Provide full import paths in `LightTraits` (#1069)
  macros/light/src/traits.rs
Owners: @vadorovsky

style: Use all avaiable light macros in token-escrow
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/escrow.rs
Owners: @ananas-block, @SwenSchaeferjohann

style: Use `AccountInfo` instead of `UncheckedAccount`
  macros/light/src/traits.rs
  programs/compressed-token/src/instructions/burn.rs
  programs/compressed-token/src/instructions/freeze.rs
  programs/compressed-token/src/instructions/generic.rs
  programs/compressed-token/src/instructions/transfer.rs
  programs/system/src/invoke/instruction.rs
  programs/system/src/invoke_cpi/instruction.rs
  programs/system/src/sdk/accounts.rs
  sdk/src/traits.rs
Owners: @vadorovsky, @ananas-block

fix(macros): Provide full import paths in `light_accounts` macro (#1063)
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/escrow.rs
  macros/light/src/accounts.rs
  macros/light/src/traits.rs
  programs/compressed-token/src/instructions/burn.rs
  programs/compressed-token/src/instructions/freeze.rs
  programs/compressed-token/src/instructions/generic.rs
  programs/compressed-token/src/instructions/transfer.rs
  programs/system/src/invoke/instruction.rs
  programs/system/src/invoke_cpi/instruction.rs
  programs/system/src/sdk/accounts.rs
  sdk/src/traits.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Replace the old RpcPool implementation with bb8-based connection pooling for improved resource management.
  Cargo.lock
  forester/Cargo.toml
  forester/src/epoch_manager.rs
  forester/src/errors.rs
  forester/src/lib.rs
  forester/src/rollover/operations.rs
  forester/src/rpc_pool.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  pnpm-lock.yaml
  test-programs/system-test/tests/test.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

Remove unused code in forester/src/lib.rs
  forester/src/lib.rs
Owners: none

Fix missing newline at end of rpc_pool.rs
  forester/src/rpc_pool.rs
Owners: none

chore: export environment variables in install.sh
  scripts/install.sh
Owners: @vadorovsky
