Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

patch bump
  js/compressed-token/package.json
  js/stateless.js/package.json
Owners: none

wasmpack --locked
  scripts/install.sh
Owners: @vadorovsky

chore: JS release t22 (#1394)
  js/compressed-token/package.json
  js/compressed-token/src/actions/create-mint.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/compressed-token/src/program.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
  scripts/install.sh
Owners: @vadorovsky

chore: add accretion audit
  audits/accretion_v1_update_audit.pdf
Owners: none

chore: add accretion audit (#1405)
  audits/accretion_v1_update_audit.pdf
Owners: none

fix: rebase
  .github/workflows/light-examples-tests.yml
  circuit-lib/light-prover-client/tests/gnark.rs
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/registry/src/lib.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: batch append public input computation (#1330)
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  light-prover/prover/batch_update_circuit.go
  merkle-tree/concurrent/tests/tests.rs
  merkle-tree/indexed/tests/tests.rs
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/append_leaves.rs
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactor: update health check timeout in spawn_prover function, rewrite prove_batch_append test
  .github/actionlint.yaml
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  light-program-test/src/test_env.rs
  merkle-tree/reference/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: rollover state trees (#1371)
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/instructions/mod.rs
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/rollover_batch_state_merkle_tree.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
  programs/account-compression/src/state/rollover.rs
  programs/account-compression/src/utils/mod.rs
  programs/registry/src/account_compression_cpi/initialize_batched_state_tree.rs
  programs/registry/src/account_compression_cpi/initialize_tree_and_queue.rs
  programs/registry/src/account_compression_cpi/mod.rs
  programs/registry/src/account_compression_cpi/rollover_batch_state_tree.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/lib.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/test_batch_forester.rs
Owners: @ananas-block, @vadorovsky

feat: add support for circuits with height 32 and update related tests
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_1.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_10.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_100.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_250.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_32_500.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_0_0.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_1_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_1_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_1_3.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_1_4.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_2_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_2_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_2_3.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_2_4.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_3_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_3_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_3_3.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_3_4.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_4_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_4_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_4_3.rs
  circuit-lib/verifier/src/verifying_keys/combined_32_40_4_4.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_32_1.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_32_2.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_32_3.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_32_4.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_32_8.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  circuit-lib/verifier/src/verifying_keys/update_32_1.rs
  circuit-lib/verifier/src/verifying_keys/update_32_10.rs
  circuit-lib/verifier/src/verifying_keys/update_32_100.rs
  circuit-lib/verifier/src/verifying_keys/update_32_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_32_500.rs
  light-prover/integration_test.go
  light-prover/prover/proving_keys_utils.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: remove combined_32_0_0 verifying key file
  circuit-lib/verifier/src/verifying_keys/combined_32_0_0.rs
Owners: @ananas-block, @sergeytimoshin

refactor: remove deprecated verifying keys, restore inclusin_26_*.rs vkeys
  circuit-lib/verifier/src/lib.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_with_proofs_26_500.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_1_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_1_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_1_3.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_1_4.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_2_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_2_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_2_3.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_2_4.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_3_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_3_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_3_3.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_3_4.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_4_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_4_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_4_3.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_40_4_4.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_1.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_2.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_3.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_4.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_8.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  circuit-lib/verifier/src/verifying_keys/update_10_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  light-prover/prover/proving_keys_utils.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactor: prover: integration tests for mt 32
  circuit-lib/verifier/src/verifying_keys/mod.rs
  light-prover/integration_test.go
Owners: @ananas-block, @sergeytimoshin

refactor: generate_keys.sh
  light-prover/scripts/generate_keys.sh
Owners: @vadorovsky

fix: bounded vec mut deserialization from immutable reference
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/bounded-vec/src/offset/zero_copy.rs
Owners: @ananas-block, @vadorovsky

fix: tests
  js/stateless.js/package.json
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  light-program-test/src/test_indexer.rs
Owners: none

fix: lint
  light-program-test/src/test_indexer.rs
Owners: none

fix: system cpi tests
  circuit-lib/verifier/src/lib.rs
  light-program-test/src/test_batch_forester.rs
  light-prover/server/server.go
  merkle-tree/batched/src/zero_copy.rs
  programs/system/src/invoke/verify_state_proof.rs
  test-programs/system-cpi-test/tests/test.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: tests
  js/stateless.js/package.json
  test-programs/system-test/tests/test.rs
Owners: none

cleanup
  .github/workflows/light-system-programs-tests.yml
  circuit-lib/light-prover-client/src/batch_address_append.rs
  circuit-lib/light-prover-client/src/batch_append_with_proofs.rs
  circuit-lib/light-prover-client/src/indexed_changelog.rs
  circuit-lib/light-prover-client/src/lib.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  light-program-test/src/test_batch_forester.rs
  merkle-tree/batched/src/merkle_tree.rs
  merkle-tree/batched/src/queue.rs
  merkle-tree/batched/src/rollover_state_tree.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

pin js sdks to use web3.js@1.95.5
  cli/package.json
  examples/browser/nextjs/package.json
  examples/node/esm/package.json
  js/compressed-token/package.json
  js/stateless.js/package.json
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann

feat: multipl token pool accounts
  programs/compressed-token/src/instructions/create_token_pool.rs
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/spl_compression.rs
  test-programs/compressed-token-test/tests/test.rs
Owners: @ananas-block, @vadorovsky

Enable `unexpected_cfgs` lint and clean up unused dependencies.
  Cargo.lock
  examples/token-escrow/programs/token-escrow/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  scripts/lint.sh
  test-programs/system-cpi-test/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann, @sergeytimoshin, @vadorovsky

cli test-validator test: adjust wait time
  cli/test/commands/test-validator/index.test.ts
Owners: @ananas-block, @sergeytimoshin

Add Rust nightly installation to lint workflow
  .github/workflows/lint.yml
Owners: none

Add Rust target and components for nightly toolchain
  .github/workflows/lint.yml
Owners: none

chore: relax order of accounts for decompress
  programs/compressed-token/src/spl_compression.rs
Owners: @ananas-block, @vadorovsky

refactor: filter instead of skipping accounts proven by index
  programs/system/src/invoke/verify_state_proof.rs
Owners: @ananas-block, @vadorovsky

chore: remove address-append 40 1 from GetKeys and downloadKeys
  light-prover/prover/proving_keys_utils.go
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

chore: add hash chain and tx hash tests
  Cargo.lock
  Cargo.toml
  circuit-lib/light-prover-client/src/batch_address_append.rs
  circuit-lib/light-prover-client/src/batch_append_with_proofs.rs
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/combined/merkle_combined_proof_inputs.rs
  circuit-lib/light-prover-client/src/gnark/combined_json_formatter.rs
  circuit-lib/verifier/tests/test.rs
  light-program-test/src/test_batch_forester.rs
  light-prover/prover/proving_keys_utils.go
  light-prover/scripts/download_keys.sh
  merkle-tree/batched/src/batch.rs
  merkle-tree/batched/src/merkle_tree.rs
  merkle-tree/batched/tests/merkle_tree.rs
  utils/Cargo.toml
  utils/src/hashchain.rs
  utils/src/lib.rs
  utils/src/rand.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

merge test indexers
  client/Cargo.toml
  client/src/indexer/mod.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  examples/name-service/programs/name-service/tests/test.rs
  forester-utils/src/indexer/mod.rs
  forester/tests/test_utils.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  light-program-test/src/indexer/extensions.rs
  light-program-test/src/indexer/mod.rs
  light-program-test/src/indexer/test_indexer.rs
  light-program-test/src/lib.rs
  merkle-tree/batched/src/merkle_tree.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-utils/Cargo.toml
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/mod.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Add IndexerType abstraction
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/rollover/mod.rs
Owners: none

Refactor Indexer
  client/src/indexer/mod.rs
  light-program-test/src/indexer/extensions.rs
  light-program-test/src/indexer/test_indexer.rs
Owners: none

experiment borsh zero copy
  Cargo.lock
  circuit-lib/verifier/Cargo.toml
  circuit-lib/verifier/src/lib.rs
  programs/system/Cargo.toml
  programs/system/src/invoke/mod.rs
  programs/system/src/invoke/processor.rs
  programs/system/src/invoke/zero_slice.rs
  programs/system/src/lib.rs
  test-programs/system-test/tests/test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
