Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

fix: Derive address from the domain name
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Add `signer_check` utility
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

style: Rename to `compressed_output_account_with_address`
  examples/name-service/programs/name-service/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: Use `LightHasher` macro
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: DNS example
  .github/workflows/light-system-programs-tests.yml
  Cargo.lock
  Cargo.toml
  examples/name-service/.gitignore
  examples/name-service/.prettierignore
  examples/name-service/Anchor.toml
  examples/name-service/README.md
  examples/name-service/migrations/deploy.ts
  examples/name-service/package.json
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/Xargo.toml
  examples/name-service/programs/name-service/expand.rs
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/name-service/tsconfig.json
Owners: @ananas-block, @SwenSchaeferjohann

chore: Add name-service to pnpm-lock
  pnpm-lock.yaml
Owners: none

chore: Remove unwanted file
  examples/name-service/programs/name-service/expand.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Compute the hash of input accounts on-chain
  Cargo.lock
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

perf(name-server): Reduce the instruction size
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/compressed_account.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Remove commented code
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: `#[derive(LightHasher)]` macro and `AsByteVec` trait (#1085)
  Cargo.lock
  macros/light/Cargo.toml
  macros/light/src/hasher.rs
  macros/light/src/lib.rs
  macros/light/tests/hasher.rs
  merkle-tree/hasher/Cargo.toml
  merkle-tree/hasher/src/bytes.rs
  merkle-tree/hasher/src/lib.rs
Owners: @vadorovsky, @ananas-block

feat: DNS example (#1059)
  .github/workflows/light-system-programs-tests.yml
  Cargo.lock
  Cargo.toml
  examples/name-service/.gitignore
  examples/name-service/.prettierignore
  examples/name-service/Anchor.toml
  examples/name-service/README.md
  examples/name-service/migrations/deploy.ts
  examples/name-service/package.json
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/Xargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/name-service/tsconfig.json
  pnpm-lock.yaml
  sdk/src/compressed_account.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
Owners: @ananas-block, @SwenSchaeferjohann

Revert "feat: DNS example (#1059)"
  .github/workflows/light-system-programs-tests.yml
  Cargo.lock
  Cargo.toml
  examples/name-service/.gitignore
  examples/name-service/.prettierignore
  examples/name-service/Anchor.toml
  examples/name-service/README.md
  examples/name-service/migrations/deploy.ts
  examples/name-service/package.json
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/Xargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/name-service/tsconfig.json
  pnpm-lock.yaml
  sdk/src/compressed_account.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Rust compilation and clippy errors
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/merkle_context.rs
Owners: @ananas-block, @SwenSchaeferjohann

ci: Run examples tests when `examples/**` are modified
  .github/workflows/light-examples-tests.yml
Owners: none

fix: Rust compilation and clippy errors (#1102)
  .github/workflows/light-examples-tests.yml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/merkle_context.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: create empty token accounts with invalid mints (#1093)
  programs/compressed-token/src/delegation.rs
  programs/compressed-token/src/freeze.rs
  programs/compressed-token/src/lib.rs
  programs/compressed-token/src/process_mint.rs
  programs/compressed-token/src/process_transfer.rs
Owners: @ananas-block, @vadorovsky

feat: Add `SlotTracker` for monitoring and synchronizing slots.
  .github/workflows/forester-tests.yml
  Cargo.lock
  forester/Cargo.toml
  forester/forester.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/queue_helpers.rs
  forester/src/settings.rs
  forester/src/slot_tracker.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

feat: support for different circuit types for R1CS export
  light-prover/main.go
Owners: none

bump 1
  cli/package.json
  cli/src/utils/constants.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  pnpm-lock.yaml
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix install-sh
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  scripts/install.sh
Owners: @vadorovsky

fix test spelling
  js/stateless.js/tests/e2e/rpc-interop.test.ts
Owners: none

bump to 40
  cli/src/utils/constants.ts
  scripts/install.sh
Owners: @vadorovsky

chore: add memcp filter option to rpc, bump to photon 0.39.0 (#1043)
  cli/package.json
  cli/src/utils/constants.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  pnpm-lock.yaml
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: Add `#[light_account]` macro
  examples/name-service/programs/name-service/src/lib.rs
  macros/light/src/account.rs
  macros/light/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

feat: Add helpers for each compressed account action
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  sdk/src/compressed_account.rs
  sdk/src/utils.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: Add `#[light_account]` macro (#1105)
  examples/name-service/programs/name-service/src/lib.rs
  macros/light/src/account.rs
  macros/light/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

feat: Add helpers for each compressed account action (#1106)
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  sdk/src/compressed_account.rs
  sdk/src/utils.rs
Owners: @ananas-block, @SwenSchaeferjohann

feat: support for different circuit types for R1CS export (#1103)
  light-prover/main.go
Owners: none

chore: update install.sh
  README.md
  scripts/install.sh
Owners: @vadorovsky

feat: Add `SlotTracker` for monitoring and synchronizing slots. (#1090)
  .github/workflows/forester-tests.yml
  Cargo.lock
  forester/Cargo.toml
  forester/forester.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/queue_helpers.rs
  forester/src/settings.rs
  forester/src/slot_tracker.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  test-utils/src/rpc/rpc_connection.rs
  test-utils/src/rpc/solana_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

fix: Remove non-existent field from zero-copy wrapper, simplify `size_in_account`
  cli/accounts/address_merkle_tree_queue_HNjtNrjt6irUPYEgxhx2Vcs42koK9fxzm3aFLHVaaRWz.json
  cli/accounts/nullifier_queue_pubkey_44J4oDXpjPAbzHCSc24q7NEiPekss4sAbLd8ka4gd9CZ.json
  merkle-tree/hash-set/src/lib.rs
  merkle-tree/hash-set/src/zero_copy.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix(macros): Don't include original type size when `size` attribute is used
  macros/aligned-sized/src/expand.rs
  macros/aligned-sized/tests/test.rs
Owners: @vadorovsky

chore: update install.sh (#1107)
  README.md
  scripts/install.sh
Owners: @vadorovsky

chore: change program ids and regenerate accoutns
  test-programs/registry-test/tests/tests.rs
Owners: none

Increase concurrency and reduce iterations in tests
  forester/src/main.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
Owners: none

forester
  forester/tests/test_utils.rs
Owners: none

fix registry tests
  test-programs/registry-test/tests/tests.rs
Owners: none

fix(macros): Don't include original type size when `size` attribute is used (#1108)
  macros/aligned-sized/src/expand.rs
  macros/aligned-sized/tests/test.rs
Owners: @vadorovsky

fix sytem cpi test
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
Owners: none

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
