Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

fix: test indexer light execution
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  client/src/indexer/test_indexer.rs
Owners: @ananas-block, @sergeytimoshin

cleanup and make program dir general
  cli/src/utils/processProverServer.ts
  client/src/indexer/test_indexer.rs
  test-utils/src/test_env.rs
Owners: @vadorovsky

fix lint
  test-utils/src/test_env.rs
Owners: none

fix: find light bin
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  pnpm-lock.yaml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  test-utils/src/test_env.rs
Owners: none

turn on `devenv` on `name-service` & `token-escrow` examples
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann

Update test_indexer to correct CLI path and increase sleep duration to 10 seconds.
  client/src/indexer/test_indexer.rs
Owners: none

chore: replace sleep with check health
  client/src/indexer/test_indexer.rs
Owners: none

fix bin file
  client/src/indexer/test_indexer.rs
  test-utils/src/test_env.rs
Owners: none

Add zk-compression-cli to devDependencies
  examples/name-service/package.json
Owners: @ananas-block, @SwenSchaeferjohann

add ,
  examples/name-service/package.json
Owners: @ananas-block, @SwenSchaeferjohann

update pnmp-lock
  pnpm-lock.yaml
Owners: none

Add build step for zk-compression-cli in workflow
  .github/workflows/light-examples-tests.yml
Owners: none

Remove test programs from system-programs-tests workflow
  .github/workflows/light-system-programs-tests.yml
Owners: none

chore: remove prints
  client/src/indexer/test_indexer.rs
  test-utils/src/test_env.rs
Owners: none

fix: pre cargo generate cleanups (#1239)
  .github/workflows/light-examples-tests.yml
  .github/workflows/light-system-programs-tests.yml
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  cli/src/utils/processProverServer.ts
  client/src/indexer/test_indexer.rs
  examples/name-service/package.json
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  pnpm-lock.yaml
  sdk/src/compressed_account.rs
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky, @SwenSchaeferjohann

chore: Bump version of Rust project light-prover-client
  Cargo.lock
  Cargo.toml
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/verifier/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  sdk/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-utils/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann

chore: add light-client to release action
  .github/workflows/release-pr-rust.yml
Owners: none

chore: bump light-sdk, test-utils versions
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann

chore: light hasher dep add feature solana
  sdk/Cargo.toml
Owners: none

chore: add forester-utils version to workspace toml
  Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
Owners: none

pnpm i
  pnpm-lock.yaml
Owners: none

chore: make forester utils workspace dep, bump light-hash-set version
  Cargo.lock
  Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  programs/account-compression/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @vadorovsky

chore: bump account compression version
  Cargo.lock
  programs/account-compression/Cargo.toml
Owners: @ananas-block, @vadorovsky

chore: make programs workspace deps
  Cargo.lock
  Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: correct forester-utils version
  Cargo.lock
  Cargo.toml
  forester-utils/Cargo.toml
Owners: none

ayy lmao
  examples/name-service/programs/name-service/tests/test.rs
  macros/light-sdk-macros/src/program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: add light-client to release action (#1242)
  .github/workflows/release-pr-rust.yml
Owners: none

fix: Use `solana-program` in `light-hasher` indiscriminately
  merkle-tree/hasher/Cargo.toml
  merkle-tree/hasher/src/bytes.rs
  merkle-tree/hasher/src/errors.rs
Owners: @ananas-block, @vadorovsky

feat: releases + merge-token-accounts method (#1223)
  .gitignore
  cli/package.json
  cli/src/commands/create-token-pool/index.ts
  cli/src/commands/merge-token-accounts/index.ts
  cli/test/commands/approve-and-mint-to/index.test.ts
  cli/test/commands/create-token-pool/index.test.ts
  cli/test/commands/merge-token-accounts/index.test.ts
  examples/browser/nextjs/package.json
  examples/node/esm/package.json
  js/compressed-token/package.json
  js/compressed-token/src/actions/create-token-pool.ts
  js/compressed-token/src/actions/index.ts
  js/compressed-token/src/actions/merge-token-accounts.ts
  js/compressed-token/src/program.ts
  js/compressed-token/tests/e2e/create-token-pool.test.ts
  js/compressed-token/tests/e2e/merge-token-accounts.test.ts
  js/stateless.js/package.json
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann

fix: Use `solana-program` in `light-hasher` indiscriminately (#1244)
  merkle-tree/hasher/Cargo.toml
  merkle-tree/hasher/src/bytes.rs
  merkle-tree/hasher/src/errors.rs
Owners: @ananas-block, @vadorovsky

chore: Bump version of Rust project light-hasher
  Cargo.lock
  Cargo.toml
  circuit-lib/light-prover-client/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  macros/light-sdk-macros/Cargo.toml
  macros/light/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hasher/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  merkle-tree/reference/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

chore: make forester utils workspace dep, bump light-hash-set version
  Cargo.lock
  Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  programs/account-compression/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @vadorovsky

chore: add forester-utils version to workspace toml
  Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
Owners: none

chore: bump light-sdk, test-utils versions
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann

chore: bump account compression version
  Cargo.lock
  programs/account-compression/Cargo.toml
Owners: @ananas-block, @vadorovsky

chore: light hasher dep add feature solana
  sdk/Cargo.toml
Owners: none

chore: make programs workspace deps
  Cargo.lock
  Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: correct forester-utils version
  Cargo.lock
  Cargo.toml
  forester-utils/Cargo.toml
Owners: none

chore: Bump version of all Rust projects
  Cargo.lock
  Cargo.toml
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/verifier/Cargo.toml
  client/Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester-utils/Cargo.toml
  forester/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  heap/Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light-sdk-macros/Cargo.toml
  macros/light/Cargo.toml
  merkle-tree/bounded-vec/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/hasher/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  merkle-tree/reference/Cargo.toml
  photon-api/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

Include IDL and other changes post build
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
Owners: none
