Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

cleanup
  forester/src/rollover/operations.rs
  programs/registry/src/epoch/register_epoch.rs
  programs/registry/src/lib.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @vadorovsky

fix rollover assert
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/state_tree_rollover.rs
Owners: none

fix rollover test, registry program add metadata forester
  cli/accounts/address_merkle_tree_C83cpRN6oaafjNgMQJvaYgAz592EP5wunKvbokeTKPLn.json
  cli/accounts/address_merkle_tree_queue_HNjtNrjt6irUPYEgxhx2Vcs42koK9fxzm3aFLHVaaRWz.json
  cli/accounts/merkle_tree_pubkey_5bdFnXU47QjzGpzHfXnxcEi5WXyxzEAZzd1vrE39bf1W.json
  cli/accounts/nullifier_queue_pubkey_44J4oDXpjPAbzHCSc24q7NEiPekss4sAbLd8ka4gd9CZ.json
  forester/src/nullifier/address/processor.rs
  forester/src/nullifier/state/processor.rs
  forester/src/rollover/operations.rs
  forester/tests/rollover_test.rs
  js/stateless.js/src/constants.ts
  js/stateless.js/src/idls/light_registry.ts
  programs/registry/src/account_compression_cpi/initialize_tree_and_queue.rs
  programs/registry/src/account_compression_cpi/nullify.rs
  programs/registry/src/account_compression_cpi/rollover_state_tree.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/account_compression_cpi/update_address_tree.rs
  programs/registry/src/errors.rs
  programs/registry/src/lib.rs
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/src/address_tree_rollover.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/registry.rs
  test-utils/src/state_tree_rollover.rs
  test-utils/src/test_env.rs
  test-utils/src/test_forester.rs
  test-utils/src/transaction_params.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix comments
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/initialize_state_merkle_tree_and_nullifier_queue.rs
  programs/account-compression/src/lib.rs
  programs/account-compression/src/sdk.rs
  programs/registry/src/errors.rs
  programs/registry/src/protocol_config/state.rs
  programs/registry/src/selection/forester.rs
  test-programs/system-cpi-test/src/lib.rs
  test-programs/system-cpi-test/src/sdk.rs
Owners: @ananas-block, @vadorovsky

fixed test
  test-programs/compressed-token-test/tests/test.rs
  test-utils/src/assert_token_tx.rs
Owners: none

Update test-programs/compressed-token-test/tests/test.rs
  test-programs/compressed-token-test/tests/test.rs
Owners: none

fix: mix delegated and owned compressed token accounts (#1050)
  programs/compressed-token/src/process_transfer.rs
  test-programs/compressed-token-test/tests/test.rs
  test-utils/src/assert_token_tx.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/spl.rs
Owners: @ananas-block, @vadorovsky

comment fixes
  js/stateless.js/src/idls/light_registry.ts
  programs/registry/src/account_compression_cpi/register_program.rs
  programs/registry/src/account_compression_cpi/sdk.rs
  programs/registry/src/epoch/register_epoch.rs
  programs/registry/src/errors.rs
  programs/registry/src/lib.rs
  programs/registry/src/sdk.rs
  programs/registry/src/utils.rs
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-utils/src/assert_epoch.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/forester_epoch.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/registry.rs
  test-utils/src/test_env.rs
  test-utils/src/test_forester.rs
Owners: @ananas-block, @vadorovsky

regenerated forester epoch pda
  cli/accounts/forester_epoch_pda_ENVaZ1UbnHPhAo34b8pHv8u52ZuqQMEZVS7ufG4tEK3i.json
Owners: @ananas-block, @sergeytimoshin

chore: Formal Specification for the Merkle Tree circuits (#1033)
  .github/workflows/prover-test.yml
  light-prover/README.md
  light-prover/formal-verification/.gitignore
  light-prover/formal-verification/FormalVerification.lean
  light-prover/formal-verification/FormalVerification/BinaryDecompositions.lean
  light-prover/formal-verification/FormalVerification/Circuit.lean
  light-prover/formal-verification/FormalVerification/Common.lean
  light-prover/formal-verification/FormalVerification/Deletion.lean
  light-prover/formal-verification/FormalVerification/InputHashing.lean
  light-prover/formal-verification/FormalVerification/Insertion.lean
  light-prover/formal-verification/FormalVerification/Keccak.lean
  light-prover/formal-verification/FormalVerification/Lemmas.lean
  light-prover/formal-verification/FormalVerification/Merkle.lean
  light-prover/formal-verification/FormalVerification/MerkleProofs.lean
  light-prover/formal-verification/FormalVerification/Poseidon.lean
  light-prover/formal-verification/FormalVerification/RangeTree.lean
  light-prover/formal-verification/FormalVerification/Rangecheck.lean
  light-prover/formal-verification/FormalVerification/ReducednessCheck.lean
  light-prover/formal-verification/Main.lean
  light-prover/formal-verification/lake-manifest.json
  light-prover/formal-verification/lakefile.lean
  light-prover/formal-verification/lean-toolchain
  light-prover/go.mod
  light-prover/go.sum
  light-prover/prover/circuit_utils.go
  light-prover/prover/extractor.go
  light-prover/prover/is_less_test.go
  light-prover/prover/non_inclusion_circuit.go
Owners: none

feat: Add `LightCompressedAccounts` macro
  macros/light/src/lib.rs
  macros/light/src/traits.rs
  macros/trait-macro/Cargo.toml
  macros/trait-macro/README.md
  macros/trait-macro/src/lib.rs
Owners: @vadorovsky

fix(heap): wrap start in UnsafeCell
  heap/src/lib.rs
Owners: none

heap comparison unsafe cell
  heap/src/lib.rs
Owners: none

partially working
  heap/src/lib.rs
Owners: none

fix: impl suggestions
  merkle-tree/concurrent/src/lib.rs
  merkle-tree/hash-set/src/lib.rs
  merkle-tree/indexed/src/array.rs
  merkle-tree/indexed/src/lib.rs
Owners: @ananas-block, @vadorovsky

unify iterations into const
  merkle-tree/hash-set/src/lib.rs
Owners: @ananas-block, @vadorovsky

fix clippy
  merkle-tree/indexed/src/array.rs
Owners: @ananas-block, @vadorovsky

chore: add read only placeholder in compressed accounts with Merkle context
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
  js/stateless.js/src/instruction/pack-compressed-accounts.ts
  js/stateless.js/src/state/compressed-account.ts
  js/stateless.js/src/state/types.ts
  pnpm-lock.yaml
  programs/compressed-token/src/freeze.rs
  programs/compressed-token/src/process_transfer.rs
  programs/system/src/invoke/sum_check.rs
  programs/system/src/invoke_cpi/process_cpi_context.rs
  programs/system/src/sdk/compressed_account.rs
  programs/system/src/sdk/invoke.rs
  test-programs/system-cpi-test/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix: deregister program
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/deregister_program.rs
  test-programs/account-compression-test/tests/group_authority_tests.rs
Owners: @ananas-block, @vadorovsky

fix: noop account check
  programs/account-compression/src/state/change_log_event.rs
  programs/system/src/invoke/emit_event.rs
Owners: @ananas-block, @vadorovsky

feat: Add `LightDiscriminator` derive macro
  Cargo.lock
  macros/light/Cargo.toml
  macros/light/src/discriminator.rs
  macros/light/src/lib.rs
  merkle-tree/hasher/src/lib.rs
Owners: @vadorovsky, @ananas-block

fix: Emit only one root in Merkle tree batch append
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/concurrent/src/changelog.rs
  merkle-tree/concurrent/src/lib.rs
  merkle-tree/concurrent/tests/tests.rs
  merkle-tree/reference/src/lib.rs
  merkle-tree/reference/src/store.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-utils/src/test_forester.rs
Owners: @ananas-block, @vadorovsky

fix: Emit a "zero root" to appease the client and forester
  merkle-tree/concurrent/src/lib.rs
  merkle-tree/concurrent/tests/tests.rs
Owners: @ananas-block, @vadorovsky

chore: Regenerate accounts
  cli/accounts/address_merkle_tree_C83cpRN6oaafjNgMQJvaYgAz592EP5wunKvbokeTKPLn.json
  cli/accounts/merkle_tree_pubkey_5bdFnXU47QjzGpzHfXnxcEi5WXyxzEAZzd1vrE39bf1W.json
Owners: @ananas-block, @sergeytimoshin

test: Assert the discriminator
  macros/light/src/discriminator.rs
Owners: @vadorovsky

fix(macros): Provide full import paths in `light_accounts` macro
  macros/light/src/accounts.rs
Owners: @vadorovsky

fix(macros): Provide full import paths in `LightTraits`
  macros/light/src/traits.rs
Owners: @vadorovsky

feat: DNS example
  .github/workflows/light-system-programs-tests.yml
  Cargo.lock
  Cargo.toml
  examples/name-service/.gitignore
  examples/name-service/.prettierignore
  examples/name-service/Anchor.toml
  examples/name-service/README.md
  examples/name-service/migrations/deploy.ts
  examples/name-service/package.json
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/Xargo.toml
  examples/name-service/programs/name-service/expand.rs
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/name-service/tsconfig.json
Owners: @ananas-block, @SwenSchaeferjohann

fix: Add `signer_check` utility
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Remove commented code
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

unified event emittance
  programs/system/src/errors.rs
  programs/system/src/invoke/emit_event.rs
  test-programs/compressed-token-test/tests/test.rs
Owners: @ananas-block, @vadorovsky

update pnpm lock
  pnpm-lock.yaml
Owners: none

feat: Add `LightDiscriminator` derive macro (#1061)
  Cargo.lock
  macros/light/Cargo.toml
  macros/light/src/discriminator.rs
  macros/light/src/lib.rs
  merkle-tree/hasher/src/lib.rs
Owners: @vadorovsky, @ananas-block

chore: switch to agave 1.18.17 (#1048)
  Cargo.lock
  Cargo.toml
Owners: none

fix outdated comment
  programs/compressed-token/src/token_data.rs
Owners: @ananas-block, @vadorovsky

fix: noop account check (#1067)
  programs/account-compression/src/state/change_log_event.rs
  programs/system/src/errors.rs
  programs/system/src/invoke/emit_event.rs
  test-programs/compressed-token-test/tests/test.rs
Owners: @ananas-block, @vadorovsky

fix: impl suggestions (#1064)
  merkle-tree/concurrent/src/lib.rs
  merkle-tree/hash-set/src/lib.rs
  merkle-tree/indexed/src/array.rs
  merkle-tree/indexed/src/lib.rs
Owners: @ananas-block, @vadorovsky

chore: add read only placeholder in compressed accounts with Merkle context (#1065)
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
  js/stateless.js/src/instruction/pack-compressed-accounts.ts
  js/stateless.js/src/state/compressed-account.ts
  js/stateless.js/src/state/types.ts
  pnpm-lock.yaml
  programs/compressed-token/src/freeze.rs
  programs/compressed-token/src/process_transfer.rs
  programs/system/src/invoke/sum_check.rs
  programs/system/src/invoke_cpi/process_cpi_context.rs
  programs/system/src/sdk/compressed_account.rs
  programs/system/src/sdk/invoke.rs
  test-programs/system-cpi-test/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix: deregister program (#1066)
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/deregister_program.rs
  test-programs/account-compression-test/tests/group_authority_tests.rs
Owners: @ananas-block, @vadorovsky

fix(macros): Provide full import paths in `LightTraits` (#1069)
  macros/light/src/traits.rs
Owners: @vadorovsky
