Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

feat: add test-validator --stop flag (#1132)
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/processPhotonIndexer.ts
  cli/test/commands/config/index.test.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Refactor imports in token-escrow/test_compressed_pda.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
Owners: @ananas-block, @SwenSchaeferjohann

add contribution script
  scripts/contribute-to-setup.sh
  scripts/setup-r1cs.sh
Owners: @vadorovsky

Re-export `forester-utils` in `test-utils`.
  Cargo.lock
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/Cargo.toml
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  test-programs/account-compression-test/Cargo.toml
  test-programs/account-compression-test/tests/address_merkle_tree_tests.rs
  test-programs/account-compression-test/tests/group_authority_tests.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-programs/compressed-token-test/Cargo.toml
  test-programs/compressed-token-test/tests/test.rs
  test-programs/registry-test/Cargo.toml
  test-programs/registry-test/tests/tests.rs
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-cpi-test/tests/test_program_owned_trees.rs
  test-programs/system-test/Cargo.toml
  test-programs/system-test/tests/test.rs
  test-utils/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

tsc add create urls sh
  scripts/tsc-contribute.sh
  scripts/tsc-create-r1cs.sh
  scripts/tsc-create-urls.sh
Owners: @vadorovsky

test is stuck
  forester/tests/e2e_test.rs
Owners: none

rename files
  ceremony/ph2-files/combined_26_1_1_contribution_0.ph2
  ceremony/ph2-files/combined_26_1_2_contribution_0.ph2
  ceremony/ph2-files/combined_26_2_1_contribution_0.ph2
  ceremony/ph2-files/combined_26_2_2_contribution_0.ph2
  ceremony/ph2-files/combined_26_3_1_contribution_0.ph2
  ceremony/ph2-files/combined_26_3_2_contribution_0.ph2
  ceremony/ph2-files/combined_26_4_1_contribution_0.ph2
  ceremony/ph2-files/combined_26_4_2_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_1_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_2_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_3_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_4_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_8_contribution_0.ph2
  ceremony/ph2-files/non-inclusion_26_1_contribution_0.ph2
  ceremony/ph2-files/non-inclusion_26_2_contribution_0.ph2
  scripts/tsc-contribute.sh
  scripts/tsc-create-r1cs.sh
  scripts/tsc-create-urls.sh
Owners: @vadorovsky

chore: added rollover logic to forester(once per slot) and test
  forester/src/epoch_manager.rs
  forester/src/rollover/operations.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  test-utils/src/e2e_test_env.rs
Owners: none

fix e2e test
  test-utils/src/e2e_test_env.rs
Owners: none

fix registry-test
  test-programs/registry-test/tests/tests.rs
Owners: none

fix: update and close
  examples/name-service/programs/name-service/expand.rs
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/compressed_account.rs
  sdk/src/merkle_context.rs
  sdk/src/program_merkle_context.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Separate `light_system_accounts` from `light_accounts`
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/escrow.rs
  macros/light/src/accounts.rs
  macros/light/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: Fix clippy errors
  macros/light/src/accounts.rs
  macros/light/src/program.rs
  sdk/src/verify.rs
Owners: @vadorovsky

chore: added rollover logic to forester(once per slot) and test (#1134)
  forester/src/epoch_manager.rs
  forester/src/rollover/operations.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  test-programs/registry-test/tests/tests.rs
  test-utils/src/e2e_test_env.rs
Owners: none

wip
  ceremony/contribute/outputs/alice_CONTRIBUTION_0.txt
  ceremony/contribute/outputs/inclusion_26_1_alice_contribution_1.ph2
  ceremony/contribute/ph2-files/inclusion_26_1_alice_contribution_0.ph2
  ceremony/ph2-files/combined_26_1_1_swen_contribution_0.ph2
  ceremony/ph2-files/combined_26_1_2_swen_contribution_0.ph2
  ceremony/ph2-files/combined_26_2_1_swen_contribution_0.ph2
  ceremony/ph2-files/combined_26_2_2_swen_contribution_0.ph2
  ceremony/ph2-files/combined_26_3_1_swen_contribution_0.ph2
  ceremony/ph2-files/combined_26_3_2_swen_contribution_0.ph2
  ceremony/ph2-files/combined_26_4_1_swen_contribution_0.ph2
  ceremony/ph2-files/combined_26_4_2_swen_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_1_swen_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_2_swen_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_3_swen_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_4_swen_contribution_0.ph2
  ceremony/ph2-files/inclusion_26_8_swen_contribution_0.ph2
  ceremony/ph2-files/non-inclusion_26_1_swen_contribution_0.ph2
  ceremony/ph2-files/non-inclusion_26_2_swen_contribution_0.ph2
  scripts/tsc-contribute.sh
  scripts/tsc-create-urls.py
  scripts/tsc-create-urls.sh
Owners: @vadorovsky

fix lint
  sdk/src/compressed_account.rs
Owners: none

fix lint (#1135)
  sdk/src/compressed_account.rs
Owners: none

fix unit test for light_system_accounts
  macros/light/src/accounts.rs
Owners: @vadorovsky

Switch logging from `log` to `tracing`
  Cargo.lock
  forester-utils/src/rpc/solana_rpc.rs
  forester/Cargo.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/main.rs
  forester/src/metrics.rs
  forester/src/photon_indexer.rs
  forester/src/pubsub_client.rs
  forester/src/queue_helpers.rs
  forester/src/rollover/operations.rs
  forester/src/send_transaction.rs
  forester/src/settings.rs
  forester/src/slot_tracker.rs
  forester/src/telemetry.rs
  forester/src/tree_data_sync.rs
  forester/src/utils.rs
  forester/tests/test_utils.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

Swap `tracing` import order and remove trailing whitespace
  forester/src/rollover/operations.rs
Owners: none

chore: add proof len consistency check
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/nullify_leaves.rs
Owners: @ananas-block, @vadorovsky

Remove commented code.
  forester/src/telemetry.rs
Owners: none

refactor: use existing variable for vec len
  programs/system/src/invoke/processor.rs
Owners: @ananas-block, @vadorovsky

Fetch proofs in parallel using tokio::join
  forester/src/send_transaction.rs
Owners: none

fix: remove custom signer seeds from invoke_cpi
  examples/name-service/programs/name-service/src/lib.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  programs/compressed-token/src/process_mint.rs
  programs/compressed-token/src/process_transfer.rs
  programs/system/src/invoke_cpi/instruction.rs
  programs/system/src/invoke_cpi/process_cpi_context.rs
  programs/system/src/invoke_cpi/processor.rs
  programs/system/src/invoke_cpi/verify_signer.rs
  sdk/src/utils.rs
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/src/invalidate_not_owned_account.rs
  test-programs/system-cpi-test/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Refactor epoch processing to use task handles
  forester/src/epoch_manager.rs
Owners: none

Refactor import statements
  forester/src/epoch_manager.rs
Owners: none

fixed seed derivation in tests
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/sdk.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  examples/token-escrow/programs/token-escrow/src/lib.rs
  programs/compressed-token/src/process_mint.rs
  programs/system/src/invoke_cpi/verify_signer.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

fix: remove redundant loop executions 6
  merkle-tree/hash-set/src/lib.rs
Owners: @ananas-block, @vadorovsky

add lint
  programs/system/src/invoke_cpi/verify_signer.rs
Owners: @ananas-block, @vadorovsky

cleanup
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/sdk.rs
  programs/system/src/invoke_cpi/verify_signer.rs
  test-programs/system-cpi-test/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

update idls
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
Owners: none

chore: add proof len consistency check (#1144)
  programs/account-compression/src/errors.rs
  programs/account-compression/src/instructions/nullify_leaves.rs
Owners: @ananas-block, @vadorovsky

refactor: use existing variable for vec len (#1145)
  programs/system/src/invoke/processor.rs
Owners: @ananas-block, @vadorovsky

fix: system cpi tests
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/src/invalidate_not_owned_account.rs
  test-programs/system-cpi-test/src/sdk.rs
Owners: none

fixed queue comment IndexedArray -> HashSet
  programs/account-compression/src/state/queue.rs
Owners: @ananas-block, @vadorovsky

Fetch proofs in parallel using tokio::join (#1146)
  forester/src/send_transaction.rs
Owners: none

refactor: forester: switch logging from `log` to `tracing` (#1143)
  Cargo.lock
  forester-utils/src/rpc/solana_rpc.rs
  forester/Cargo.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/main.rs
  forester/src/metrics.rs
  forester/src/photon_indexer.rs
  forester/src/pubsub_client.rs
  forester/src/queue_helpers.rs
  forester/src/rollover/operations.rs
  forester/src/send_transaction.rs
  forester/src/settings.rs
  forester/src/slot_tracker.rs
  forester/src/telemetry.rs
  forester/src/tree_data_sync.rs
  forester/src/utils.rs
  forester/tests/test_utils.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

fixed queue comment IndexedArray -> HashSet (#1149)
  programs/account-compression/src/state/queue.rs
Owners: @ananas-block, @vadorovsky

fix: remove custom signer seeds from invoke_cpi (#1147)
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/sdk.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  examples/token-escrow/programs/token-escrow/src/lib.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_system_program.ts
  merkle-tree/hash-set/src/lib.rs
  programs/compressed-token/src/process_mint.rs
  programs/compressed-token/src/process_transfer.rs
  programs/system/src/invoke_cpi/instruction.rs
  programs/system/src/invoke_cpi/process_cpi_context.rs
  programs/system/src/invoke_cpi/processor.rs
  programs/system/src/invoke_cpi/verify_signer.rs
  sdk/src/utils.rs
  test-programs/system-cpi-test/src/create_pda.rs
  test-programs/system-cpi-test/src/invalidate_not_owned_account.rs
  test-programs/system-cpi-test/src/sdk.rs
  test-programs/system-cpi-test/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
