Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

chore: enable ci interop tests (#1119)
  .github/workflows/js.yml
  Cargo.lock
  js/compressed-token/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: none

wip
  Cargo.lock
  Cargo.toml
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

wip
  examples/name-service/programs/name-service/Cargo.toml
  scripts/release-all-rust-crates.sh
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

• Tracing-based telemetry • Prometheus metrics sender • Prometheus + AlertManager + PushGateway + Grafana configuration
  Cargo.lock
  forester-spec.yaml
  forester/.dockerignore
  forester/.env.example
  forester/.gitignore
  forester/Cargo.toml
  forester/Dockerfile
  forester/alert_rules.yml
  forester/alertmanager.yml
  forester/docker-compose.yml
  forester/package.json
  forester/prometheus.yml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/errors.rs
  forester/src/lib.rs
  forester/src/main.rs
  forester/src/metrics.rs
  forester/src/pubsub_client.rs
  forester/src/send_transaction.rs
  forester/src/settings.rs
  forester/src/slot_tracker.rs
  forester/src/telemetry.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  test-utils/src/forester_epoch.rs
  test-utils/src/rpc/solana_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

chore: release 0.6.0
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
  scripts/release-all-rust-crates.sh
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: release 0.6.0 (#1124)
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
  scripts/release-all-rust-crates.sh
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

chore: Bump version of all Rust projects
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/verifier/Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/token-escrow/programs/token-escrow/Cargo.toml
  forester/Cargo.toml
  hasher.rs/src/wasm/Cargo.toml
  heap/Cargo.toml
  macros/aligned-sized/Cargo.toml
  macros/light/Cargo.toml
  merkle-tree/bounded-vec/Cargo.toml
  merkle-tree/concurrent/Cargo.toml
  merkle-tree/hash-set/Cargo.toml
  merkle-tree/hasher/Cargo.toml
  merkle-tree/indexed/Cargo.toml
  merkle-tree/reference/Cargo.toml
  photon-api/Cargo.toml
  programs/account-compression/Cargo.toml
  programs/compressed-token/Cargo.toml
  programs/registry/Cargo.toml
  programs/system/Cargo.toml
  sdk/Cargo.toml
  test-programs/account-compression-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
  test-programs/e2e-test/Cargo.toml
  test-programs/registry-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
  test-programs/system-test/Cargo.toml
  test-utils/Cargo.toml
  utils/Cargo.toml
  xtask/Cargo.toml
Owners: @ananas-block, @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

update lookuptable
  js/compressed-token/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/compressed-token/src/program.ts
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: none

build
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
Owners: none

• Tracing-based telemetry (#1095)
  Cargo.lock
  forester-spec.yaml
  forester/.dockerignore
  forester/.env.example
  forester/.gitignore
  forester/Cargo.toml
  forester/Dockerfile
  forester/alert_rules.yml
  forester/alertmanager.yml
  forester/docker-compose.yml
  forester/package.json
  forester/prometheus.yml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/errors.rs
  forester/src/lib.rs
  forester/src/main.rs
  forester/src/metrics.rs
  forester/src/pubsub_client.rs
  forester/src/send_transaction.rs
  forester/src/settings.rs
  forester/src/slot_tracker.rs
  forester/src/telemetry.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
  test-utils/src/forester_epoch.rs
  test-utils/src/rpc/solana_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

bump rust, build
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
Owners: none

stash
  forester/src/photon_indexer.rs
  forester/tests/e2e_test.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  photon-api/src/apis/configuration.rs
Owners: none

wip
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

in the midst of implementing traits for PhotonIndexer
  cli/src/utils/initTestEnv.ts
  forester/src/photon_indexer.rs
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  photon-api/src/apis/default_api.rs
  test-utils/src/indexer/mod.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/spl.rs
  test-utils/src/system_program.rs
Owners: @vadorovsky

rust + cli patch
  cli/package.json
Owners: @ananas-block, @sergeytimoshin

update sh
  scripts/release-all-rust-crates.sh
Owners: @vadorovsky

test: test_with_photon works without addresses
  forester/Cargo.toml
  forester/src/photon_indexer.rs
  forester/src/send_transaction.rs
  forester/tests/e2e_test.rs
  test-programs/system-cpi-test/tests/test.rs
  test-programs/system-test/tests/test.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/mod.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/system_program.rs
Owners: none

chore: remove airdrop in run_pipeline
  forester/src/lib.rs
Owners: none

chore: released rust crates and cli with patched agave client (#1127)
  cli/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/idls/light_system_program.ts
  scripts/release-all-rust-crates.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: remove airdrop in run_pipeline (#1128)
  forester/src/lib.rs
Owners: none

feat: forester: added registration restoration logic & test.
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/tests/e2e_test.rs
  test-utils/src/forester_epoch.rs
Owners: none

formatting and remove unused import
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/tests/e2e_test.rs
  test-utils/src/forester_epoch.rs
Owners: none

Ensure telemetry and metrics initialization is thread-safe
  forester/src/metrics.rs
  forester/src/telemetry.rs
Owners: none

feat: Add macros for compressed PDAs
  Cargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  macros/light/src/accounts.rs
  macros/light/src/lib.rs
  macros/light/src/program.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/program_merkle_context.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Attempt to fix the SBF tests
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  sdk/src/compressed_account.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Remove unneeded imports
  examples/name-service/programs/name-service/src/lib.rs
  macros/light/src/accounts.rs
  sdk/src/compressed_account.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Update README.md RPC urls
  cli/README.md
Owners: @ananas-block, @sergeytimoshin

Update README.md RPC urls (#1130)
  cli/README.md
Owners: @ananas-block, @sergeytimoshin

chore: Update README.md
  cli/README.md
Owners: @ananas-block, @sergeytimoshin

chore: Update README.md (#1131)
  cli/README.md
Owners: @ananas-block, @sergeytimoshin

add stoptestenv
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/processPhotonIndexer.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  scripts/install.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

add test
  cli/test/commands/config/index.test.ts
Owners: @ananas-block, @sergeytimoshin

Reorder forester-utils dependency in system-cpi-test/Cargo.toml
  test-programs/system-cpi-test/Cargo.toml
Owners: none

Reorder forester-utils dependency in compressed-token-test/Cargo.toml
  test-programs/compressed-token-test/Cargo.toml
Owners: none

setup-init script and .ph2 files
  ceremony/ph2-files/combined_26_1_1.ph2
  ceremony/ph2-files/combined_26_1_2.ph2
  ceremony/ph2-files/combined_26_2_1.ph2
  ceremony/ph2-files/combined_26_2_2.ph2
  ceremony/ph2-files/combined_26_3_1.ph2
  ceremony/ph2-files/combined_26_3_2.ph2
  ceremony/ph2-files/combined_26_4_1.ph2
  ceremony/ph2-files/combined_26_4_2.ph2
  ceremony/ph2-files/inclusion_26_1.ph2
  ceremony/ph2-files/inclusion_26_2.ph2
  ceremony/ph2-files/inclusion_26_3.ph2
  ceremony/ph2-files/inclusion_26_4.ph2
  ceremony/ph2-files/inclusion_26_8.ph2
  ceremony/ph2-files/non-inclusion_26_1.ph2
  ceremony/ph2-files/non-inclusion_26_2.ph2
  ceremony/r1cs/inclusion_26_1.r1cs
  ceremony/r1cs/non-inclusion_26_1.r1cs
  evals
  scripts/setup-r1cs.sh
  srs.lag
Owners: @vadorovsky

Add forester-utils dependency to name-service example
  Cargo.lock
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

Add forester-utils dependency to token-escrow example
  Cargo.lock
  examples/token-escrow/programs/token-escrow/Cargo.toml
  examples/token-escrow/programs/token-escrow/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

update description
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky
