Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

chore: add verify build readme (#1197)
  README.md
  scripts/deploy-devnet.sh
Owners: @vadorovsky

rollover if tree.next_index() > 10
  forester/src/rollover/operations.rs
Owners: none

wip
  Cargo.lock
  forester/Cargo.toml
  forester/src/epoch_manager.rs
  forester/src/send_transaction.rs
Owners: none

wip
  forester-utils/src/lib.rs
  forester-utils/src/rpc/rpc_connection.rs
  forester-utils/src/rpc/solana_rpc.rs
  forester/forester.toml
  forester/scripts/generate.ts
  forester/src/epoch_manager.rs
  forester/src/rollover/operations.rs
  forester/src/send_transaction.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann, @vadorovsky

refactor: Remove dependency on programs in SDK
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/Cargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  examples/token-escrow/programs/token-escrow/Cargo.toml
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/sdk.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_compressed_pda/withdrawal.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/escrow.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/sdk.rs
  examples/token-escrow/programs/token-escrow/src/escrow_with_pda/withdrawal.rs
  examples/token-escrow/programs/token-escrow/src/lib.rs
  examples/token-escrow/programs/token-escrow/tests/test.rs
  examples/token-escrow/programs/token-escrow/tests/test_compressed_pda.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  macros/light-sdk-macros/src/traits.rs
  scripts/install.sh
  sdk/Cargo.toml
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/constants.rs
  sdk/src/context.rs
  sdk/src/event.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/traits.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Refactor queue fetching logic to support configurable indices
  forester/forester.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/queue_helpers.rs
  forester/src/send_transaction.rs
  forester/src/settings.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
Owners: none

Refactor queue fetching logic to support configurable indices (#1200)
  forester/forester.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/queue_helpers.rs
  forester/src/send_transaction.rs
  forester/src/settings.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
Owners: none

photon 0.45.0, add: getValidityProofV0 for custom tree support
  cli/src/utils/constants.ts
  js/stateless.js/src/actions/create-account.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  scripts/install.sh
Owners: @vadorovsky

photon 0.45.0, add: getValidityProofV0 for custom tree support (#1202)
  cli/src/utils/constants.ts
  js/stateless.js/src/actions/create-account.ts
  js/stateless.js/src/rpc-interface.ts
  js/stateless.js/src/rpc.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  scripts/install.sh
Owners: @vadorovsky

chore: update photon version to 0.45.0
  scripts/install.sh
Owners: @vadorovsky

wip fixing photon address tests
  forester/tests/photon_tests.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/test_env.rs
Owners: none

chore: add photon tests
  cli/src/utils/constants.ts
  forester-utils/src/indexer/mod.rs
  forester/src/photon_indexer.rs
  forester/tests/photon_tests.rs
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
Owners: @vadorovsky

Add tree discovery capability.
  forester/forester.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/settings.rs
  forester/src/tree_finder.rs
Owners: none

photon address test works for one iteration
  forester/src/epoch_manager.rs
  forester/src/photon_indexer.rs
  forester/tests/photon_tests.rs
  forester/tests/test_utils.rs
  test-utils/src/e2e_test_env.rs
Owners: none

Add detailed logging and adjust phase handling
  forester/src/epoch_manager.rs
  forester/src/telemetry.rs
  forester/tests/photon_tests.rs
Owners: none

Add new API response and request data models
  photon-api/docs/AddressWithTree.md
  photon-api/docs/DataSlice.md
  photon-api/docs/FilterSelector.md
  photon-api/docs/GetCompressedAccountBalancePost200Response.md
  photon-api/docs/GetCompressedAccountBalancePost200ResponseResult.md
  photon-api/docs/GetCompressedAccountBalancePostRequest.md
  photon-api/docs/GetLatestNonVotingSignaturesPost200Response.md
  photon-api/docs/GetLatestNonVotingSignaturesPost200ResponseResult.md
  photon-api/docs/GetMultipleNewAddressProofsV2PostRequest.md
  photon-api/docs/Memcmp.md
  photon-api/docs/SignatureInfoListWithError.md
  photon-api/docs/SignatureInfoWithError.md
  photon-api/src/models/_get_compressed_account_balance_post_200_response.rs
  photon-api/src/models/_get_compressed_account_balance_post_200_response_result.rs
  photon-api/src/models/_get_compressed_account_balance_post_request.rs
  photon-api/src/models/_get_latest_non_voting_signatures_post_200_response.rs
  photon-api/src/models/_get_latest_non_voting_signatures_post_200_response_result.rs
  photon-api/src/models/_get_multiple_new_address_proofs_v2_post_request.rs
  photon-api/src/models/address_with_tree.rs
  photon-api/src/models/data_slice.rs
  photon-api/src/models/filter_selector.rs
  photon-api/src/models/memcmp.rs
  photon-api/src/models/signature_info_list_with_error.rs
  photon-api/src/models/signature_info_with_error.rs
Owners: none

reproduce
  forester/src/epoch_manager.rs
  forester/src/telemetry.rs
  forester/tests/photon_tests.rs
Owners: none

add general reproducer
  forester/tests/photon_tests.rs
Owners: none

fix forester toml typo, fix lint
  forester/forester.toml
  forester/src/epoch_manager.rs
  forester/src/photon_indexer.rs
Owners: none

Add new API response and request data models
  photon-api/docs/AddressWithTree.md
  photon-api/docs/DataSlice.md
  photon-api/docs/FilterSelector.md
  photon-api/docs/GetCompressedAccountBalancePost200Response.md
  photon-api/docs/GetCompressedAccountBalancePost200ResponseResult.md
  photon-api/docs/GetCompressedAccountBalancePostRequest.md
  photon-api/docs/GetLatestNonVotingSignaturesPost200Response.md
  photon-api/docs/GetLatestNonVotingSignaturesPost200ResponseResult.md
  photon-api/docs/GetMultipleNewAddressProofsV2PostRequest.md
  photon-api/docs/Memcmp.md
  photon-api/docs/SignatureInfoListWithError.md
  photon-api/docs/SignatureInfoWithError.md
  photon-api/src/models/_get_compressed_account_balance_post_200_response.rs
  photon-api/src/models/_get_compressed_account_balance_post_200_response_result.rs
  photon-api/src/models/_get_compressed_account_balance_post_request.rs
  photon-api/src/models/_get_latest_non_voting_signatures_post_200_response.rs
  photon-api/src/models/_get_latest_non_voting_signatures_post_200_response_result.rs
  photon-api/src/models/_get_multiple_new_address_proofs_v2_post_request.rs
  photon-api/src/models/address_with_tree.rs
  photon-api/src/models/data_slice.rs
  photon-api/src/models/filter_selector.rs
  photon-api/src/models/memcmp.rs
  photon-api/src/models/signature_info_list_with_error.rs
  photon-api/src/models/signature_info_with_error.rs
Owners: none

Update install.sh
  scripts/install.sh
Owners: @vadorovsky

Refactor get_multiple_new_address_proofs method
  forester/src/photon_indexer.rs
Owners: none

Refactor get_multiple_new_address_proofs method (#1204)
  forester/src/photon_indexer.rs
Owners: none

Add tree discovery capability.
  forester/forester.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/settings.rs
  forester/src/tree_finder.rs
Owners: none

Fix add_new_tree
  forester/src/epoch_manager.rs
Owners: none

Fix test_utils: add missing tree_discovery_interval_seconds
  forester/tests/test_utils.rs
Owners: none

feat: forester: add tree discovery & injection into the current epoch (#1201)
  forester/forester.toml
  forester/src/config.rs
  forester/src/epoch_manager.rs
  forester/src/lib.rs
  forester/src/settings.rs
  forester/src/tree_finder.rs
  forester/tests/test_utils.rs
Owners: none

Added new integration tests for PhotonIndexer
  forester-utils/src/indexer/mod.rs
  forester/package.json
  forester/src/photon_indexer.rs
  forester/tests/photon_tests.rs
  pnpm-lock.yaml
  test-utils/src/e2e_test_env.rs
  test-utils/src/indexer/test_indexer.rs
  test-utils/src/test_env.rs
Owners: none

gm
  forester/package.json
  forester/scripts/generate.ts
  forester/src/tree_finder.rs
  forester/tests/photon_tests.rs
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  pnpm-lock.yaml
  test-utils/src/e2e_test_env.rs
Owners: @vadorovsky

Add debugging capability to RPC function
  js/stateless.js/src/rpc.ts
Owners: none

Add yield_now call in tree_finder loop
  forester/src/tree_finder.rs
Owners: none

Add yield_now call in tree_finder loop (#1208)
  forester/src/tree_finder.rs
Owners: none

Add debugging capability to RPC function (#1207)
  js/stateless.js/src/rpc.ts
Owners: none

Remove dependency on Anchor
  Cargo.lock
  Cargo.toml
  client/Cargo.toml
  client/src/rpc/errors.rs
  client/src/rpc/rpc_connection.rs
  client/src/rpc/solana_rpc.rs
Owners: @sergeytimoshin, @SwenSchaeferjohann

Fix the build
  forester/src/tree_finder.rs
Owners: none

fix: add signer check
  examples/name-service/programs/name-service/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

added failing tests
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: add signer check dns example (#1210)
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
Owners: @ananas-block, @SwenSchaeferjohann

wip: ts registry and account-compression impl
  js/stateless.js/package.json
  js/stateless.js/src/actions/create-state-tree.ts
  js/stateless.js/src/idls/light_registry.ts
  js/stateless.js/src/programs/account-compression.ts
  js/stateless.js/src/programs/index.ts
  js/stateless.js/src/programs/registry.ts
  js/stateless.js/tests/e2e/multi-trees.test.ts
Owners: @ananas-block, @vadorovsky

wip
  pnpm-lock.yaml
Owners: none
