Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

chore: Remove `lamports` and address MT parameters in constructors
  sdk/src/account_meta.rs
Owners: none

fix: Derive discriminator
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  sdk/src/account_info.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann

debug
  cli/src/utils/initTestEnv.ts
  examples/mixed-accounts/programs/mixed-accounts/src/lib.rs
Owners: @vadorovsky, @ananas-block, @SwenSchaeferjohann

fixed
  cli/src/utils/initTestEnv.ts
Owners: @vadorovsky

feat: add append circuit which can skip nullified values
  light-prover/merkle-tree/merkle_tree.go
  light-prover/prover/batch_append2_circuit.go
  light-prover/prover/batch_append_2_circuit_test.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/test_data_helpers.go
Owners: @ananas-block, @vadorovsky

feat: light-prover-client for batch append2
  Cargo.lock
  circuit-lib/light-prover-client/Cargo.toml
  circuit-lib/light-prover-client/src/batch_append_2.rs
  circuit-lib/light-prover-client/src/batch_update.rs
  circuit-lib/light-prover-client/src/gnark/batch_append_2_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/batch_update_json_formatter.rs
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/src/gnark/mod.rs
  circuit-lib/light-prover-client/src/lib.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  circuit-lib/verifier/src/verifying_keys/append2_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append2_26_10.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  cli/src/commands/start-prover/index.ts
  light-prover/main.go
  light-prover/prover/batch_append2_circuit.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_append2.go
  light-prover/prover/marshal_update.go
  light-prover/prover/proving_keys_utils.go
  light-prover/scripts/generate_keys.sh
  light-prover/server/server.go
  merkle-tree/indexed/tests/tests.rs
  merkle-tree/reference/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Derive address inside `from_meta`
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  sdk/src/account_info.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/error.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Input account hashing
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  sdk/src/compressed_account.rs
Owners: @ananas-block, @SwenSchaeferjohann

`LightAccountInfo`: rename `new_address` to `new_address_params`
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  sdk/src/account_info.rs
  sdk/src/compressed_account.rs
Owners: @ananas-block, @SwenSchaeferjohann

chore: Derive address manually
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  sdk/src/account_info.rs
Owners: @ananas-block, @SwenSchaeferjohann

style: Fix clippy errors
  examples/name-service/programs/name-service-without-macros/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

wip
  Cargo.lock
  Cargo.toml
  examples/mixed-accounts/Anchor.toml
  examples/mixed-accounts/README.md
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  test-programs/sdk-test-program/.gitignore
  test-programs/sdk-test-program/Cargo.toml
  test-programs/sdk-test-program/Xargo.toml
  test-programs/sdk-test-program/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

Add `init`/`mut`/`close` construction variants for `LightAccountInfo`
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  sdk/src/account_info.rs
  sdk/src/error.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix ci
  examples/name-service/programs/name-service/src/lib.rs
  test-programs/sdk-test-program/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann

test.rs
  test-programs/sdk-test-program/Cargo.toml
  test-programs/sdk-test-program/src/lib.rs
  test-programs/sdk-test-program/tests/test.rs
Owners: none

fix lint
  test-programs/sdk-test-program/src/lib.rs
  test-programs/sdk-test-program/tests/test.rs
Owners: none

Construct `LightAccount` straight from `LightAccountMeta`
  examples/name-service/programs/name-service-without-macros/src/lib.rs
  sdk/src/compressed_account.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann

fix: Remote `read_only` from `new_mut`
  examples/name-service/programs/name-service-without-macros/tests/test.rs
  sdk/src/account_meta.rs
Owners: @ananas-block, @SwenSchaeferjohann

add update
  test-programs/sdk-test-program/tests/test.rs
Owners: none

add sdk-test program to ci
  .github/workflows/light-system-programs-tests.yml
Owners: none

fix test
  test-programs/sdk-test-program/tests/test.rs
Owners: none

fix test
  Cargo.toml
  test-programs/sdk-test-program/.prettierignore
  test-programs/sdk-test-program/Anchor.toml
  test-programs/sdk-test-program/README.md
  test-programs/sdk-test-program/package.json
  test-programs/sdk-test-program/programs/sdk-test/Cargo.toml
  test-programs/sdk-test-program/programs/sdk-test/Xargo.toml
  test-programs/sdk-test-program/programs/sdk-test/src/lib.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-programs/sdk-test-program/tsconfig.json
Owners: @ananas-block, @vadorovsky

clean
  Cargo.lock
  Cargo.toml
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
Owners: @ananas-block, @vadorovsky

fix
  Cargo.lock
  Cargo.toml
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
Owners: @ananas-block, @vadorovsky

assert full string in hasher unit tests + assert zeroaccount fully
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

precise list of test coverage
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

remove skip feature
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

chore: replace unsafe with safe code
  merkle-tree/hasher/src/bytes.rs
Owners: @ananas-block, @vadorovsky

chore: replace unsafe with safe code (#1328)
  merkle-tree/hasher/src/bytes.rs
Owners: @ananas-block, @vadorovsky

fix lint, docstring cmt
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/tests/hasher.rs
Owners: @vadorovsky

fix: hasher (#1314)
  .github/workflows/light-system-programs-tests.yml
  Cargo.lock
  Cargo.toml
  examples/mixed-accounts/README.md
  examples/mixed-accounts/programs/mixed-accounts/src/lib.rs
  macros/light-sdk-macros/Cargo.toml
  macros/light-sdk-macros/src/hasher.rs
  macros/light-sdk-macros/src/lib.rs
  macros/light-sdk-macros/src/program.rs
  macros/light-sdk-macros/tests/hasher.rs
  merkle-tree/hasher/src/lib.rs
  test-programs/sdk-test-program/.gitignore
  test-programs/sdk-test-program/.prettierignore
  test-programs/sdk-test-program/Anchor.toml
  test-programs/sdk-test-program/README.md
  test-programs/sdk-test-program/package.json
  test-programs/sdk-test-program/programs/sdk-test/Cargo.toml
  test-programs/sdk-test-program/programs/sdk-test/Xargo.toml
  test-programs/sdk-test-program/programs/sdk-test/src/lib.rs
  test-programs/sdk-test-program/programs/sdk-test/tests/test.rs
  test-programs/sdk-test-program/tsconfig.json
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Disable Lean extraction and build steps
  .github/workflows/prover-test.yml
Owners: none

remove invalid file
  programs/account-compression/src/state/batched_merkle_tree.rs
Owners: @ananas-block, @vadorovsky

chore: make verifier test serial
  Cargo.lock
  circuit-lib/verifier/Cargo.toml
  circuit-lib/verifier/tests/test.rs
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin

Update test.rs
  circuit-lib/verifier/tests/test.rs
Owners: @ananas-block, @sergeytimoshin

chore: make verifier test serial (#1329)
  Cargo.lock
  circuit-lib/verifier/Cargo.toml
  circuit-lib/verifier/tests/test.rs
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin

refactor: update health check timeout in spawn_prover function, rewrite prove_batch_append test
  .github/actionlint.yaml
  circuit-lib/light-prover-client/src/gnark/helpers.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  cli/src/utils/process.ts
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/src/idls/account_compression.ts
  js/stateless.js/src/idls/light_compressed_token.ts
  merkle-tree/reference/src/lib.rs
  pnpm-lock.yaml
  programs/account-compression/src/state/batched_merkle_tree.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
  test-utils/src/test_env.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

fix: add light prover client batch update and append tests
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
Owners: @ananas-block, @sergeytimoshin

feat: light-prover-client for batch append2
  circuit-lib/light-prover-client/src/batch_append_2.rs
  circuit-lib/light-prover-client/src/gnark/batch_append_2_json_formatter.rs
  circuit-lib/light-prover-client/src/mock_batched_forester.rs
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/src/lib.rs
  circuit-lib/verifier/src/verifying_keys/append2_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append2_26_10.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  light-prover/prover/batch_append2_circuit.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/marshal_append2.go
  light-prover/prover/proving_keys_utils.go
  programs/account-compression/src/instructions/insert_into_queues.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

cleanup
  circuit-lib/light-prover-client/src/gnark/batch_append_2_json_formatter.rs
  programs/account-compression/src/instructions/intialize_batched_state_merkle_tree.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  test-programs/account-compression-test/tests/batched_merkle_tree_test.rs
Owners: @ananas-block, @sergeytimoshin, @vadorovsky
