Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

update workflow
  .github/workflows/prover-test.yml
Owners: none

Rename TreeHeight to Height in prover
  light-prover/prover/circuit_utils.go
  light-prover/prover/combined_circuit.go
  light-prover/prover/combined_proving_system.go
  light-prover/prover/combined_test.go
  light-prover/prover/extractor.go
  light-prover/prover/non_inclusion_circuit.go
  light-prover/prover/non_inclusion_proving_system.go
  light-prover/prover/non_inclusion_test.go
Owners: none

Renamed the TreeHeight field to Height
  light-prover/prover/circuit_utils.go
Owners: none

refactor: prover: rename tree depth to tree height (#1284)
  .github/workflows/prover-test.yml
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/merkle-tree/gen_test_data_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/combined_circuit.go
  light-prover/prover/combined_proving_system.go
  light-prover/prover/combined_test.go
  light-prover/prover/extractor.go
  light-prover/prover/inclusion_circuit.go
  light-prover/prover/inclusion_proving_system.go
  light-prover/prover/inclusion_test.go
  light-prover/prover/marshal.go
  light-prover/prover/non_inclusion_circuit.go
  light-prover/prover/non_inclusion_proving_system.go
  light-prover/prover/non_inclusion_test.go
Owners: @ananas-block, @vadorovsky

chore: rename wipe bloomfilter -> wipe_batch
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

Revert "fix: Construct the shell command for killing processes safely (#1277)"
  cli/package.json
  cli/src/utils/process.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore(cli): Supress the CodeQL shell-command error
  cli/src/utils/process.ts
Owners: @vadorovsky

chore(cli): Supress the CodeQL shell-command error (#1287)
  cli/package.json
  cli/src/utils/process.ts
  pnpm-lock.yaml
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: New instruction format
  Cargo.lock
  Cargo.toml
  examples/name-service-without-macros/.gitignore
  examples/name-service-without-macros/.prettierignore
  examples/name-service-without-macros/Anchor.toml
  examples/name-service-without-macros/README.md
  examples/name-service-without-macros/migrations/deploy.ts
  examples/name-service-without-macros/package.json
  examples/name-service-without-macros/programs/name-service/Cargo.toml
  examples/name-service-without-macros/programs/name-service/Xargo.toml
  examples/name-service-without-macros/programs/name-service/src/lib.rs
  examples/name-service-without-macros/programs/name-service/tests/test.rs
  examples/name-service-without-macros/tsconfig.json
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/proof.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

feat: prover: implement deep copy for merkle tree
  light-prover/merkle-tree/merkle_tree.go
Owners: @ananas-block, @vadorovsky

Add insertion circuit functionality
  .github/workflows/js.yml
  .github/workflows/prover-test.yml
  circuit-lib/verifier/src/verifying_keys/append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/merkle-tree/merkle_tree.go
  light-prover/merkle-tree/merkle_tree_test.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_append_circuit_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/combined_circuit.go
  light-prover/prover/combined_proving_system.go
  light-prover/prover/inclusion_circuit.go
  light-prover/prover/inclusion_proving_system.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_append.go
  light-prover/prover/non_inclusion_circuit.go
  light-prover/prover/non_inclusion_proving_system.go
  light-prover/prover/test_data_helpers.go
  light-prover/prover/zero_bytes.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
  light-prover/scripts/inclusion_26_1.json
  light-prover/server/server.go
  scripts/tsc-create-r1cs.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Batch update circuit
  circuit-lib/verifier/src/verifying_keys/combined_26_1_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_1_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_2_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_2_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_3_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_3_2.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_4_1.rs
  circuit-lib/verifier/src/verifying_keys/combined_26_4_2.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_1.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_2.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_3.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_4.rs
  circuit-lib/verifier/src/verifying_keys/inclusion_26_8.rs
  circuit-lib/verifier/src/verifying_keys/insertion_26_1.rs
  circuit-lib/verifier/src/verifying_keys/insertion_26_2.rs
  circuit-lib/verifier/src/verifying_keys/insertion_26_4.rs
  circuit-lib/verifier/src/verifying_keys/insertion_26_8.rs
  circuit-lib/verifier/src/verifying_keys/non_inclusion_26_1.rs
  circuit-lib/verifier/src/verifying_keys/non_inclusion_26_2.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_2.rs
  circuit-lib/verifier/src/verifying_keys/update_26_4.rs
  circuit-lib/verifier/src/verifying_keys/update_26_8.rs
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/merkle-tree/gen_test_data_test.go
  light-prover/merkle-tree/merkle_tree.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/insertion_circuit.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_insertion.go
  light-prover/prover/marshal_update.go
  light-prover/prover/update_circuit.go
  light-prover/scripts/generate_keys.sh
  light-prover/server/server.go
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: prover: implement deep copy for merkle tree (#1289)
  light-prover/merkle-tree/merkle_tree.go
Owners: @ananas-block, @vadorovsky

Add insertion circuit functionality
  .github/workflows/js.yml
  .github/workflows/prover-test.yml
  circuit-lib/verifier/src/verifying_keys/append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/merkle-tree/merkle_tree.go
  light-prover/merkle-tree/merkle_tree_test.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_append_circuit_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/combined_circuit.go
  light-prover/prover/combined_proving_system.go
  light-prover/prover/inclusion_circuit.go
  light-prover/prover/inclusion_proving_system.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_append.go
  light-prover/prover/non_inclusion_circuit.go
  light-prover/prover/non_inclusion_proving_system.go
  light-prover/prover/test_data_helpers.go
  light-prover/prover/zero_bytes.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
  light-prover/scripts/inclusion_26_1.json
  light-prover/server/server.go
  scripts/tsc-create-r1cs.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

Update light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_append_circuit.go
Owners: none

refactored input queue into mt account
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

stash
  merkle-tree/bounded-vec/src/lib.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

feat: insertion circuit
  .github/workflows/js.yml
  .github/workflows/prover-test.yml
  circuit-lib/verifier/src/verifying_keys/append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/merkle-tree/merkle_tree.go
  light-prover/merkle-tree/merkle_tree_test.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_append_circuit_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/combined_circuit.go
  light-prover/prover/combined_proving_system.go
  light-prover/prover/inclusion_circuit.go
  light-prover/prover/inclusion_proving_system.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_append.go
  light-prover/prover/non_inclusion_circuit.go
  light-prover/prover/non_inclusion_proving_system.go
  light-prover/prover/test_data_helpers.go
  light-prover/prover/zero_bytes.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
  light-prover/scripts/inclusion_26_1.json
  light-prover/server/server.go
  scripts/tsc-create-r1cs.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: add zellic v1 audit report
  audits/zellic_v1_audit.pdf
Owners: none

chore: add zellic v1 audit report (#1292)
  audits/zellic_v1_audit.pdf
Owners: none

feat: insertion circuit (#1254)
  .github/workflows/js.yml
  .github/workflows/prover-test.yml
  circuit-lib/verifier/src/verifying_keys/append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/mod.rs
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/merkle-tree/merkle_tree.go
  light-prover/merkle-tree/merkle_tree_test.go
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_append_circuit_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/combined_circuit.go
  light-prover/prover/combined_proving_system.go
  light-prover/prover/inclusion_circuit.go
  light-prover/prover/inclusion_proving_system.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_append.go
  light-prover/prover/non_inclusion_circuit.go
  light-prover/prover/non_inclusion_proving_system.go
  light-prover/prover/test_data_helpers.go
  light-prover/prover/zero_bytes.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
  light-prover/scripts/inclusion_26_1.json
  light-prover/server/server.go
  scripts/tsc-create-r1cs.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

chore: fix workflow link
  README.md
Owners: none

chore: fix workflow link (#1293)
  README.md
Owners: none

chore: add missing install reqirement
  README.md
Owners: none

remove windows, and comment windows as unsupported
  README.md
Owners: none

Update README.md
  README.md
Owners: none

chore: add missing install reqirement (#1294)
  README.md
Owners: none

test: rnd account init works
  programs/account-compression/src/errors.rs
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

chore: replace is_inserted with state
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

chore: moved offset to bounded vec, added bounded vec init and deserialize
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/bounded-vec/src/offset/copy.rs
  merkle-tree/bounded-vec/src/offset/mod.rs
  merkle-tree/bounded-vec/src/offset/zero_copy.rs
  merkle-tree/concurrent/src/copy.rs
  merkle-tree/concurrent/src/zero_copy.rs
  merkle-tree/indexed/src/copy.rs
  merkle-tree/indexed/src/zero_copy.rs
  utils/src/lib.rs
Owners: @ananas-block, @vadorovsky

fixed bounded vec imports
  programs/account-compression/src/state/batch.rs
  programs/account-compression/src/state/batched_merkle_tree.rs
  programs/account-compression/src/state/batched_queue.rs
Owners: @ananas-block, @vadorovsky

chore: update shebang to use bash instead of sh in every script
  scripts/clean.sh
  scripts/coverage.sh
  scripts/format.sh
  scripts/lint.sh
  scripts/push-compressed-token-idl.sh
  scripts/push-stateless-js-idls.sh
  scripts/release-all-rust-crates.sh
  scripts/test.sh
  scripts/tsc-create-r1cs.sh
Owners: @vadorovsky

refactor: prover: support lightweight integration tests
  .github/workflows/prover-test.yml
  README.md
  circuit-lib/light-prover-client/scripts/prover.sh
  circuit-lib/light-prover-client/tests/gnark.rs
  circuit-lib/verifier/tests/test.rs
  cli/src/commands/start-prover/index.ts
  cli/src/commands/test-validator/index.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/processProverServer.ts
  js/compressed-token/package.json
  js/compressed-token/src/idl/light_compressed_token.ts
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_compressed_token.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/circuit_utils.go
  light-prover/scripts/download_keys.sh
  scripts/install.sh
Owners: @vadorovsky, @ananas-block, @sergeytimoshin

feat: batch update circuit
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/batch_update_circuit_test.go
  light-prover/prover/circuit_builder.go
  light-prover/prover/circuit_utils.go
  light-prover/prover/marshal.go
  light-prover/prover/marshal_update.go
  light-prover/prover/test_data_helpers.go
  light-prover/scripts/download_keys.sh
  light-prover/scripts/generate_keys.sh
  light-prover/server/server.go
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

wip
  light-prover/integration_test.go
  light-prover/main.go
  light-prover/prover/circuit_utils.go
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

fix download_keys.sh
  light-prover/scripts/download_keys.sh
Owners: @vadorovsky

cleanup
  light-prover/prover/batch_append_circuit.go
  light-prover/prover/batch_circuit_helpers.go
  light-prover/prover/batch_update_circuit.go
  light-prover/prover/marshal_update.go
Owners: none

Add batch update tests for different batch sizes
  light-prover/integration_test.go
Owners: none

chore: add Fedora installation instructions for clang and lld
  README.md
Owners: none

regenerate batch update & append keys
  circuit-lib/verifier/src/verifying_keys/append_10_1.rs
  circuit-lib/verifier/src/verifying_keys/append_10_10.rs
  circuit-lib/verifier/src/verifying_keys/append_10_100.rs
  circuit-lib/verifier/src/verifying_keys/append_10_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_10_500.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1.rs
  circuit-lib/verifier/src/verifying_keys/append_26_10.rs
  circuit-lib/verifier/src/verifying_keys/append_26_100.rs
  circuit-lib/verifier/src/verifying_keys/append_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_26_500.rs
  circuit-lib/verifier/src/verifying_keys/append_4_1.rs
  circuit-lib/verifier/src/verifying_keys/append_4_10.rs
  circuit-lib/verifier/src/verifying_keys/append_4_100.rs
  circuit-lib/verifier/src/verifying_keys/append_4_1000.rs
  circuit-lib/verifier/src/verifying_keys/append_4_500.rs
  circuit-lib/verifier/src/verifying_keys/update_10_1.rs
  circuit-lib/verifier/src/verifying_keys/update_10_10.rs
  circuit-lib/verifier/src/verifying_keys/update_10_100.rs
  circuit-lib/verifier/src/verifying_keys/update_10_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_10_500.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1.rs
  circuit-lib/verifier/src/verifying_keys/update_26_10.rs
  circuit-lib/verifier/src/verifying_keys/update_26_100.rs
  circuit-lib/verifier/src/verifying_keys/update_26_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_26_500.rs
  circuit-lib/verifier/src/verifying_keys/update_4_1.rs
  circuit-lib/verifier/src/verifying_keys/update_4_10.rs
  circuit-lib/verifier/src/verifying_keys/update_4_100.rs
  circuit-lib/verifier/src/verifying_keys/update_4_1000.rs
  circuit-lib/verifier/src/verifying_keys/update_4_500.rs
  light-prover/scripts/generate_keys.sh
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky
