Repository Lightprotocol/light-protocol, changes with the owners that CODEOWNERS names for each.
All owners: @SwenSchaeferjohann, @ananas-block, @sergeytimoshin, @vadorovsky

CODEOWNERS:

assets/ @SwenSchaeferjohann
circuit-lib/ @ananas-block @sergeytimoshin
cli/ @ananas-block @sergeytimoshin
hasher.rs/ @sergeytimoshin
macro-circom/ @ananas-block
macros/ @vadorovsky
merkle-tree/ @ananas-block @vadorovsky
programs/ @ananas-block @vadorovsky
prover.js/ @sergeytimoshin
examples/ @ananas-block @SwenSchaeferjohann
rpc/ @sergeytimoshin @SwenSchaeferjohann
scripts/ @vadorovsky
third-party/ @vadorovsky
tsconfig/ @SwenSchaeferjohann
utils/ @vadorovsky
verifier-sdk/ @ananas-block @vadorovsky
web/ @SwenSchaeferjohann
xtask/ @vadorovsky

wip: create-state-tree.ts
  js/stateless.js/src/actions/create-state-tree.ts
  js/stateless.js/src/idls/light_registry_patched.ts
  js/stateless.js/src/programs/account-compression.ts
  js/stateless.js/src/programs/index.ts
  js/stateless.js/src/programs/registry.ts
  js/stateless.js/tests/e2e/multi-trees.test.ts
Owners: @ananas-block, @vadorovsky

add: create-state-tree action working
  js/stateless.js/src/constants.ts
  js/stateless.js/src/programs/registry.ts
Owners: @ananas-block, @vadorovsky

disable: push registry idl. created backup
  js/stateless.js/package.json
  js/stateless.js/src/idls/light_registry_v1.ts
  programs/package.json
Owners: @ananas-block, @vadorovsky

Add SOL balance monitoring and alerting
  forester/alert_rules.yml
  forester/alertmanager.yml
  forester/src/epoch_manager.rs
  forester/src/metrics.rs
Owners: none

Add SOL balance monitoring and alerting (#1212)
  forester/alert_rules.yml
  forester/alertmanager.yml
  forester/src/epoch_manager.rs
  forester/src/metrics.rs
Owners: none

Refactor API requests to append API key, adjust retry logic
  forester/src/epoch_manager.rs
  forester/src/photon_indexer.rs
  photon-api/src/apis/default_api.rs
Owners: none

Reorganize imports for consistency
  photon-api/src/apis/default_api.rs
Owners: none

fix: photon-api: API requests to append API key (#1213)
  forester/src/epoch_manager.rs
  forester/src/photon_indexer.rs
  photon-api/src/apis/default_api.rs
Owners: none

wip. added ccreate-address-tree
  js/stateless.js/package.json
  js/stateless.js/src/actions/create-address-tree.ts
  js/stateless.js/src/actions/index.ts
  js/stateless.js/src/idls/light_registry copy.ts
  js/stateless.js/src/programs/registry.ts
  js/stateless.js/tests/e2e/multi-trees.test.ts
  scripts/fetch-metrics.sh
Owners: @ananas-block, @vadorovsky

refactor: Add more common types to `light-sdk`
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  sdk/Cargo.toml
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/constants.rs
  sdk/src/context.rs
  sdk/src/event.rs
  sdk/src/legacy.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Fix Merkle tree rollover threshold check. .
  forester/src/rollover/operations.rs
Owners: none

feat: Add Photon indexer
  Cargo.lock
  Cargo.toml
  client/Cargo.toml
  client/src/indexer/mod.rs
  client/src/indexer/photon.rs
  client/src/lib.rs
  client/src/utils.rs
  sdk/Cargo.toml
  sdk/src/address.rs
Owners: none

feat: Test SDK which uses Photon indexer
  sdk/Cargo.toml
  sdk/src/compressed_account.rs
  sdk/src/context.rs
  sdk/src/legacy.rs
  sdk/src/lib.rs
  sdk/src/verify.rs
  test-sdk/Cargo.toml
  test-sdk/src/lib.rs
Owners: none

Fix rollover logic for Merkle trees and add debug print.
  forester/src/rollover/operations.rs
  forester/tests/e2e_test.rs
Owners: none

fix: forester: rollover threshold check (#1215)
  forester/src/rollover/operations.rs
  forester/tests/e2e_test.rs
Owners: none

feat: Add `constraint =` attribute to `#[light_accounts]` macro
  examples/name-service/programs/name-service/src/lib.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  sdk/src/error.rs
  sdk/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

feat: Add `constraint =` attribute to `#[light_accounts]` macro (#1217)
  examples/name-service/programs/name-service/src/lib.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  sdk/src/error.rs
  sdk/src/lib.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

wip
  .gitignore
  forester/ansible/inventory.ini
  forester/ansible/playbook.yml
  forester/package.json
  forester/scripts/__pycache__/manage_droplets.cpython-312.pyc
  forester/scripts/auto_scale.py
  forester/scripts/check_forester.sh
  forester/scripts/manage_droplets.py
  js/stateless.js/package.json
Owners: @vadorovsky

Refactor send_transaction logic to use RPC pool
  forester/src/send_transaction.rs
Owners: none

Refactor send_transaction logic to use RPC pool (#1221)
  forester/src/send_transaction.rs
Owners: none

refactor: Simplify the check for `light_account` attribute
  .github/workflows/light-examples-tests.yml
  macros/light-sdk-macros/src/accounts.rs
Owners: @vadorovsky

fix: hash-set capacity pub -> private
  merkle-tree/hash-set/src/lib.rs
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/rollover_state_merkle_tree_and_queue.rs
Owners: @ananas-block, @vadorovsky

use getter
  forester-utils/src/address_merkle_tree_config.rs
  js/stateless.js/src/actions/create-account.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  test-utils/src/address_tree_rollover.rs
  test-utils/src/assert_queue.rs
  test-utils/src/state_tree_rollover.rs
  test-utils/src/test_forester.rs
Owners: none

fix ci
  merkle-tree/hash-set/src/lib.rs
  merkle-tree/hash-set/src/zero_copy.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
Owners: @ananas-block, @vadorovsky

fix: hash-set capacity pub -> private (#1224)
  forester-utils/src/address_merkle_tree_config.rs
  js/stateless.js/src/actions/create-account.ts
  js/stateless.js/src/test-helpers/test-rpc/test-rpc.ts
  js/stateless.js/tests/e2e/compress.test.ts
  js/stateless.js/tests/e2e/rpc-interop.test.ts
  merkle-tree/hash-set/src/lib.rs
  merkle-tree/hash-set/src/zero_copy.rs
  programs/account-compression/src/instructions/rollover_address_merkle_tree_and_queue.rs
  programs/account-compression/src/instructions/rollover_state_merkle_tree_and_queue.rs
  test-programs/account-compression-test/tests/merkle_tree_tests.rs
  test-utils/src/address_tree_rollover.rs
  test-utils/src/assert_queue.rs
  test-utils/src/state_tree_rollover.rs
  test-utils/src/test_forester.rs
Owners: @ananas-block, @vadorovsky

chore: switch ne_bytes to le_bytes
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/concurrent/src/copy.rs
  merkle-tree/concurrent/src/zero_copy.rs
  merkle-tree/hash-set/src/lib.rs
  merkle-tree/hash-set/src/zero_copy.rs
  merkle-tree/hasher/src/bytes.rs
  merkle-tree/indexed/src/zero_copy.rs
  utils/src/offset/copy.rs
  utils/src/offset/zero_copy.rs
Owners: @ananas-block, @vadorovsky

chore: switch ne_bytes to le_bytes (#1225)
  merkle-tree/bounded-vec/src/lib.rs
  merkle-tree/concurrent/src/copy.rs
  merkle-tree/concurrent/src/zero_copy.rs
  merkle-tree/hash-set/src/lib.rs
  merkle-tree/hash-set/src/zero_copy.rs
  merkle-tree/hasher/src/bytes.rs
  merkle-tree/indexed/src/zero_copy.rs
  utils/src/offset/copy.rs
  utils/src/offset/zero_copy.rs
Owners: @ananas-block, @vadorovsky

refactor: Simplify the check for `light_account` attribute (#1219)
  .github/workflows/light-examples-tests.yml
  macros/light-sdk-macros/src/accounts.rs
Owners: @vadorovsky

feat: Add `#[instruction]` attribute
  examples/name-service/programs/name-service/src/lib.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Switch to SolanaRpcConnection for epoch registration & work submission.
  forester/src/epoch_manager.rs
Owners: none

Remove Forester support from CLI scripts and test environment
  cli/package.json
  cli/scripts/copyForester.sh
  cli/src/commands/test-validator/index.ts
  cli/src/utils/constants.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/processForester.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

feat: Add `#[instruction]` attribute (#1220)
  examples/name-service/programs/name-service/src/lib.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

Refactor SolanaRpcConnection initialization formatting.
  forester/src/epoch_manager.rs
Owners: none

Remove Forester support from CLI scripts and test environment (#1229)
  cli/package.json
  cli/scripts/copyForester.sh
  cli/src/commands/test-validator/index.ts
  cli/src/utils/constants.ts
  cli/src/utils/initTestEnv.ts
  cli/src/utils/processForester.ts
Owners: @ananas-block, @sergeytimoshin, @vadorovsky

refactor: Add more common types to `light-sdk`
  Cargo.lock
  Cargo.toml
  examples/name-service/programs/name-service/src/lib.rs
  examples/name-service/programs/name-service/tests/test.rs
  macros/light-sdk-macros/src/accounts.rs
  macros/light-sdk-macros/src/program.rs
  sdk/Cargo.toml
  sdk/src/address.rs
  sdk/src/compressed_account.rs
  sdk/src/constants.rs
  sdk/src/context.rs
  sdk/src/event.rs
  sdk/src/legacy.rs
  sdk/src/lib.rs
  sdk/src/merkle_context.rs
  sdk/src/proof.rs
  sdk/src/utils.rs
  sdk/src/verify.rs
Owners: @ananas-block, @SwenSchaeferjohann, @vadorovsky

refactor: forester: switch to SolanaRpcConnection for epoch registration & work submission. (#1228)
  forester/src/epoch_manager.rs
Owners: none

feat: Add Photon indexer
  Cargo.lock
  Cargo.toml
  client/Cargo.toml
  client/src/indexer/mod.rs
  client/src/indexer/photon.rs
  client/src/lib.rs
  client/src/utils.rs
  sdk/Cargo.toml
  sdk/src/address.rs
Owners: none

Remove unused configuration and script files
  forester/alert_rules.yml
  forester/alertmanager.yml
  forester/docker-compose.yml
  forester/forester.toml
  forester/package.json
  forester/prometheus.yml
  forester/scripts/generate.ts
  forester/scripts/spawn.sh
  forester/scripts/wait_for_db.sh
Owners: @vadorovsky

Remove enable_forester config and cleanup references
  cli/src/commands/test-validator/index.ts
  forester/src/utils.rs
  forester/tests/e2e_test.rs
  forester/tests/test_utils.rs
Owners: @ananas-block, @sergeytimoshin

Remove forester devDependencies from pnpm-lock.yaml
  pnpm-lock.yaml
Owners: none
